*:focus {
    outline: none;
    -webkit-box-shadow: none !important;
}

:host {
    width: 100%;
    margin-bottom: 20em;
}

.title-page {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #162746;
}

.wallet-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*------------------------------------------------------general  CSS --------------------------------------------------*/

.div-block {
    /* background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px; */
    height: 100%;
    width: 77vw;
    /* width: 70%; */
}

.title-section {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #1f2337;
}

.small-label-type {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    /* line-height: 125.9%; */
    text-align: center;
    letter-spacing: 0.03em;
    color: #75758f;
}

.normal-font-weight {
    font-weight: normal !important;
}

.input-type {
    width: 100%;
    height: 48px;
    padding: 6px 15px;
    line-height: 1.57142857;
    border: 1px solid #d6d6e8;
    font-size: 16px;
    background-color: white;
    color: #323754;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
}

.error {
    text-align: center;
    color: #f52079;
    position: absolute;
    font-size: 13px;
    line-height: 13px;
}

.horizontal-line {
    border: 1px solid #d6d6e8;
    height: 0px;
    width: 100% !important;
}

.dark_grey {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #323754;
}

.dark_blue {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #1f2337;
}

.bold-font-weight {
    font-weight: bold;
}


/*-------------------------------------------------------------------------------------- END general  CSS ------------------------------------------------*/


/*-------------------------------------presention CSS------------------------------------------------*/

.type-textarea {
    resize: none;
    width: 100%;
    height: 92px;
    padding: 10px 15px;
    line-height: 1.57142857;
    border: 1px solid #d6d6e8;
    font-size: 16px;
    background-color: white;
    color: #323754;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
}


/*------css ngx-editor ---*/


/*------END  css ngx-editor -----*/


/*-----css import cover image---*/

.drop-box {
    border: 3px dashed #75758f;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    height: 200px;
    /* height: 150px; */
    text-align: center;
    padding: 12px 1px;
    /* margin: 0% 13%; */
    color: #8c8c8c;
    font-size: 18px;
    clear: both;
}

.danger_pic {
    vertical-align: middle;
    background: rgba(245, 32, 121, 0.2);
    border-radius: 30px;
    color: #f52079;
    border: none;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
}

.success_pic {
    background: rgba(0, 204, 158, 0.2);
    border-radius: 30px;
    color: #00cc9e;
    border: none;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
}


/*-----END css import cover image---*/

.div-show-logo-name {
    width: 100%;
    height: 48px;
    padding: 6px 15px;
    line-height: 1.57142857;
    border: 1px solid #d6d6e8;
    font-size: 16px;
    background-color: white;
    color: #adadc8;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    text-align: start;
    vertical-align: baseline;
    display: flex;
    align-items: center;
}

.alignment-div-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btn-default {
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 22.1827px;
    padding: 0.5em 1em;
    margin: 1em;
}

.btn-bg-blue {
    background-color: #4048ff;
}

.text-color-white {
    color: white;
}

.btn-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
}

.buttons-footer-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-launch-campaign {
    width: 500px;
}
@media(min-width: 768px) and (max-width:1024px){
      .div-footer-bar {
        display: flex !important;
    }
    .btn-white,
    .btn-blue {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .div-footer-bar {
        display: flex !important;
    }
    .btn-blue {
        display: none;
    }
    .btn-white {
        display: none;
    }
    .modal-content {
        display: block !important;
    }
    .alignment-div-logo {
        display: flex;
        justify-content: center;
        flex-direction: column !important;
    }
    .pt-3-mobile {
        padding-top: 1rem !important;
    }
    .dropdown {
        width: 100% !important;
    }
    .hide-mobile {
        display: none !important;
    }
    .div_network_group,
    .div_network_group_selected {
        max-width: max-content !important;
        min-width: max-content !important;
        align-items: center;
    }
    .input-max-reach,
    .div_input_oracle {
        max-width: 125px !important;
        min-width: 125px !important;
    }
    .input_followres,
    .div_input_fixed_reward {
        max-width: 95px !important;
        min-width: 95px !important;
    }
    .normal-font-weight {
        letter-spacing: 0.03em !important;
    }
    .bold-font-weight {
        font-size: 11px !important;
    }
    .make-center-mobile {
        justify-content: center !important;
    }
    .width-pic {
        width: 20px !important;
    }
    .short-horizontal-line {
        border: 1px solid #000000;
        height: 0px;
        width: 60% !important;
    }
}

.hide-mobile {
    display: block;
}

.import-logo {
    display: none !important;
}


/*-----------------------------------------------END Remuneration css---------------------------------------------------*/

.btn-blue {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48.4px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: #ffff;
    background: #4048ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    height: 48px;
}

.btn-blue:hover:enabled {
    background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-white {
    background: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 30px;
    color: #4048ff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 48px;
    width: 100%;
    cursor: pointer;
}

.blue-btn:hover,
.btn-white:hover:enabled {
    border: 2px solid #0009d3;
    box-shadow: none;
}

.btn-white:focus {
    border: 2px solid #d6d6e8;
    box-shadow: none;
}

.moonboy-mobile {
    width: 120px;
    height: 120px;
}

.blue-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: #ffff;
    background: #4048ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 160px !important;
    height: 48px;
}

.black-text {
    color: #000000 !important;
    -webkit-text-fill-color: black !important;
}

@media (min-width: 768px) {
    .modal-content {
        display: none !important;
    }
    .div-footer-bar {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .div-block {
        width: 100% !important;
    }
}

.modal-dialog {
    height: 100vh;
    margin: 0px auto;
    max-width: 1000px;
}

::ng-deep .modal-open .modal {
    z-index: 999999 !important;
}

.modal-header.modal-customm .btn-close {
    border: none !important;
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
    padding: 30px;
    max-height: 30px;
    max-width: 30px;
    box-shadow: none;
}

.modal-header.modal-customm,
.modal-body.modal-customm,
.modal-footer.modal-customm {
    border: none !important;
}

.modal-header.modal-customm {
    height: 60px;
}

.modal-body.modal-customm {
    padding: 20px 40px !important;
    text-align: center;
    position: relative;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
    max-width: 70vw;
    background-color: #f6f6ff !important;
    border-radius: 30px !important;
    border: none;
}

.modal-body.modal-customm button {
    padding: 10px 20px;
    border-radius: 30px;
    background: #4048ff;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #f6f6ff;
    border: none;
    width: 100%;
}

.modal-body.modal-customm h3,
.modal-body.modal-customm p,
.modal-body.modal-customm button {
    margin-top: 10px;
}

.modal-body.modal-customm h3 {
    background: -webkit-linear-gradient(#f52079, #4048ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 45.9659px;
    letter-spacing: 0.764648px;
    color: #1f2337;
}

.modal-body.modal-customm p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #323754;
    width: 100%;
    margin-bottom: 25px;
}


/*****css footerbar*******/

.div-footer-bar {
    width: 100%;
    height: 62px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background: white;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    box-shadow: 0px -4px 15px 0px #00000040;
    z-index: 9999;
}

.span-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
}

.div-center {
    margin-bottom: 17px;
    background: white;
    border-radius: 63px;
    position: relative;
}

.font-size-32 {
    font-size: 32px;
}

.div-adPool,
.div-wallet,
.div-home,
.div-back-top {
    display: flex;
    height: 52px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    max-width: 50%;
}

.div-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.div-pic-center {
    align-items: center;
    display: flex;
    justify-content: center;
    background: #f6f6ff;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    margin-top: 6px;
    z-index: 1;
}

.pink-text {
    color: #f52079;
}

.blue-text {
    color: #4048ff;
}

.gray-text {
    color: #75758f;
}

.disabled-text {
    color: #d6d6e8;
}

.btn-pending {
    justify-content: center;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    height: 48px;
    /* width: 169px; */
    width: 300px;
    border-radius: 30px;
    background-color: #f6f6ff;
    color: #75758f;
    /* box-shadow: 0px 4px 20px 0px #00000033; */
}

.back-top-pic-disabled,
.back-top-text-disabled {
    display: none;
}

#back-top-pic-disabled {
    margin-top: 0.5em;
}
