<div class="container-fluid">
  <div class="row">
    <!------------------------------------------------------------ left bloc--------------------------------------------------------->
    <div
      class="col-xl-5 col-lg-5 col-md-5 Password_lost_background position-relative show-pc-version"
    >
      <!----Logo satt pc version ------->
      <div>
        <img src="/assets/Images/satt_logo_white.svg" class="SaTTIcon" alt="" />
      </div>
      <!----desktop image------->
      <div class="d-flex justify-content-center">
        <img src="/assets/Images/reset_Img.svg" class="icon_pc" alt="" />
      </div>
      <!----footer Copyright ------->
      <div class="d-flex justify-content-start div_footer">
        <img
          class="img-fluid logo_footer_login"
          src="/assets/Images/logo_auth.png"
        />
        <p class="Copyright_footer_login">
          Copyright © 2023 ATAYEN, Inc.{{ 'Sidebar.copyright' | translate }} ,
          <a
            class="Copyright_footer_login_black"
            [routerLink]="['/cgu']"
            target="_blank"
            style="text-decoration: underline"
            >CONDITIONS</a
          >
         {{ 'and' | translate }}
          <a
            class="Copyright_footer_login_black"
            [routerLink]="['/privacy-policy']"
            target="_blank"
            style="text-decoration: underline"
            >{{ 'privacyPolicy' | translate }}</a
          >
        </p>
      </div>
    </div>
    <!-------------------------------------------------------------- right bloc--------------------------------------------------------->
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 right-side-content">
      <div class="d-flex justify-content-between">
        <!----Logo satt mobile version ------->
        <div class="pt-3">
          <img
            src="/assets/Images/logo_satt.svg"
            class="show-mobile-version SaTTIconMobile"
            alt=""
          />
        </div>

        <!----dropdown translate ------->
        <div>
          <div class="dropdown">
            <button
              class="btn btntoggle dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span *ngIf="languageSelected === 'en'"> En</span>
              <span *ngIf="languageSelected === 'fr'"> Fr</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li
                class="lang-select"
                *ngFor="
                  let language of translate.getLangs();
                  trackBy: trackByLanguage
                "
              >
                <a
                  (click)="switchLang(language)"
                  [routerLink]=""
                  *ngIf="language === 'en'"
                  class="lang-en"
                  >English</a
                >
                <a
                  (click)="switchLang(language)"
                  [routerLink]=""
                  *ngIf="language === 'fr'"
                  class="lang-fr"
                  >Français</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-5">
        <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
          <span class="tittle_page">{{
            'change_password_description' | translate
          }}</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8 flex-column">
          <p class="white-mobile-version">
            {{ 'Renew_password2' | translate }}
          </p>
        </div>
      </div>
      <!----Form------->
      <div class="row">
        <form [formGroup]="resetPasswordForm">
          <div class="row mt-5 px-1 d-flex justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
              <label class="label_input">
                {{ 'Profil.new_password' | translate }}</label
              >
            </div>
          </div>
          <div class="row mt-1 px-1 d-flex justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
              <div class="div_input_add position-relative">
                <input
                  type="password"
                  autocomplete="on"
                  name="password"
                  id="password"
                  formControlName="password"
                  placeholder=""
                  class="input_oeil"
                  #password
                />
                <span
                  (click)="
                    password.type =
                      password.type == 'password' ? 'text' : 'password'
                  "
                  class="fa fa-fw cross_input align-self-center"
                  aria-hidden="true"
                  [ngClass]="
                    password.type === 'password' ? ' fa-eye-slash ' : ' fa-eye'
                  "
                ></span>
              </div>
            </div>
          </div>
          <div class="row mt-3 px-1 d-flex justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
              <label class="label_input">
                {{ 'Profil.confirm_new_password' | translate }}</label
              >
            </div>
          </div>
          <div class="row mt-1 px-1 d-flex justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
              <div class="div_input_add position-relative">
                <input
                  type="password"
                  autocomplete="on"
                  name="confirmPassword"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder=""
                  class="input_oeil"
                  #confirmPassword
                />
                <span
                  (click)="
                    confirmPassword.type =
                      confirmPassword.type == 'password' ? 'text' : 'password'
                  "
                  class="fa fa-fw cross_input align-self-center"
                  aria-hidden="true"
                  [ngClass]="
                    confirmPassword.type === 'password'
                      ? ' fa-eye-slash '
                      : ' fa-eye'
                  "
                ></span>
              </div>
            </div>
          </div>
          <!----error msg and succes msg ------->
          <div class="row pt-1 d-flex justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
              <span
                class="error_input"
                *ngIf="
                  this.resetPasswordForm.errors?.mustMatch &&
                  this.resetPasswordForm.dirty
                "
              >
                {{ 'Profil.password_must_match_error' | translate }}
              </span>
            </div>
          </div>
          <div
            class="row mt-3 d-flex justify-content-center"
            *ngIf="
              this.resetPasswordForm.get('password')?.invalid &&
              !this.resetPasswordForm.get('password')?.errors?.required
            "
          >
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
              <span class="error_input"
                >{{ 'Profil.password_minlength_eight_chars' | translate }}
              </span>

              <span class="error_input"
                >-{{ 'Profil.password_uppercase' | translate }}</span
              >

              <span class="error_input"
                >-{{ 'Profil.password_lowercase' | translate }}</span
              >

              <span class="error_input"
                >-{{ 'Profil.password_number' | translate }}</span
              >

              <span class="error_input"
                >-{{ 'Profil.password_special_character' | translate }}</span
              >
            </div>
          </div>
          <div
            class="row mt-3 d-flex justify-content-center"
            *ngIf="
              this.resetPasswordForm.valid &&
              !this.resetPasswordForm.errors?.mustMatch
            "
          >
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8">
              <span class="success_input">
                <img
                  src="/assets/Images/vector-success.svg"
                  style="width: 21px"
                  class="vector-success pe-2"
                />{{ 'same_password' | translate }}</span
              >
            </div>
          </div>
          <!---- blue button------->
          <div class="row mt-5 mb-4 px-1 justify-content-center">
            <div
              class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-8 d-flex justify-content-center"
            >
              <button
                type="button"
                class="btn-blue"
                (click)="resetPasswordAndOpenSuccessModal(resetPwdSuccessModal)"
                [disabled]="this.resetPasswordForm.invalid"
              >
                {{ 'change_password_description' | translate }}
              </button>
            </div>
          </div>

          <!-- Reset password Success modal -->
          <ng-template #resetPwdSuccessModal>
            <div class="modal-content-auth">
              <div class="modal-header modal-customm">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  (click)="closeModal(resetPwdSuccessModal)"
                ></button>
              </div>
              <div class="modal-body modal-customm">
                <ng-container *ngIf="passwordResetSuccessful">
                  <img
                    class="satt-modal-header-img"
                    src="assets/Images/new-success.png"
                  />
                  <h3 class="textpwd margin-pw">
                    {{ 'changed_password_title_success' | translate }}
                  </h3>
                  <div class="row justify-content-center">
                    <p class="changedpassword">
                      {{ 'changed_password_message_success' | translate }}
                    </p>
                  </div>

                  <div class="row mt-3 mb-3 px-1 justify-content-center">
                    <button
                      type="button"
                      class="btn-reset-passwd"
                      (click)="closeModal(resetPwdSuccessModal)"
                    >
                      {{ 'great' | translate }}
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="!passwordResetSuccessful">
                  <img
                    class="satt-modal-header-img"
                    src="assets/Images/error-icon.svg"
                  />
                  <h3 class="textpwd margin-pw">
                    {{ 'changed_password_title_failure' | translate }}
                  </h3>
                  <div class="row justify-content-center">
                    <p class="changedpassword">
                      {{ 'changed_password_mesage_failure' | translate }}
                    </p>
                  </div>

                  <div class="row mt-3 mb-3 px-1 justify-content-center">
                    <button
                      type="button"
                      class="btn-reset-passwd"
                      (click)="closeModal(resetPwdSuccessModal)"
                    >
                      {{ 'Ok!' | translate }}
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-template>

          <!----footer social media------->
          <div
            class="social-media-icons-container d-flex justify-content-end show-pc-version"
          >
            <div class="overlay"></div>
            <a
              class="sn-icon"
              href="https://t.me/satttoken"
              target="_blank"
              class="social-media-icons social-telegram_black m-1 hvr-grow3"
            >
              <div class="overlay"></div>
            </a>
            <a
              href="https://www.facebook.com/SaTT.Token/?hc_location=ufi"
              target="_blank"
              class="social-media-icons social-facebook_black m-1 hvr-grow3"
            ></a>
            <a
              href="https://twitter.com/SaTT_Token"
              target="_blank"
              class="social-media-icons social-twitter_black m-1 hvr-grow3"
            ></a>
            <a
              href="https://bitcointalk.org/index.php?topic=3407522"
              target="_blank"
              class="social-media-icons social-bitcoin_black m-1 hvr-grow3"
            ></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--div spinner -->
<div class="loader" *ngIf="showSpinner"></div>
<!-- End div spinner -->
