<div class="roi-modal">
  <div class="modal-header modal-custom">
    <button
      type="button"
      class="btn-close pull-right close"
      data-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body modal-custom justify-content-center content">
    <div class="content">
      <h2>ROI Calculator</h2>
    </div>
    <div class="description-modal">
      ROI measures investment profitability by calculating initial <br />
      investment percentage earned/lost.
    </div>
    <div *ngIf="campaignType === 'performance'">
      <h3>Earnings</h3>
    </div>
    <div *ngIf="campaignType === 'publication'">
      <h3>Put number of followers</h3>
    </div>
    <div class="container" *ngIf="campaignType === 'performance'">
      <div class="row flex-sm-row flex-column justify-content-center">
        <div class="col-sm input-social-media">
          <div>
            1 View = {{ campaignView }}
            <span>
              <img
                class="icon-crypto-input"
                src="/assets/Images/icons-crypto/black/{{ tokenName }}.svg"
              />
             </span>
          </div>
          <app-input-roi-modal ></app-input-roi-modal>
        </div>
        <div class="col-sm input-social-media">
          <div>1 like = {{ campaignlike }}  <span>
            <img
              class="icon-crypto-input"
              src="/assets/Images/icons-crypto/black/{{ tokenName }}.svg"
            />
           </span>
          </div>
          <app-input-roi-modal></app-input-roi-modal>
        </div>
        <div class="col-sm input-social-media">
          <div>1 Shar = {{ campaignShare }} 
            <span>
              <img
                class="icon-crypto-input"
                src="/assets/Images/icons-crypto/black/{{ tokenName }}.svg"
              />
             </span>
          </div>
          <app-input-roi-modal></app-input-roi-modal>
        </div>
        <div class="col-sm input-social-media" *ngIf="!ReachMaxExist">
          <div>maxreach={{ campaignReachMax }}%</div>
          <app-input-roi-modal></app-input-roi-modal>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="campaignType === 'publication'">
      <div class="row flex-sm-row flex-column justify-content-center">
        <div class="col-sm input-social-media">
          <div>
            1 View = {{ campaignView }}
            <span>
              <img
                class="icon-crypto-input"
                src="/assets/Images/icons-crypto/black/{{ tokenName }}.svg"
              />
             </span>
          </div>
          <app-input-roi-modal ></app-input-roi-modal>
        </div>
     
      </div>
    </div>
    <div class="justify-content-center">
      <h5 class="mt-5">ROI at current Rate</h5>
    </div>
    <div class="container roi-rate">
      <div class="current-rate col col-sm-8 align-items-center mb-1">
        {{ roiCurrentRate }}  <span>
          <img
            style="height: 24px; width: 24px;"
            src="/assets/Images/icons-crypto/black/{{ tokenName }}.svg"
          />
         </span>
      </div>
      <div  class="current-rate col-xxl-4 col-xl-4 col-md-12 col-lg-4 col-sm-8 col-10 align-items-center mb-2">
        $ {{ roiCurrentUsd }}
      </div>
    </div>

    <div class="more-details">
      <a href="https://example.com">More details</a>
    </div>
  </div>
</div>
