:host {
    width: 100%;
}

.middle-grey-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14;
    line-height: 25px;
    color: #75758F;
    position: relative;
    top:-5px;
    right:3px
    
}
.middle-grey-text1 {
    font-style: normal;
    font-weight: 600;
    font-size: 14;
    line-height: 25px;
    color: #75758F;
    // position: relative;
    // top:-5px;
    // right: 10px
}

.dark-text {

    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: #1F2337;
}

.gray-bloc {
    background: #F6F6FF;
    border-radius: 30px;
    height: 100%;
}

.width-row {
    max-width: calc(100% / 3) !important;
    width: calc(100% / 3) !important;
}

@media (max-width:991.98px) {
    .dark-text {
        font-size: 30px;
    }
}

.horizontal_line {
    border: 1px solid #D6D6E8;
    width: 94%;
    height: 0px;
}

@media(max-width:767.98px) {
    .horizontal_line,
    .hide-mobile {
        display: none;
    }
    .direction-column {
        flex-direction: column !important;
        text-align: center;
    }
    .direction-column-reverse {
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .padding-left-0 {
        padding-left: 0!important;
    }
    .border-mobile {
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        border-width: 92%;
    }
    .gray-bloc-mobile {
        background: #F6F6FF;
        border-radius: 30px;
        height: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .dark-text {
        font-size: 24px;
    }
}
@media(min-width:768px) {
img.stat-icon{
    margin-top: 20px;
    margin-right: 15px;
}
}