:host {
  display: block;
  background-color: white;
  // margin-bottom: 1em;
  // border-radius: 30px;
  // border-radius: 0px 0px 20px 20px;
  // box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
  padding: 5em 2em;
  position: relative;
  font-style: normal;
  color: #1f2337;
  min-width: 320px;
  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .campaign-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
  }
  .main-content {
    margin: 3em auto 0.5em;
    max-width: 700px;
  }
  .text-grey {
    color: #75758f;
  }
  .bg-grey {
    background: #d6d6e8;
  }
  .hr-separator {
    border: 2px solid #f6f6ff;
  }
  .capitalize-first-letter::first-letter {
    text-transform: uppercase;
  }
  .influencer-account-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    letter-spacing: 0.03em;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .go-back-link {
    padding: 0.5em;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #4048ff;
  }
  .post-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .start-date-text {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 125.9%;
    /* or 20px */
    letter-spacing: 0.1em;
  }
  .participation-link-wrapper {
    background-color: #f6f6ff;
    min-width: 200px;
    border: 1px solid #f6f6ff;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    .participation-link {
      margin: 0 1em;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */
      text-align: center;
      letter-spacing: 0.03em;
      /* dark grey */
      color: #323754;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: none;
      width: 100%;
    }
    img {
      max-width: 40px;
    }
  }
  .statistics-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .statistic-element {
    display: flex;
    margin: 0.5em;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
  }
  .separator::before {
    content: '';
    height: 40px;
    border: 1px solid #ecedff;
    position: absolute;
  }
  .budget-wrapper {
    .budget-in-usd {
      font-weight: 600;
      font-size: 14px;
      line-height: 125.9%;
      /* or 18px */
      text-align: center;
      letter-spacing: 0.07em;
    }
    .budget-in-satt {
      font-weight: bold;
      font-size: 36px;
      line-height: 50px;
      /* or 139% */
      text-align: center;
      letter-spacing: 1px;
      /* Blue */
      color: #4048ff;
    }
    .gas-fee {
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      /* identical to box height, or 19px */
      letter-spacing: 0.03em;
    }
  }
  .confirm-wallet-password {
    opacity: 0.8;
    border-radius: 30px;
    margin: 1em auto;
    padding: 1em 5vw;
    max-width: 800px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 375px) {
  .campaign-title {
    max-width: 200px;
  }
}

.cursor-pointer {
  cursor: pointer;
}
