.bg-header-info {
  display: flex;
  flex-direction: row;
}
.bg-header {
  background: #4048ff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  top: 0px;
  width: 100%;
  height: 24vh;
  z-index: 2;
}
.bg-header-info {
  width: 73.5%;
  align-self: end;
}
.back-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  text-align: right;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.crypto-logo-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.crypto-logo-img {
  width: 80px;
  border-radius: 50px;
}
.send-button {
  padding: 0.25em 2.5rem;
  margin-right: 1rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4048ff;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.buy-button {
  padding: 0.25em 2.5rem;
  margin-right: 1rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #ffa318;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.spinner {
  height: 90px;
}
.request-button:disabled,
.send-button:disabled,
.buy-button:disabled {
  background: #f6f6ff;
  border: 1px solid #d6d6e8;
  box-sizing: border-box;
  border-radius: 30px;
  color: #adadc8;
}
.request-button {
  padding: 0.25em 2.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #00cc9e;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.crypto-details-container {
  margin-top: 5vh;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1439px) {
  .bg-header-info {
    width: 90%;
  }
  .buy-button {
    padding: 0.25em 2.5rem;
    font-size: 12px;
  }
  .request-button {
    padding: 0.25em 2.5rem;
    font-size: 12px;
  }
  .send-button {
    padding: 0.25em 2.5rem;
    font-size: 12px;
  }
  .crypto-logo-text {
    font-size: 30px;
  }
  .crypto-logo-img {
    width: 60px;
  }
}
.chart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.innerSpan {
  color: black;
  padding: 0.25rem 0.5rem;
  font-family: Poppins;
  font-style: normal;
  width: 100px;
  height: 70px;
  font-weight: 500;
  font-size: 12px;
}
.parentSpan {
  position: absolute;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica,
    sans-serif;
  font-size: 11px;
  white-space: nowrap;
  margin-left: 0px;
  margin-top: 0px;
  left: 901px;
  top: 205px;
  color: rgb(102, 102, 102);
  cursor: default;
  text-overflow: clip;
  opacity: 1;
}
.chart {
  width: 100%;
  margin-left: -0.5rem;
}
.yAxisValue {
  color: #00cc9e;
}

.price-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #323754;
}

.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 55px;
  height: 40px;
  background: #f6f6ff;
  border-radius: 15px;
  color: #212529;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  margin-right: 1rem;
  cursor: pointer;
}

.gray-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #75758f;
  text-transform: uppercase;
}
.title-border {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
}
.title-border-md {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
}
.text-value {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #212529;
  margin-top: 0.75rem;
}
.percent-change {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-top: 0.75rem;
}
.crypto-text-details ul li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  letter-spacing: 0.03em;
  color: #4048ff;
}

.crypto-text-details-part {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #323754;
}

.visit-button {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(50, 55, 84, 0.4);
  border-radius: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4048ff;
  padding: 0.5rem 1rem;
  line-height: 10px;
  cursor: pointer;
}

.details-box {
  width: 24%;
}

.details-boxes-container {
  display: flex;
  justify-content: space-between;
}

@media (max-height: 695px) {
  .crypto-details-container {
    padding-top: 4rem;
  }
}
@media (max-width: 1118px) {
  .gray-title {
    font-size: 12px;
  }
  .text-value {
    font-size: 18px;
  }
  .percent-change {
    font-size: 14px;
  }
}
@media (max-width: 470px) {
  .chart-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    gap: 20px;
  }
  .visit-button {
    font-size: 9px;
  }
}
@media (min-width: 471px) {
  .chart-header {
    padding-left: 1rem;
  }
}
@media (max-width: 325px) {
  .filter-box {
    width: 46px;
  }
}

@media (max-width: 768px) {
  .border-top-sm {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .price-title {
    padding: 0 1rem;
  }
  .crypto-text-details {
    padding: 0 1rem;
  }
  .details-boxes-container {
    display: block;
  }
  .right-part-sm-details-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .title-border-md {
    box-shadow: none;
  }
  .details-box {
    width: 100%;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .crypto-info-body {
    position: relative;
    width: 100%;
  }

  .bg-header-info {
    width: 90%;
  }
  .bg-header {
    background: linear-gradient(180deg, #162746 0%, #4048ff 82.69%);
  }
  .buy-button {
    padding: 0.25em 2rem;
    font-size: 10px;
  }
  .request-button {
    padding: 0.25em 2rem;
    font-size: 10px;
  }
  .send-button {
    padding: 0.25em 2rem;
    font-size: 10px;
  }
  .crypto-logo-text {
    font-size: 25px;
  }
  .crypto-logo-img {
    width: 50px;
  }
}
@media (max-width: 767.9px) {
  ::ng-deep.container-main {
    padding-bottom: 50px;
  }
  .bg-header-info {
    flex-direction: column;
  }
  .crypto-logo {
    align-self: center !important;
  }
}
@media (min-height: 695px) and (max-height: 737px) {
  .bg-header {
    height: 30vh;
  }
}
@media (max-height: 695px) {
  .bg-header {
    height: 36vh;
  }
}
