<div class="col-12 transactionHash-wrapper bg-grey" *ngIf="transactionHash">
  <h6 class="trx-hash-title" *ngIf="type === 'apply'">
    {{ 'Your signature: ' | translate }}
  </h6>
  <h6 class="trx-hash-title" *ngIf="type !== 'apply'">
    {{ 'Your transaction hash: ' | translate }}
  </h6>
  <div class="d-flex align-items-baseline justify-content-center">
    <a [href]="type !== 'apply' ? networkWallet : 'farm-posts'" target="_blank">
      <!-- <p class="trx-hash-text text-bold">{{ transactionHash }}</p> -->
      <div class="d-flex justify-content-center">
        <span class="span-wallet flex-start">{{ transactionHash }}</span>
        <span class="span-wallet2 flex-end mb-1">{{ transactionHash }} </span>
      </div>
    </a>
    <button
      (click)="copyTransactionHash()"
      class="copy-to-clipboard-btn d-flex"
    >
      <span *ngIf="!isTransactionHashCopied" class="">
        <img src="/assets/Images/copy-clipboard.svg" style="width: 17px" />
      </span>
      <span *ngIf="isTransactionHashCopied" class=""> Copied! </span>
    </button>
  </div>
</div>
