:host {
  width: 100%
}
/* 
.bg-grey {
  background-color: #f6f6ff;
} */
a:link {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.transactionHash-wrapper {
  margin: 1em auto;
  border-radius: 1.2rem;
  padding: 1em;
  /* max-width: 500px; */
  max-width: 236px;
}
.copy-to-clipboard-btn {
  cursor: pointer;
  /* margin: 1em auto; */
  margin: -0.1em 0em auto;  /* padding: 0.5em; */
  border: none;
  background-color: transparent;
  color: #4048ff;
  width: 17px;
}
.span-wallet {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;  color: #4048ff;
  font-weight: 400;
}

.span-wallet2 {
  /*display: inline-flex;
  width: 100px;*/
  overflow: hidden;
  display: inline-flex;
  max-width: 100px;
  justify-content: flex-end;
  color: #4048ff;
    font-weight: 400;
}
a{
  text-decoration: none !important;
}
.trx-hash-text {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #4048ff;
}

.trx-hash-title {
  color: #75758f;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.text-color-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}
