<div class="welcome_cover d-flex">
  <div class="col welcome_description">
    <div class="row mb-1 welcome_title">FARM YOUR SOCIAL NETWORKS</div>
    <div class="row mb-3 welcome_subtitle">Earn Cryptos with a Post</div>
    <div class="row mb-4 welcome_description_long">
      Are you interested in earning cryptos through the power of blockchain
      technology and social media? So why not start leveraging your social media
      accounts today and see how you can earn cryptos with just a few clicks?
      With a little effort and engagement, you can start "farming" your social
      networks and earning crypto, So why not start exploring the world of
      socialfi and crypto today, and see how you can turn your social media
      presence into a profitable venture?
    </div>
    <div class="row welcome_btn_launch">
      <button class="btnStart">Launch App</button>
    </div>
    <div>
      <video
        class="d-block d-sm-none"
        src="assets/Images/dancing_moonboy.webm"
        style="width: 100%; height: auto; mix-blend-mode: exclusion"
        autoplay
        loop
      ></video>
    </div>
  </div>
  <div class="col justify-content-center align-items-center d-none d-sm-block">
    <video
      src="assets/Images/dancing_moonboy.webm"
      style="width: 150%; height: auto; mix-blend-mode: exclusion"
      autoplay
      loop
    ></video>
  </div>
</div>
<!-- <div class="bg-container">
  <div class="bg-content d-flex flex-column">
    <div class=""><h1>Hello World</h1></div>
    <div class="bg-title text-left">FARM YOUR SOCIAL NETWORKS</div>
    <div class="bg-subtitle text-left">Earn Cryptos with a Post</div>
    <p class="bg-description text-left">
      Are you interested in earning cryptos through the power of blockchain
      technology and social media? So why not start leveraging your social media
      accounts today and see how you can earn cryptos with just a few clicks?
      With a little effort and engagement, you can start "farming" your social
      networks and earning crypto, So why not start exploring the world of
      socialfi and crypto today, and see how you can turn your social media
      presence into a profitable venture?
    </p>
    <div class="bg-moon-boy text-right">
      <img src="assets/Images/welcome-page-bg-img.png" #moonBoyImg alt="" />
    </div>
  </div>
</div> -->
<div
  class="row d-flex align-items-center justify-content-center mt-lg-5 mt-md-0"
>
  <span class="adpool-title">New AdPools</span>
</div>
<div class="row d-flex align-items-center justify-content-center mt-2">
  <div class="container mt-lg-5 mt-md-0 d-flex justify-content-center">
    <div class="row adpools-container">
      <div class="style-grid mt-4">
        <app-list-items
          [infiniteScrollContainer]="'.center-content'"
          [fromRoot]="true"
        >
          <ng-template appItemsList>
            <app-campaigns-list-item
              *ngFor="
                let campaign of campaignsList.slice(0, 3);
                trackBy: trackById
              "
              [campaign]="campaign"
            ></app-campaigns-list-item>
            <ng-container *ngIf="isLoading">
              <app-campaigns-list-item-placeholder-ui
                *ngFor="let card of [1, 2, 3]"
              ></app-campaigns-list-item-placeholder-ui>
            </ng-container>
          </ng-template>
        </app-list-items>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex align-items-center justify-content-center mt-4 mb-5">
  <div
    class="btn_container_loadmore"
    *ngIf="!isLoading && !noData"
    (click)="loadMore()"
  >
    <span class="load-more-btn">All Adpools</span>
    <span class="load-more-btn-arrow">></span>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row info-container margin-top">
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">Market Cap</span>
        <span class="info-value">$ {{ marketCap }}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">SaTT Price</span>
        <div class="d-flex justify-content-center align-items-center">
          <span class="d-md-none mr-4">
            <img
              *ngIf="percentChange >= 0"
              src="assets/Images/price-up.svg"
              alt="price-up" />
            <img
              *ngIf="percentChange < 0"
              src="assets/Images/price-down.svg"
              alt="price-down"
          /></span>
          <span class="info-value"
            >$ {{ sattPrice }}
            <span class="satt-percent d-none d-md-block">
              ({{ percentChange }}%)
            </span>
          </span>
        </div>
      </div>
    </div>

    <!-- Transactions and wallets counts -->
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">Nb of Wallets</span>
        <span class="info-value">{{ nbrWallet }}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">Nb of Transactions</span>
        <span class="info-value">{{ nbr_tx_mainnet }}</span>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">AdPools</span>
        <span class="info-value">{{ nbPools }}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">Reach</span>
        <span class="info-value">{{ reach }} % </span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">Posts</span>
        <span class="info-value">{{ posts }}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">Views</span>
        <span class="info-value">{{ views }}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">TVL</span>
        <span class="info-value">$ {{ tvl | number }}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
      <div class="info-box d-flex justify-content-between align-items-center">
        <span class="info-name">Harvested</span>
        <!-- <span class="info-value"> {{ harvested | currency: 'USD' }} </span> -->
        <span class="info-value">$ {{ harvested | number }} </span>
      </div>
    </div>
  </div>
</div>
<div class="welcome_btn_launch" id="btn_launch_stat">
  <button class="btnStart">Launch App</button>
</div>

<div class="welcome_footer_lunch text-center">
  <div class="col-7" style="margin: auto">
    <div class="pt-5 mb-1 welcome_footer_title" style="margin: auto">
      Launch your Adpool Now !
    </div>
    <div class="row mb-4 welcome_description_long">
      Adpool is an innovative tool for advertisers looking to maximize the
      impact of their marketing campaigns. It allows advertisers to solicit
      influencers to speak about their brand or product, while also compensating
      them with the SaTT token. By applying to create an Adpool, our experienced
      team will contact you to guide and assist you in setting up your campaign.
      Trust Adpool for a successful marketing campaign !
    </div>
    <div class="btn_apply_lunch mb-3" style="margin: auto">Apply to launch</div>
  </div>
</div>

<ng-container>
  <div
    class="row welcome-page-footer d-flex flex-column align-items-center justify-content-center mt-4"
  >
    <div class="welcome-page-footer-title">Follow us</div>
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="social-footer"
        src="assets/Images/socials/facebook-white.svg"
        (click)="openInNewTab('https://www.facebook.com/SaTT.Token/')"
        alt="facebook"
      />
      <img
        class="social-footer"
        src="assets/Images/socials/instagram-white.svg"
        (click)="openInNewTab('https://www.instagram.com/satt.token/')"
        alt="instagram"
      />
      <img
        class="social-footer"
        src="assets/Images/socials/twitch-white.svg"
        (click)="openInNewTab('https://www.twitch.tv/satt_token')"
        alt="twitch"
      />
      <img
        class="social-footer"
        src="assets/Images/socials/twitter-white.svg"
        (click)="openInNewTab('https://twitter.com/SaTT_Token')"
        alt="twitter"
      />
      <img
        class="social-footer"
        src="assets/Images/socials/youtube-white.svg"
        (click)="
          openInNewTab(
            'https://www.youtube.com/channel/UCNSq8P6ZmrhF0Ft3fouqOTw'
          )
        "
        alt="youtube"
      />
    </div>

    <div
      class="d-flex justify-content-center align-items-center copyrights flex-column"
    >
      <div>Copyright © 2023 Atayen, Inc.</div>
      <div>
        All right reserved,&nbsp;
        <span style="text-decoration: underline" routerLink="/cgu" class="point"
          >CONDITIONS</span
        >&nbsp; and &nbsp;
        <span
          style="text-decoration: underline"
          routerLink="/privacy-policy"
          class="point"
          >PRIVACY POLICY</span
        >
      </div>
    </div>
  </div>
</ng-container>
