/*:host {
  display: -webkit-box;
  !* OLD - iOS 6-, Safari 3.1-6 *!
  display: -moz-box;
  !* OLD - Firefox 19- (buggy but mostly works) *!
  display: -ms-flexbox;
  !* TWEENER - IE 10 *!
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  // min-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 3%;
  flex-direction: column;
  height: 100%;
  // padding-bottom: 10vh;
}*/

:host {
  background: white;
}

.lanche_title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #1f2337;
}
.welcome_cover {
  color: white;
  background: linear-gradient(286.72deg, #00072b 32.94%, #4048ff 108.54%);
  // background-image: url('~assets/Images/header-welcome-page-v2.svg');
  // background-size: cover;
  align-items: center;
  // height: 100%;
  // width: 100vw;
  // height: 663px;
}

.welcome_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 65.0965px;
  line-height: 110%;
}

.welcome_subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.welcome_description_long {
  align-items: center;
  // text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.welcome_description {
  padding-top: 10%;
  padding-left: 5%;
  // height: 600px;
}

.welcome_video_moon {
  padding-top: 10%;
  height: 600px;
}
.lanche_text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #323754;
}
.blog-description{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;

  width: 359px;
}
.blog-bloc{
  align-items: center; 
  background: #F6F6FF; 
  height: 290px
}
.blog-img{
  width: 413px;
  height: 210px;
  border-radius: 30px;
}
.satt_lanche {
  width: 465px;
  max-width: 465px;
  margin: 2em auto;
}

.lanche_title_div {
  margin: 0 auto;
}

.welcome {
  flex-direction: column;
  margin: 0em auto;
  margin-top: 2%;
}

.lanche_text_div {
  margin: 0 auto;
}

.btn_row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome_btn_launch {
  width: fit-content;
}
.btnStart {
  color: #ffffff;
  width: 226px !important;
  background-color: #f52079;
  // background-color: #4048ff;
}

.btnStart:hover {
  background: linear-gradient(
    85.14deg,
    #f52079 -1.05%,
    #4048ff 103.39%
  ) !important;
}

.btnStart:focus {
  outline: 3px solid rgba(64, 72, 255, 0.3) !important;
}

.btnInfo {
  background-color: #ffffff;
  color: #4048ff;
  box-shadow: 0px 2px 6px rgba(50, 55, 84, 0.4) !important;
}

.btnInfo:hover {
  background: #f6f6ff;
  box-shadow: 0px 2px 6px rgba(50, 55, 84, 0.4);
}

.btnInfo:focus {
  background: #f6f6ff;
  box-shadow: inset 0px 3px 4px rgba(50, 55, 84, 0.4) !important;
}

.btnStart,
.btnInfo {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.01em;
  margin: 0.2em auto;
  border-radius: 30px;
  height: 48px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border: none;
  margin-bottom: 1em;
  width: 356.15px;
}

@media (max-width: 767.98px) {
  
  .welcome_cover{
    text-align: center;
  }
  .welcome_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-top: 10%;
  }
  .welcome_description {
    padding-left: 7%;
    padding-right: 7%;
  }
  .welcome_subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
  }
  .welcome_description_long {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.8px;
  }
  .welcome_btn_launch {
    width: auto;
  }
.blog-bloc {
  height: auto;
  text-align: center;
}
.blog-description{
  display: inline-flex;
  width: 100%;
}
.blog-img{
  width: 308.95px;
height: 161.16px;
}
  .lanche_text {
    font-size: 18px;
  }
  .white-background-mobile {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 73%;
    margin: 3%;
  }
  .btnStart {
    // width: 100% !important;

    width: 152px !important;
    height: 48px;
  }
  .btnInfo {
    display: none !important;
  }
  .satt_lanche {
    width: 84%;
    margin: 0;
  }
  .btn_row {
    flex-direction: column-reverse;
  }
  .welcome {
    justify-content: flex-end !important;
  }
}

.spinner-border {
  color: #4048ff;
}

.header {
  width: 100%;
  object-fit: cover;
  aspect-ratio: unset;
}

.style-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 30px;
}

@media (min-width: 1300.98px) and (max-width: 1440.98px) {
  .style-grid {
    gap: 60px;
  }
}

// @media (min-width: 1440px) {
//     .style-grid {
//         gap: 30px !important;
//     }
// }

.bg {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-image: url('~assets/Images/header-welcom-page.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: unset;
}

.bg-container {
  width: 100vw;
  height: 80vh;
  display: block;
  position: relative;
}

.bg-content {
  background-color: #4048ff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 8vh;
}

.bg-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 55.0965px;
  line-height: 110%;
  color: #ffffff;
}

.bg-subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 130%;
  align-items: left;
  text-align: center;
  letter-spacing: 1px;
  color: #d6d6e8;
}

.bg-description {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #d6d6e8;
}

.bg-moon-boy {
  transform: scale(0.75);
  margin-top: -2rem;
  transition: width 2s;
}

.social-footer {
  cursor: pointer;
}

@media (max-width: 871px) {
  .adpool-title {
    padding-top: 30px;
    font-size: 28px !important;
  }
}

.bg-button {
  background: #f52079;
  border-radius: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 0.5em 4.5em;
  color: #f6f6ff;
  margin-top: -3rem;
  cursor: pointer;
}
.btn_container_loadmore {
  width: fit-content;
}
.load-more-btn {
  text-decoration: underline;
  margin-bottom: 15vh;
  // background: #f52079;
  color: #f52079 !important;
  border-radius: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
}
@media (max-width: 871px) {
  .load-more-btn {
    text-decoration: underline;
    margin-bottom: 15vh;
    // background: #f52079;
    color: #f52079 !important;
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    max-width: 350px;
    cursor: pointer;
    position: relative;
    top: 1.6em;
  }
    .load-more-btn-arrow {
      text-decoration: none !important;
      color: #f52079 !important;
      position: relative;
      top: 1.3em !important;
      left: 2px;
      font-size: 34px;
  }


}


.load-more-btn-arrow {
  text-decoration: none !important;
  color: #f52079 !important;
  position: relative;
  top: 7px;
  left: 2px;
  font-size: 34px;
}

.info-container {
  width: 70%;
}

.adpools-container {
  width: 75%;
}

.info-box {
  background-color: #f6f6ff;
  padding: 0.5rem 1rem;
  border-radius: 18px;
}

.info-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #4048ff;
}

.info-value {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 130%;
  text-align: right;
  letter-spacing: 0.03em;
  color: #7f84ff;
  position: relative;
}

.satt-percent {
  font-weight: 200;
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  left: -94px;
}

.adpool-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #323754;
}

.point {
  cursor: pointer !important;
}

.welcome-page-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0vh !important;
  background: #1f2337;
}

.welcome-page-footer-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}

#btn_launch_stat {
  padding-top: 2%;
  margin: auto;
  width: fit-content;
}

.welcome_footer_lunch {
  color: #ffffff;
  background-size: cover;
  height: 343px;
  background-image: url('~assets/Images/footer-lunch.svg');
}

.welcome_footer_title {
  font-size: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
}
.btn_blog{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  padding-top: 1.5%;
  text-align: center;
  justify-content: center;
align-items: center;
  width: 134px;
  height: 48px;
  font-size: 18px;
  color: #4048ff;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn_blog {
  background-color: #f52079 !important;
  color: white;
}
 

.btn_apply_lunch {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-content: center;
  border: none;
  width: max-content;
  height: 48px;
  font-size: 18px;
  color: #4048ff;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn_apply_lunch:hover {
  background-color: #f52079 !important;
  color: white;
}
.btn_apply_lunch1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-content: center;
  border: none;
  width: max-content;
  height: 48px;
  font-size: 18px;
  color: #4048ff;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: auto;
}

.btn_apply_lunch1:hover {
  background-color: #f52079 !important;
  color: white;
}


@media (max-width: 913px) {

  .btn_apply_lunch1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: none;
    width: max-content;
    height: 48px;
    font-size: 18px;
    color: #4048ff;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 41px;
  }
  
  .btn_apply_lunch1:hover {
    background-color: #f52079 !important;
    color: white;
  }





  .bg-title {
    font-size: 35px;
  }
  .bg-subtitle {
    font-size: 18px;
  }
  .welcome_footer_lunch {
    color: #ffffff;
    background-size: cover;
    height: 817px;
    background-image: url('~assets/Images/footer-lunch-sm.svg');
  }
  .welcome_footer_title {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .info-container {
    width: 90%;
  }
  .info-name {
    font-size: 17px;
  }
  .info-value {
    font-size: 17px;
  }
  .margin-top-farm {
    margin-top: 18rem !important;
  }
  .bg-title {
    padding-top: 3%;
  }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .margin-top {
        margin-top: 200px !important;
      }
      .bg-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: vh;
      }
    }
  }
}

@media (max-width: 1440px) {
  .info-container {
    width: 90%;
    margin-top: 74px;
  }
  .info-name {
    font-size: 17px;
  }
  .info-value {
    font-size: 17px;
  }
}

@media (max-width: 1440px) {
  .satt-percent {
    font-weight: 200;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: -74px;
  }
}

@media (min-width: 1700px) {
  .adpools-container {
    width: 65%;
  }
}

@media (max-width: 548px) {
  .bg-moon-boy {
    transform: scale(0.5);
    margin-top: -6rem;
  }
  .bg-button {
    margin-top: -7rem;
  }
}

@media (min-width: 426px) and (max-width: 548px) {
  .margin-top-farm {
    margin-top: 13rem !important;
  }
}

@media (max-width: 425px) {
  .adpools-container {
    width: 100%;
  }
}

@media (max-width: 548px) and (max-height: 568px) {
  .bg-moon-boy {
    transform: scale(0.5);
    margin-top: -6rem;
  }
  .bg-button {
    margin-top: -7rem;
  }
  .bg-title {
    padding-top: 2%;
    font-size: 28px;
  }
  .bg-subtitle {
    font-size: 18px;
  }
  .bg-moon-boy {
    transform: scale(0.4);
  }
  .bg-container {
    height: 90vh;
  }
}

// Media query for Nest Hub screens
@media (max-width: 1024px) and (max-height: 600px) {
  .bg-moon-boy {
    transform: scale(0.5);
    margin-top: -6rem;
  }
  .bg-button {
    margin-top: -7rem;
  }
  .bg-title {
    padding-top: 2%;
    font-size: 28px;
  }
  .bg-subtitle {
    font-size: 18px;
  }
  .bg-moon-boy {
    transform: scale(0.4);
  }
  .bg-container {
    height: fit-content;
  }
}

// Media query for Nest Hub Max screens
@media (width: 1280px) and (height: 800px) {
  .bg-moon-boy {
    margin-top: -1rem;
  }
  .bg-button {
    margin-top: -3rem;
  }
  .bg-title {
    font-size: 38px;
  }
  .bg-subtitle {
    font-size: 28px;
  }
  .bg-container {
    height: 90vh;
  }
}

.copyrights {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15.322px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

// huawai
@media only screen and (max-height: 600px) {
  .bg-container {
    height: 90vh;
  }
  .bg-title {
    padding-top: 4%;
    font-size: 32px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 579px) {
  .bg-container {
    height: 90vh;
  }
  .bg-title {
    padding-top: 4%;
    font-size: 32px;
  }
}
