<div class="container" *ngIf="!passWallet">
  <div class="row">
    <p class="content">{{ 'migrateWalletTitle' | translate }}</p>
    <p
      class="title"
      style="margin-top: 2vh; padding-right: 5%; padding-left: 5%"
    >{{ 'migrateWalletText' | translate }}
      
    </p>

    <p style="font-weight: bold" class="title title2">
      {{ 'migrateWalletReminder' | translate }}
    </p>
  </div>
  <div
    [className]="
      getScreenWidth > 960
        ? 'row justify-content-center mt-5 no-gutters'
        : 'row justify-content-center mt-0 no-gutters'
    "
  >
    <div
      [className]="getScreenWidth > 960 ? 'col-md-1 col-1' : 'col-md-1 col-2'"
      *ngFor="let crypto of listCrypto; index as i"
    >
      <input
        type="radio"
        name="tabs"
        id="tab-{{ i }}"
        (click)="setState(crypto.network)"
        [checked]="crypto.network === cryptoChecked"
      />
      <label for="tab-{{ i }}">
        <img
          src="assets/Images/symbol_crypto/{{ crypto.name }}.svg"
          [className]="
            crypto.network === cryptoChecked
              ? 'image-size-selected'
              : 'image-size'
          "
        />
      </label>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div
      *ngIf="cryptobyNetwork?.length !== 0"
      [style]="getScreenWidth > 767 && getScreenWidth < 961 ? 'padding-left: 30%; padding-right: 0px' : 'padding-left: 0px; padding-right: 0px'"
    >
      <div
        [className]="
          getScreenWidth > 960
            ? 'row justify-content-center list-network'
            : 'row justify-content-left list-network crypto'
        "
        *ngFor="let element of cryptobyNetwork; index as i"
      >
        <div
          [className]="
            getScreenWidth > 960
              ? 'col-md-6 col-6 mt-2 ml-4'
              : 'col-md-6 col-9 mt-2'
          "
        >
          <label for="checkbox{{ i }}" class="d-flex">
            <img
              src="assets/Images/symbol_crypto/{{ element.symbol }}.svg"
              [className]="
                getScreenWidth > 960 ? 'image-size-crypto' : 'image-size2'
              "
              (error)="errorPictureHandle($event)"
            />
            <p
              [className]="
                getScreenWidth > 960 ? 'title ms-2' : 'title ms-2 crypto-title'
              "
              style="text-align: left; font-size: 11px"
            >
              {{ element.name }}<br />
              <span> {{ element.quantity }}</span>
            </p>
          </label>
          <input
            type="checkbox"
            name="checkbox{{ i }}"
            id="checkbox{{ i }}"
            [checked]="cryptobyNetwork?.length === 1"
            class="checkbox-style"
            (click)="addCrypto(element)"
            
          />
        </div>
      </div>
    </div>
    <div *ngIf="cryptobyNetwork?.length === 0" class="empty-message-style">
      {{'notEnoughGaz'| translate }}
    </div>
    <div *ngIf="errorTransaction" class="justify-content-center">
      <p
      
      style="
      justify-content: center;
        text-align: center;
        padding-top: 0.5vh;
        color: #f52079;
        font-family: 'Poppins';
        font-weight: 500;
      "
      >{{ errorTransactionMessage}}</p>
    </div>
    <div class="row justify-content-center mt-3" *ngIf="hash">
      <div class="col-md-6 success-div">
        <img src="assets/Images/custom_icons/icon_alert_success.svg" />
        <p class="text-success-migration">
          {{'tokensMigratedSuccessfully' | translate }}<br />
          <span class="underline"> {{'checkYourWallet' | translate }} </span>

          <a href="{{ hash }}" target="_blank" class="success-color">
            {{ walletId?.slice(0, 8) }}...{{ walletId?.slice(-8) }}</a
          >
        </p>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="arrayToMigrate.length > 0">
      <p class="gas-fees-style" *ngIf="cryptobyNetwork.length !== 0">
        {{'gasFees' | translate }} : {{ cryptobyNetwork?.length === 1  && network.name === "ETH" ? getInitEstimation(cryptobyNetwork[0]) : gasToDisplay }} {{ network.name }}
      </p>
      <div class="col-md-6 d-flex flex-column" *ngIf="!outOfGas">
        <span class="span-migrate">
          {{ 'migrationPassword' | translate }}</span
        >
        <p class="txn-pass-style" style="font-size: 12px; padding-bottom: 3px">
          {{ 'transactionPassword' | translate }}
        </p>
        <div
          [className]="
            errorMessage ? 'div-input-icon-err p-1' : 'div-input-icon p-1'
          "
          [ngClass]="{
            'border-error': wrongpassword
          }"
        >
          <img
            *ngIf="errorMessage"
            src="../../../assets/Images/Kep-passwordFalse.svg"
            [ngStyle]="{ height: getScreenWidth > 900 ? '40px' : '25px' }"
          />
          <img
            *ngIf="!errorMessage"
            class=""
            src="../../../assets/Images/Kep-password.svg"
          />
          <div style="display: none">
            <input
              type="text"
              id="PreventChromeAutocomplete"
              name="PreventChromeAutocomplete"
              autocomplete="address-level4"
            />
          </div>
          <input
            autocomplete="new-password"
            type="password"
            [ngClass]="showPass ? 'input-password' : 'input-password pass-hide'"
            [(ngModel)]="walletPassword"
            #password_field
          />

          <span
            (click)="
              showPass = !showPass;
              password_field.type =
                password_field.type === 'password' ? 'text' : 'password'
            "
            class="fa fa-fw cross_input_network align-self-center"
            aria-hidden="true"
            [ngClass]="showPass ? ' fa-eye ' : ' fa-eye-slash'"
          ></span>
        </div>
        <span
          *ngIf="errorMessage"
          style="
            text-align: left;
            padding-top: 0.5vh;
            color: #f52079;
            font-family: 'Poppins';
            font-weight: 500;
          "
          >wrong password, please try again</span
        >
        <button
          class="next-step mt-4"
          (click)="next()"
          style="margin: 0 auto; height: 35px"
          [disabled]="spinner"
        >
          <div *ngIf="spinner" class="spinner-border text-grey" role="status">
            <span class="sr-only" style="color: #adadc8">Loading...</span>
          </div>
          <span *ngIf="!spinner">{{ 'migrateTokens' | translate}}</span>
        </button>
      </div>
      <div class="col-md-6 d-flex flex-column" *ngIf="outOfGas">
        <div class="warning-buy-gas">
          <img src="assets/Images/icon_alert_warning-add-token.svg" />
          <p class="warning-txt">
            You don't have enough gas to perform this transaction. Buy gas
            before you can perform the migration.
          </p>
        </div>
        <div class="wallet-clipboard" *ngIf="getScreenWidth > 519">
          <!-- <span class="span-0.wallet flex-start">{{ erc20 }}</span>
          <span class="span-wallet2 flex-end">{{ erc20 }}</span> -->
          <span class="wallet-adress-v1">Wallet Address : </span>
          <span class="span-text-wallet"
            > {{ network.name === "TRX" ? walletTRON : (network.name === "BTC" ? walletBTC : walletEVM) }}</span
          >
          <span class="pr-1 position-relative"
            ><img
              class="img-copied"
              (click)="copyAddress(network.name)"
              [cdkCopyToClipboard]="network.name === 'TRX' ? walletTRON : (network.name === 'BTC' ? walletBTC : walletEVM)"
              src="../../../../assets/Images/copy-clipboard.svg" />
            <span *ngIf="isWalletAddressCopied" class="black-dialog">
              Copied! </span
            ><span
              *ngIf="isWalletAddressCopied"
              class="dialog-point"
            ></span
          ></span>
        </div>


        <div class="wallet-clipboard-mobile" *ngIf="getScreenWidth < 519">
          <!-- <span class="span-0.wallet flex-start">{{ erc20 }}</span>
          <span class="span-wallet2 flex-end">{{ erc20 }}</span> -->
          <div style="text-align: center;">
            <span class="wallet-adress-v1">Wallet Address : </span>
          </div>
          <div style="text-align: center;">
            <span class="span-text-wallet"
            > {{ network.name === "TRX" ? shortWalletTRON : (network.name === "BTC" ? shortWalletBTC : shortWalletEVM) }}</span
          >
          <span class="pr-1 position-relative"
            ><img
              class="img-copied"
              (click)="copyAddress(network.name)"
              [cdkCopyToClipboard]="network.name === 'TRX' ? walletTRON : (network.name === 'BTC' ? walletBTC : walletEVM)"
              src="../../../../assets/Images/copy-clipboard.svg" />
            <span *ngIf="isWalletAddressCopied" class="black-dialog">
              Copied! </span
            ><span
              *ngIf="isWalletAddressCopied"
              class="dialog-point"
            ></span
          ></span>
          </div>
          
        </div>

        
        
        <button
          class="next-step mt-4"
          style="margin: 0 auto"
          (click)="
            goToBuy(
              cryptobyNetwork[0].symbol,
              cryptobyNetwork[0].network,
              cryptobyNetwork
            )
          "
        >
          <span>Buy Gas</span>
        </button>
      </div>
    </div>
    
    <div class="row justify-content-center" *ngIf="arrayToMigrate?.length === 0">
      <div class="col-md-6 d-flex flex-column">
        <button
          class="next-step mt-4"
          (click)="nextStep()"
          style="margin: 0 auto"
        >
          <span *ngIf="cryptoChecked !== 'TRON'">{{'nextStep' | translate }}</span>
          <span *ngIf="cryptoChecked === 'TRON'">{{'goToNewWallet' | translate }}</span>
        </button>
      </div>
    </div>
    <p class="later-message-style" (click)="sendMigrationStatus()">
      {{ 'doItLater' | translate }}
    </p>
  </div>
  
</div>
