<div class="row">

<p class="content mt-4">Migrate your tokens to the new wallet</p>
<p class="title">Your tokens are still on the old version of the wallet.<br>To secure them, please transfer them to the new one.<br>
<span style="font-weight: bold;"> Make sure you have enough gas to perform the migration.</span>
</p>


<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="justify-content: center;width: 31.7vw;margin: 0 auto;">
        <li role="presentation" class="active">
        <a href="#ether" aria-controls="ether" role="tab" data-toggle="tab">
          <img src="assets/Images/symbol_crypto/ETH.svg" style="width: 2.8vw;height: 3.6vh;">
        </a>
        </li>
        <li role="presentation"><a href="#bnb" aria-controls="bnb" role="tab" data-toggle="tab">
            <img src="assets/Images/symbol_crypto/BNB.svg" style="width: 2.8vw;height: 3.6vh;">
        </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="
    justify-content: center;
    width: 31.7vw;
    margin: 0 auto;
">
        <div role="tabpanel" class="tab-pane fadein active" id="ether">

            ETHER


        </div>


        <div role="tabpanel" class="tab-pane fade" id="bnb">
           BNB
        </div>
    </div>
</div>
</div>