<div
  *ngIf="showpassword"
  class="container-fluid page-content"
  style="padding-top: 134px !important"
>
  <div class="d-flex justify-content-center">
    <div class="div_block p-4">
      <form
        [formGroup]="passwordForm"
        class="wallet-password-form"
        [hidden]="!!gasError"
      >
        <div>
          <div class="row d-flex justif-content-center">
            <div class="col-12">
              <img src="/assets/Images/Password_modal_logo.svg" alt="" />
            </div>
          </div>
          <div class="row d-flex justif-content-center">
            <div class="col-12">
              <h3>{{ 'campaign_password.title' | translate }}</h3>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 d-flex justif-content-center">
              <p>{{ 'campaign_password.description2' | translate }}</p>
            </div>
          </div>
          <!--

            <div>
            <p style="font-family: 'Poppins';font-weight: 400; color: grey">
              <ng-container *ngIf="network.toString().toUpperCase() === 'BEP20' && !!bepGaz">
                Fees : {{ (bepGaz / bnb).toFixed(8) }} BNB ( ≈ ${{bepGaz}} )
              </ng-container>
              <ng-container *ngIf="network.toString().toUpperCase() === 'ERC20' && !!erc20Gaz">
                Fees : {{ (erc20Gaz / eth).toFixed(8) }} ETH ( ≈ ${{erc20Gaz}} )
              </ng-container>
              <ng-container *ngIf="network.toString().toUpperCase() === 'POLYGON' && !!polygonGaz">
                Fees : {{ (polygonGaz / matic).toFixed(8) }} MATIC ( ≈ ${{polygonGaz}} )
              </ng-container>
              <ng-container *ngIf="network.toString().toUpperCase() === 'BTT' && !!bttGaz">
                Fees : {{ (bttGaz / btt).toFixed(8) }} BTT ( ≈ ${{bttGaz}} )
              </ng-container>
              
             
            </p>
          </div>
          -->
          
          <div class="row">
            <div class="col-12">
              <div class="div_input_add position-relative">
                <img
                  src="/assets/Images/input_password_logo.svg"
                  width="46px"
                  alt=""
                />
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  class="input_oeil"
                />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <span class="" style="color: red">
                {{ errorMessage | translate | capitalizePhrase }}
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <button
                type="button"
                class="change_btn"
                (click)="creatYourCampaign()"
              >
                <span *ngIf="!loadingButton"></span
                >{{ 'campaign_password.confirm' | translate }}
                <i
                  *ngIf="loadingButton"
                  class="fa fa-circle-o-notch fa-spin fa-sm fa-fw"
                ></i>
              </button>
            </div>
            <app-copy-transaction-hash
              [transactionHash]="transactionHash"
            ></app-copy-transaction-hash>
          </div>
        </div>
      </form>
      <app-buy-gas [networkName]="network" *ngIf="gasError"></app-buy-gas>
    </div>
  </div>
</div>
<div
  class="bloc-success container-fluid page-content participate-page"
  [ngClass]="{ showcampaignSuccess: showcampaignSuccess }"
>
  <div class="envoyer_lien success_page success_ad">
    <div class="row envoyer_lien success_page success_ad">
      <div class="success-link">
        <img src="/assets/Images/space-logo.svg" class="img-style mt-5" />
        <h3 class="success-title mt-2">{{ 'campaign_success' | translate }}</h3>
        <!--  <p><strong>It will be online at <span></span><br></strong> can modify some informations or add more budget at any time.</p>-->
        <p>
          <strong
            >{{ 'campaign_validation.description1' | translate }}
            <span
              >{{ convertUnixToDate(calculateStartDate(this.campaign.updatedAt)) | date: 'HH:mm' }}
            </span>
          </strong>
        </p>
        <p>{{ 'campaign_validation.description2' | translate }}</p>
        
        <!--
          Ancien Hash
          <app-copy-transaction-hash
          *ngIf="transactionHash"
          [transactionHash]="transactionHash"
          [networkWallet]="network"
          class="transaction-width"
        ></app-copy-transaction-hash>-->
        <div class="row">
          <div class="col-md-6">
            <button
              type="button"
              class="btn-create-campaign new-pool btn-info me-2 mt-2 mb-4"
              (click)="createNewDraftCampaign()"
            >
              <span class="text-btn-create-campaign">{{
                'confirm_btc' | translate
              }}</span>
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="submit"
              (click)="backToCampaign()"
              class="btn-info me-2 mt-2 mb-4"
            >
              {{ 'send.return_to_campaign' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


