:host {
    width: 100%;
    overflow: hidden;
    /*  display: block;
    background-color: white;
    padding: 1em;
    text-align: center;
    margin: 1em;
    border-radius: 30px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
    width: 100%;
    height: fit-content;
    margin-top: 4%;*/
}

.div_block {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 100%;
    text-align: center;
    /* width: 86%; */
    width: 100%;
}

* {
    outline: none;
}

.wallet-password-form {
    max-width: 600px;
    margin: 0 auto;
}

.container {
    text-align: center;
}

.input_icon {
    height: 34px;
}

.Password_Modal {
    width: 120% !important;
}

.Password_input {
    margin: auto;
    width: 80% !important;
}

.error {
    color: red;
}

.input_oeil {
    width: 100%;
    height: 45px;
    padding: 6px 15px;
    line-height: 1.57142857;
    border: none;
    font-size: 14px;
    color: #162746;
    border-radius: 30px;
    content: '\f002';
}

.div_input_add {
    background-color: white;
    border: 1px solid #d6d6e8;
    display: flex;
    padding: 0;
    border-radius: 30px;
}

.change_btn {
    border-radius: 30px;
    border: none;
    background: #00cc9e;
    height: 50px;
    width: 60%;
    color: cornsilk;
}

.bloc-success {
    display: none;
}

.showcampaignSuccess {
    display: block;
}


/* .participate-page {
    padding: 3%;
} */

.envoyer_lien {
    background: #ffffff;
 /*   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);*/
    border-radius: 30px;
    /* height: 440px; */
}

.success-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.img-style {
    align-items: center;
    justify-content: center;
    width: 200px;
}

.success-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #4048FF;
}
.new-pool{
    background:  #4048FF!important;
    color: white!important;
}

.btn-info {
    background: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 30px;
    color: #4048ff;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 48px;
    width: 100%;
    cursor: pointer;
    padding: 0 25px
}

.btn-info:hover {
    border: 2px solid #0009d3;
    box-shadow: none;
}

.btn-info:focus {

    border: 2px solid #d6d6e8;
    box-shadow: none;
}

@media (max-width: 1074px) {
  
   
    .img-style {
        align-items: center;
        justify-content: center;
        /* width: 76px; */
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .success_page {
       /* background: #00cc9e;*/
        border-radius: 0;
        top: 3.1em !important;
    }
    .btn-info {
        font-size: 14px;
    }
    .envoyer_lien {
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
        position: fixed;
        /* min-height: 100vh; */
        top: 108px;
        bottom: 0px;
        right: 0;
        left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .success-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .success-title {
        color: #4048FF;
        padding: 10px 23px;
    }
}