<div *ngIf="showpassword" class="container-fluid page-content">
  <div class="d-flex justify-content-center">
    <div class="div_block p-4">
      <form [formGroup]="passwordForm" class="wallet-password-form">
        <div>
          <div class="row d-flex justif-content-center">
            <div class="col-12">
              <img src="/assets/Images/Password_modal_logo.svg" alt="" />
            </div>
          </div>
          <div class="row d-flex justif-content-center">
            <div class="col-12">
              <h3>{{ 'campaign_password.title' | translate }}</h3>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 d-flex justif-content-center">
              <p>{{ 'campaign_password.description2' | translate }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="div_input_add position-relative">
                <img
                  src="/assets/Images/input_password_logo.svg"
                  width="46px"
                  alt=""
                />
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  class="input_oeil"
                />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <span class="" style="color: red">
                {{ errorMessage | translate | capitalizePhrase }}
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <button
                type="button"
                class="change_btn"
                (click)="creatYourCampaign()"
              >
                <span *ngIf="!loadingButton"></span
                >{{ 'campaign_password.confirm' | translate }}
                <i
                  *ngIf="loadingButton"
                  class="fa fa-circle-o-notch fa-spin fa-sm fa-fw"
                ></i>
              </button>
            </div>
            <app-copy-transaction-hash
              [transactionHash]="transactionHash"
            ></app-copy-transaction-hash>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="bloc-success container-fluid page-content participate-page"
  [ngClass]="{ showcampaignSuccess: showcampaignSuccess }"
>
  <div class="envoyer_lien success_page">
    <div class="row envoyer_lien success_page">
      <div class="success-link">
        <img src="/assets/Images/success_info.svg" class="img-style mt-5" />
        <h3 class="success-title mt-2">{{ 'campaign_success' | translate }}</h3>

        <app-copy-transaction-hash
          *ngIf="transactionHash"
          [transactionHash]="transactionHash"
          [networkWallet]="network"
          class="transaction-width"
        ></app-copy-transaction-hash>

        <button
          type="submit"
          routerLink="/home/TransactionsHistory"
          class="btn-info me-2 mt-5 mb-2"
        >
          {{ 'send.see_history_transac' | translate }}
        </button>
        <button
          type="submit"
          (click)="backToCampaign()"
          class="btn-info me-2 mt-2 mb-4"
        >
          {{ 'send.return_to_campaign' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
