<div
  class="container-fluid page-content"
  [style]="'margin-top: 4%!important; '"
  *ngIf="!showSpinner"
>
  <div class="show-mobile">
    <div class="col-md-12 col-lg-12 col-xs-12 mb-3 px-0">
      <button type="button" class="btn-back" [routerLink]="['/home/settings/']">
        <
      </button>
    </div>
  </div>

  <div class="social-network-bloc mt-3">
    <p class="title">
      {{ 'social_networks.title' | translate }} {{ 'completed-at' | translate }}
      <span class="green-text ps-1">{{ percentSocial }}% </span>
    </p>
    <div class="separators">
      <div>
        <hr [ngClass]="{ active: percentSocial >= 25 }" />
      </div>
      <div>
        <hr [ngClass]="{ active: percentSocial >= 50 }" />
      </div>
      <div>
        <hr [ngClass]="{ active: percentSocial >= 75 }" />
      </div>
      <div>
        <hr [ngClass]="{ active: percentSocial >= 100 }" />
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center py-1">
      <p class="desc">{{ 'social_networks.desc' | translate }}</p>
    </div>

    <div class="col-12 d-flex justify-content-center py-1">
      <span class="errorLink" *ngIf="errorMessage">{{
        errorMessage | translate
      }}</span>
      <span class="successLink" *ngIf="successMessage">{{
        successMessage | translate
      }}</span>
    </div>
    <!---------------------------------- Link your networks---------------------------------------->
    <div *ngIf="percentSocial === 0" class="other-network">
      <img src="./assets/Images/link-social-img.png" alt="" />
      <p class="network-type">
        {{ 'Profil.Link-your-social-networks' | translate }}
      </p>
      <div class="row flex-column justify-content-center align-items-center">
        <button
          class="google-btn-cnx"
          (click)="onReditectSocial('youtube')"
          *ngIf="channelGoogle?.length === 0"
        >
          <img src="./assets/Images/youtube-white.png" />
          <span> {{ 'social_networks.add_youtube_ch' | translate }}</span>
        </button>

        <button
          class="fb-btn-cnx"
          (click)="onReditectSocial('facebook')"
          *ngIf="channelFacebook?.length === 0"
        >
          <img src="./assets/Images/f-white.svg" />
          <span> {{ 'social_networks.add_fb' | translate }}</span>
        </button>

        <button
          class="twitter-btn-cnx"
          (click)="onReditectSocial('twitter')"
          *ngIf="channelTwitter?.length === 0"
        >
          <img src="./assets/Images/Shape_twitter.svg" />
          <span> {{ 'social_networks.add_twitter' | translate }}</span>
        </button>
        
          <button
          class="linkedin-btn-cnx"
          (click)="onReditectSocial('linkedin')"
          *ngIf="channelLinkedin?.length === 0"
        >
          <img src="./assets/Images/linkedin-white.png" width="24px" />
          <span> {{ 'social_networks.add_linkedin' | translate }}</span>
        </button>

       
        
        <button
          class="tiktok-btn-cnx"
          (click)="onReditectSocial('tiktok')"
          *ngIf="channelTiktok?.length === 0"
        >
          <img src="./assets/Images/tiktok-white.svg" width="20px" />
          <span>
            {{ 'social_networks.add_tiktok' | translate }}
          </span>
        </button>
        <button
        class="tiktok-btn-cnx"
        (click)="addThreadsAccount()"
        *ngIf="this.channelThreads !== false"
      >
        <img src="./assets/Images/threads-white.svg" width="20px" />
        <span>
          {{ 'social_networks.add_threads' | translate }}
        </span>
      </button>
      </div>
    </div>

    <!----------------------------------- start bloc google---------------------------------------->
    <div
      *ngIf="channelGoogle?.length !== 0"
      id="networkGooge"
      class="social-accounts-block"
    >
      <div class="account-bloc">
        <div
          class="collapsed panel-heading account-name cursor_pntr"
          data-toggle="collapse"
          href="#collapseYoutube"
          aria-expanded="false"
          aria-controls="collapseYoutube"
        >
          <div class="col-1 col-md-1 col-sm-1 bloc-name">
            <span class="network-logo">
              <img width="32px" src="{{ networkLogo }}" />
            </span>
            <span class="acc-name">{{ nameAccount }}</span>
          </div>
          <div class="col-md-8 col-sm-9 network-type">
            <p *ngIf="!showGoogleList" style="color: #75758f">
              {{ 'social_networks_youtube.linked' | translate }}
            </p>
            <p *ngIf="showGoogleList" style="color: #4048ff">
              {{ 'social_networks_youtube.linked' | translate }}
            </p>
          </div>
          <button
            style="border: none"
            class="col-md-2 delete-account-bloc cursor-pointer desktop"
            (click)="openModalDeleteAll(deleteAllModal, 'google')"
          >
            <i class="fa fa-trash-o pinkTrash" aria-hidden="true"></i>
            <span>{{ 'social_networks.delete' | translate }}</span>
          </button>
          <button
            style="border: none"
            class="col-1 col-md-1 delete-account-bloc cursor-pointer mobile"
          >
            <i
              class="fa fa-trash-o pinkTrash"
              aria-hidden="true"
              (click)="openModalDeleteAll(deleteAllModal, 'google')"
            ></i>
          </button>
          <!-- (click)="toggelGoogleBlock()" -->
          <div class="col-1 col-md-1 chev-down">
            <i class="chevron fa fa-fw"></i>
            <!-- <i
              *ngIf="!showGoogleList"
              class="fa fa-chevron-down"
              aria-hidden="true"
            ></i>
            <i
              *ngIf="showGoogleList"
              class="fa fa-chevron-up"
              aria-hidden="true"
            ></i> -->
          </div>
        </div>
        <!-- *ngIf="showGoogleList" -->
        <div class="collapse list-ch" id="collapseYoutube">
          <div class="list-ch-body">
            <div class="bar">
              <hr />
            </div>
            <div class="ch-container">
              <div
                class="main-row row d-flex justify-content-center p-0 d-md-flex"
              >
                <!-- <div class="titles row">
                                    <div class="col">{{ "social_networks.ch_linked_acc" | translate }}</div>
                                   <div class="col txt-center">
                                        {{ "social_networks.nb_subsc" | translate }}
                                    </div>
                                    <div class="col txt-center">{{ "social_networks.activation" | translate }}</div>
                                </div> -->
                <table class="social-accounts-table w-100">
                  <thead>
                    <tr>
                      <th class="sa-table-titles text-center col-3">
                        {{'Accounts' | translate }}
                      </th>

                      <th class="sa-table-titles text-center col-4">
                        <img
                          src="./assets/Images/followers.png"
                          width="25px"
                          alt=""
                        />
                      </th>
                      <th class="sa-table-titles text-center col-3">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let ch of channelGoogle;
                        let i = index;
                        trackBy: trackByChannelId
                      "
                    >
                      <td>
                        <div
                          class="d-flex align-items-center cursor-pointer"
                          (click)="goToAccount('google', ch.channelId)"
                        >
                          <img
                            class="ch-image"
                            src="{{ ch.channelImage.default.url }}"
                            (error)="onImgError($event)"
                          />
                          <span class="ch-name">{{ ch.channelTitle }}</span>
                        </div>
                      </td>
                      <td class="text-center">
                        <span
                          *ngIf="ch.channelStatistics.subscriberCount < 1000"
                          class="sa-subscribers-number"
                          >{{
                            ch.channelStatistics.subscriberCount
                              | transfomNumber
                          }}
                          <span class="desktop">
                            {{ 'social_networks.subscriber' | translate
                            }}<span
                              *ngIf="ch.channelStatistics.subscriberCount !== 1"
                              >s</span
                            >
                          </span>
                        </span>
                        <span
                          *ngIf="ch.channelStatistics.subscriberCount > 999"
                          class="sa-subscribers-number"
                          >{{
                            ch.channelStatistics.subscriberCount / 1000
                              | transfomNumber
                          }}
                          K
                          <span class="desktop">
                            {{ 'social_networks.subscriber' | translate
                            }}<span
                              *ngIf="ch.channelStatistics.subscriberCount !== 1"
                              >s</span
                            >
                          </span>
                        </span>
                        <span
                          *ngIf="ch.channelStatistics.subscriberCount > 999999"
                          class="sa-subscribers-number"
                          >{{
                            ch.channelStatistics.subscriberCount
                              | transfomNumber
                          }}
                          M
                          <span class="desktop">
                            {{ 'social_networks.subscriber' | translate
                            }}<span
                              *ngIf="ch.channelStatistics.subscriberCount !== 1"
                              >s</span
                            >
                          </span>
                        </span>
                      </td>
                      <td class="text-center">
                        <div class="action">
                          <button
                            (click)="
                              openModalDeleteOne(
                                deleteOneModal,
                                'google',
                                ch._id,
                                'google',
                                ch.channelTitle
                              )
                            "
                          >
                            <span class="btn-del"></span>
                          </button>

                          <!-- <ui-switch
                              class="d-flex align-self-center"
                              id="toggle"
                              (change)="toggleSocialAccount($event)"
                              [checked]="true"
                            >
                            </ui-switch> -->
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="btn-action pb-4">
              <button (click)="onReditectSocial('youtube')">
                + {{ 'social_networks.add_youtube_ch' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------- start bloc linkedin---------------------------------------->
    <div *ngIf="channelLinkedin?.length !== 0" id="networkLinkedin">
      <hr />
      <div class="account-bloc social-accounts-block">
        <div
          class="collapsed panel-heading account-name cursor_pntr"
          data-toggle="collapse"
          href="#collapseLinkedin"
          aria-expanded="false"
          aria-controls="collapseLinkedin"
        >
          <div class="col-1 col-md-1 col-sm-1 bloc-name">
            <span class="network-logo">
              <img width="35px" src="{{ networkLogoLinkedin }}" />
            </span>
            <span class="acc-name">{{ nameAccount }}</span>
          </div>
          <div class="col-md-8 col-sm-9 network-type">
            <p *ngIf="!showLinkedinList" style="color: #75758f">
              {{ 'social_networks_linkedin.linked' | translate }}
            </p>
            <p *ngIf="showLinkedinList" style="color: #4048ff">
              {{ 'social_networks_linkedin.linked' | translate }}
            </p>
          </div>
          <button
            style="border: none"
            class="col-md-2 delete-account-bloc cursor-pointer desktop"
            (click)="openModalDeleteAll(deleteAllModal, 'linkedin')"
          >
            <i class="fa fa-trash-o pinkTrash" aria-hidden="true"></i>
            <span>{{ 'social_networks.delete' | translate }}</span>
          </button>
          <button
            style="border: none"
            class="col-1 col-md-1 delete-account-bloc cursor-pointer mobile"
          >
            <i
              (click)="openModalDeleteAll(deleteAllModal, 'linkedin')"
              class="fa fa-trash-o pinkTrash"
              aria-hidden="true"
            ></i>
          </button>
          <!-- (click)="toggelLinkedinBlock()" -->
          <div class="col-1 col-md-1 chev-down cursor_pntr">
            <i class="chevron fa fa-fw cursor_pntr"></i>
            <!-- <i *ngIf="!showLinkedinList" class="fa fa-chevron-down" aria-hidden="true" ></i> <i *ngIf="showLinkedinList" class="fa fa-chevron-up" aria-hidden="true" ></i> -->
          </div>
        </div>
        <!-- class="list-ch" *ngIf="showLinkedinList" -->
        <div class="collapse list-ch" id="collapseLinkedin">
          <div class="list-ch-body">
            <div class="bar"><hr /></div>
            <div class="ch-container">
              <div class="titles row">
                <!-- <div class="col">{{ "social_networks.ch_linked_acc" | translate }}</div> -->
                <!-- <div class="col txt-center"> {{ "social_networks.nb_subsc" | translate }} </div> -->
                <!-- <div class="col txt-center">{{ "social_networks.activation" | translate }}</div> -->
              </div>
              <table class="social-accounts-table w-100">
                <thead>
                  <tr>
                    <th class="sa-table-titles text-center col-3">{{'Accounts' | translate }}</th>
                    <th class="sa-table-titles text-center col-4">
                      <img
                        src="./assets/Images/followers.png"
                        width="25px"
                        alt=""
                      />
                    </th>
                    <th class="sa-table-titles text-center col-3">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let ch of channelLinkedin;
                      let i = index;
                      trackBy: trackByChannelOrganization
                    "
                  >
                    <td>
                      <div
                        class="d-flex align-items-center cursor-pointer"
                        (click)="
                          goToAccount(
                            'linkedin',
                            ch['organization']
                          )
                        "
                      >
                        <div class="ch-image">
                          <img
                            src="{{ ch.photo }}"
                            (error)="onImgError($event)"
                          />
                        </div>
                        <span class="ch-name">{{
                          ch['organization~'].localizedName
                        }}</span>
                      </div>
                    </td>
                    <td class="text-center">
                      <span class="sa-subscribers-number"
                        >{{ ch.subscribers | transfomNumber }}
                        <span class="desktop">
                          {{ 'social_networks.relation' | translate
                          }}<span *ngIf="ch.subscribers !== 1">s</span>
                        </span>
                      </span>
                    </td>
                    <td class="text-center">
                      <div class="action">
                        <button
                          (click)="
                            openModalDeleteOne(
                              deleteOneModal,
                              'linkedin',
                              ch.organization,
                              'linkedin',
                              ch.linkedinId
                            )
                          "
                        >
                          <span class="btn-del"></span>
                        </button>
                        <!-- <ui-switch class="d-flex align-self-center" id="toggle" (change)="toggleSocialAccount($event)" [checked]="true" > </ui-switch> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-action pb-4">
            <button (click)="onReditectSocial('linkedin')">
              + {{ 'social_networks.add_linkedin' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------- start bloc twitter---------------------------------------->
    <div *ngIf="channelTwitter?.length !== 0" id="networkTwitter" class="">
      <hr />
      <div class="account-bloc social-accounts-block">
        <div
          class="collapsed panel-heading account-name cursor_pntr"
          data-toggle="collapse"
          href="#collapseTwitter"
          aria-expanded="false"
          aria-controls="collapseTwitter"
        >
          <div class="col-1 col-md-1 col-sm-1 bloc-name">
            <span class="network-logo">
              <img width="35px" src="{{ networkLogoTwitter }}" />
            </span>
            <span class="acc-name">{{ nameAccount }}</span>
          </div>
          <div class="col-md-8 col-sm-9 network-type">
            <p *ngIf="!showTwitterList" style="color: #75758f">
              {{ 'social_networks_twitter.linked' | translate }}
            </p>
            <p *ngIf="showTwitterList" style="color: #4048ff">
              {{ 'social_networks_twitter.linked' | translate }}
            </p>
          </div>
          <button
            style="border: none"
            class="col-md-2 delete-account-bloc cursor-pointer desktop"
            (click)="openModalDeleteAll(deleteAllModal, 'twitter')"
          >
            <i class="fa fa-trash-o pinkTrash" aria-hidden="true"></i>
            <span>{{ 'social_networks.delete' | translate }}</span>
          </button>
          <button
            style="border: none"
            class="col-1 col-md-1 delete-account-bloc cursor-pointer mobile"
          >
            <i
              (click)="openModalDeleteAll(deleteAllModal, 'twitter')"
              class="fa fa-trash-o pinkTrash"
              aria-hidden="true"
            ></i>
          </button>
          <!-- (click)="toggelTwitterBlock()" -->
          <div class="col-1 col-md-1 chev-down">
            <i class="chevron fa fa-fw cursor_pntr"></i>
            <!-- <i
              *ngIf="!showTwitterList"
              class="fa fa-chevron-down"
              aria-hidden="true"
            ></i>
            <i
              *ngIf="showTwitterList"
              class="fa fa-chevron-up"
              aria-hidden="true"
            ></i> -->
          </div>
        </div>
        <!-- *ngIf="showTwitterList" -->
        <div class="collapse list-ch" id="collapseTwitter">
          <div class="list-ch-body">
            <div class="bar">
              <hr />
            </div>
            <div class="ch-container">
              <div class="titles row">
                <!-- <div class="col">{{ "social_networks.ch_linked_acc" | translate }}</div> -->
                <!-- <div class="col txt-center">
                                        {{ "social_networks.nb_subsc" | translate }}
                                    </div> -->
                <!-- <div class="col txt-center">{{ "social_networks.activation" | translate }}</div> -->
              </div>
              <table class="social-accounts-table w-100">
                <thead>
                  <tr>
                    <th class="sa-table-titles text-center col-3">{{'Accounts' | translate }}</th>
                    <th class="sa-table-titles text-center col-4">
                      <img
                        src="./assets/Images/followers.png"
                        width="25px"
                        alt=""
                      />
                    </th>
                    <th class="sa-table-titles text-center col-3">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let ch of channelTwitter;
                      let i = index;
                      trackBy: trackBuChannelDisplayName
                    "
                  >
                    <td>
                      <div
                        class="d-flex align-items-center cursor-pointer"
                        (click)="goToAccount('twitter', ch.username)"
                      >
                        <img
                          class="ch-image"
                          src="{{ ch.photos[0].value }}"
                          (error)="onImgError($event)"
                        />
                        <span class="ch-name">{{ ch.displayName }}</span>
                      </div>
                    </td>
                    <td class="text-center">
                      <span class="sa-subscribers-number"
                        >{{ ch._json.followers_count | transfomNumber }}
                        <span class="desktop">
                          {{ 'social_networks.follower' | translate
                          }}<span *ngIf="ch._json.followers_count !== 1"
                            >s</span
                          >
                        </span>
                      </span>
                    </td>
                    <td class="text-center">
                      <div class="action">
                        <button
                          (click)="
                            openModalDeleteOne(
                              deleteOneModal,
                              'twitter',
                              ch._id,
                              'twitter',
                              ch.displayName
                            )
                          "
                        >
                          <span class="btn-del"></span>
                        </button>

                        <!-- <ui-switch
                              class="d-flex align-self-center"
                              id="toggle"
                              (change)="toggleSocialAccount($event)"
                              [checked]="true"
                            >
                            </ui-switch> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-action pb-4">
            <button (click)="onReditectSocial('twitter')">
              + {{ 'social_networks.add_twitter' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- -------------------- start bloc tiktok --------------------------- -->
    <div *ngIf="channelTiktok?.length !== 0" id="networkTiktok" class="">
      <hr />
      <div class="account-bloc social-accounts-block">
        <div
          class="collapsed panel-heading account-name cursor_pntr"
          data-toggle="collapse"
          href="#collapseTiktok"
          aria-expanded="false"
          aria-controls="collapseTwitter"
        >
          <div class="col-1 col-md-1 col-sm-1 bloc-name">
            <span class="network-logo">
              <img width="35px" src="{{ networkLogoTiktok }}" />
            </span>
            <span class="acc-name">{{ nameAccount }}</span>
          </div>
          <div class="col-md-8 col-sm-9 network-type">
            <p *ngIf="!showTiktokList" style="color: #75758f">
              {{ 'social_networks_tiktok.linked' | translate }}
            </p>
            <p *ngIf="showTiktokList" style="color: #4048ff">
              {{ 'social_networks_tiktok.linked' | translate }}
            </p>
          </div>
          <button
            style="border: none"
            class="col-md-2 delete-account-bloc cursor-pointer desktop"
            (click)="openModalDeleteAll(deleteAllModal, 'tiktok')"
          >
            <i class="fa fa-trash-o pinkTrash" aria-hidden="true"></i>
            <span>{{ 'social_networks.delete' | translate }}</span>
          </button>
          <button
            style="border: none"
            class="col-1 col-md-1 delete-account-bloc cursor-pointer mobile"
          >
            <i
              (click)="openModalDeleteAll(deleteAllModal, 'tiktok')"
              class="fa fa-trash-o pinkTrash"
              aria-hidden="true"
            ></i>
          </button>
          <!-- (click)="toggelTwitterBlock()" -->
          <div class="col-1 col-md-1 chev-down">
            <i class="chevron fa fa-fw cursor_pntr"></i>
            <!-- <i
              *ngIf="!showTwitterList"
              class="fa fa-chevron-down"
              aria-hidden="true"
            ></i>
            <i
              *ngIf="showTwitterList"
              class="fa fa-chevron-up"
              aria-hidden="true"
            ></i> -->
          </div>
        </div>
        <!-- *ngIf="showTwitterList" -->
        <div class="collapse list-ch" id="collapseTiktok">
          <div class="list-ch-body">
            <div class="bar">
              <hr />
            </div>
            <div class="ch-container">
              <div class="titles row">
                <!-- <div class="col">{{ "social_networks.ch_linked_acc" | translate }}</div> -->
                <!-- <div class="col txt-center">
                                        {{ "social_networks.nb_subsc" | translate }}
                                    </div> -->
                <!-- <div class="col txt-center">{{ "social_networks.activation" | translate }}</div> -->
              </div>
              <table class="social-accounts-table w-100">
                <thead>
                  <tr>
                    <th class="sa-table-titles text-center col-3">{{'Accounts' | translate }}</th>
                    <th class="sa-table-titles text-center col-4">
                      <img
                        src="./assets/Images/followers.png"
                        width="25px"
                        alt=""
                      />
                    </th>
                    <th class="sa-table-titles text-center col-3">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let ch of channelTiktok;
                      let i = index;
                      trackBy: trackBuChannelDisplayName
                    "
                  >
                    <td>
                      <div
                        class="d-flex align-items-center cursor-pointer"
                        (click)="goToAccount('tiktok', ch.username)"
                      >
                        <img
                          class="ch-image"
                          src="{{ ch.profileImage }}"
                          (error)="onImgError($event)"
                        />
                        <span class="ch-name">{{ ch.displayName }}</span>
                      </div>
                    </td>
                    <td class="text-center">
                      <!-- <span class="sa-subscribers-number"
                        >{{}}
                        <span class="desktop">
                          {{ 'social_networks.follower' | translate
                          }}<span *ngIf="">s</span>
                        </span>
                      </span> -->

                      <!-- ============ -->
                      <span class="sa-subscribers-number">
                        {{ ch.followers | transfomNumber }}
                        <span class="desktop">
                          {{ 'social_networks.follower' | translate
                          }}<span *ngIf="ch.subscribers !== 1">s</span>
                        </span>
                      </span>
                      <!-- ============== -->
                    </td>
                    <td class="text-center">
                      <div class="action">
                        <button
                          (click)="
                            openModalDeleteOne(
                              deleteOneModal,
                              'tiktok',
                              ch._id,
                              'tiktok',
                              ch.displayName
                            )
                          "
                        >
                          <span class="btn-del"></span>
                        </button>

                        <!-- <ui-switch
                              class="d-flex align-self-center"
                              id="toggle"
                              (change)="toggleSocialAccount($event)"
                              [checked]="true"
                            >
                            </ui-switch> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-action pb-4">
            <button (click)="onReditectSocial('tiktok')">
              + {{ 'social_networks.add_tiktok' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------- start bloc facebook / insta---------------------------------------->
    <div
      *ngIf="channelFacebook?.length !== 0"
      id="networkFacebook"
      class="social-accounts-block"
    >
      <hr />
      <div class="account-bloc">
        <div
          class="collapsed panel-heading account-name cursor_pntr"
          data-toggle="collapse"
          href="#collapseFacebook"
          aria-expanded="false"
          aria-controls="collapseFacebook"
        >
          <div class="col-1 col-md-1 col-sm-1 bloc-name">
            <span class="network-logo">
              <img class="fb-insta" src="{{ networkLogoFacebookInsta }}" />
            </span>
            <span class="acc-name">{{ nameAccount }}</span>
          </div>
          <div class="col-md-8 col-sm-9 network-type">
            <p *ngIf="!showFacebookList" style="color: #75758f">
              {{ 'social_networks_facebook.linked' | translate }}
            </p>
            <p *ngIf="showFacebookList" style="color: #4048ff">
              {{ 'social_networks_facebook.linked' | translate }}
            </p>
          </div>
          <button
            style="border: none"
            class="col-md-2 delete-account-bloc cursor-pointer desktop"
            (click)="openModalDeleteAll(deleteAllModal, 'facebook')"
          >
            <i class="fa fa-trash-o pinkTrash" aria-hidden="true"></i>
            <span>{{ 'social_networks.delete' | translate }}</span>
          </button>
          <button
            style="border: none"
            class="col-1 col-md-1 delete-account-bloc cursor-pointer mobile"
          >
            <i
              (click)="openModalDeleteAll(deleteAllModal, 'facebook')"
              class="fa fa-trash-o pinkTrash"
              aria-hidden="true"
            ></i>
          </button>
          <!-- (click)="toggelFacebookBlock()" -->
          <div class="col-1 col-md-1 chev-down">
            <i class="chevron fa fa-fw cursor_pntr"></i>
            <!-- <i
              *ngIf="!showFacebookList"
              class="fa fa-chevron-down"
              aria-hidden="true"
            ></i>
            <i
              *ngIf="showFacebookList"
              class="fa fa-chevron-up"
              aria-hidden="true"
            ></i> -->
          </div>
        </div>
        <!-- *ngIf="showFacebookList" -->
        <div class="collapse list-ch" id="collapseFacebook">
          <div class="list-ch-body">
            <div class="bar">
              <hr />
            </div>
            <div class="ch-container">
              <div class="titles row">
                <!-- <div class="col">{{ "social_networks.ch_linked_acc" | translate }}</div> -->
                <!-- <div class="col txt-center">
                                {{ "social_networks.nb_subsc" | translate }}
                            </div> -->
                <!-- <div class="col txt-center">{{ "social_networks.activation" | translate }}</div> -->
              </div>

              <table class="social-accounts-table w-100">
                <thead>
                  <tr>
                    <th class="sa-table-titles text-center col-3">{{'Accounts' | translate }}</th>
                    <th class="sa-table-titles text-center col-4">
                      <img
                        src="./assets/Images/followers.png"
                        width="25px"
                        alt=""
                      />
                    </th>
                    <th class="sa-table-titles text-center col-3">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let ch of channelFacebook;
                      let i = index;
                      trackBy: trackByCahnnelName
                    "
                  >
                    <td>
                      <div
                        class="d-flex align-items-center cursor-pointer"
                        *ngIf="ch.instagram_username"
                        (click)="
                          goToAccount('instagram', ch.instagram_username)
                        "
                      >
                        <div class="social-account-image">
                          <img
                            class="ch-image"
                            src="{{ ch.picture }}"
                            (error)="onImgError($event)"
                          />
                          <img
                            class="social-account-icon"
                            [src]="networkLogoInstagram"
                          />
                        </div>
                        <div>
                          <span class="ch-name"
                            >{{ ch.name }}
                            <img
                              src="./assets/Images/custom_icons/link.svg"
                              class="link-icon"
                            />
                          </span>
                        </div>
                      </div>
                      <div
                        class="d-flex align-items-center cursor-pointer threads-details"
                        *ngIf="ch.instagram_username && ch.threads_id"
                        (click)="
                          goToAccount('threads', ch.instagram_username)
                        "
                      >
                        <div class="social-account-image">
                          <img
                            class="ch-image"
                            [src]="safeImageUrl(ch.threads_picture)"
                            (error)="onImgError($event)"
                          />
                          <img
                            class="social-account-icon"
                            [src]="networkLogoThreads"
                          />
                        </div>
                        <div>
                          <span class="ch-name"
                            >{{ ch.instagram_username }}
                            <img
                              src="./assets/Images/custom_icons/link.svg"
                              class="link-icon"
                            />
                          </span>
                        </div>
                      </div>

                      <div
                        class="d-flex align-items-center cursor-pointer"
                        *ngIf="!ch.instagram_username"
                        (click)="goToAccount('facebook', ch.id)"
                      >
                        <div class="social-account-image">
                          <img
                            class="ch-image"
                            src="{{ ch.picture }}"
                            (error)="onImgError($event)"
                          />
                          <img
                            class="social-account-icon"
                            [src]="networkLogoFacebook"
                          />
                        </div>
                        <span class="ch-name"
                          >{{ ch.name }}
                          <img
                            src="./assets/Images/custom_icons/link.svg"
                            class="link-icon"
                        /></span>
                      </div>
                    </td>
                    <td class="text-center">
                      <ng-container *ngIf="ch.threads_id">
                        <div [ngStyle]="{'margin-bottom': '15%'}">
                          <span class="sa-subscribers-number"
                          >{{ ch.subscribers | transfomNumber }}
                          <span class="desktop">
                            {{ 'social_networks.follower' | translate
                            }}<span *ngIf="ch.subscribers !== 1">s</span>
                          </span>
                        </span>
                        </div>
                        <div>
                          <span class="sa-subscribers-number" *ngIf="ch.threads_id"
                        >{{ ch.threads_followers | transfomNumber }}
                        <span class="desktop">
                          {{ 'social_networks.follower' | translate
                          }}<span *ngIf="ch.threads_followers !== 1">s</span>
                        </span>
                      </span>
                        </div>
                       
                      
                      </ng-container>
                      <ng-container *ngIf="!ch.threads_id">
                        <span class="sa-subscribers-number"
                        >{{ ch.subscribers | transfomNumber }}
                        <span class="desktop">
                          {{ 'social_networks.follower' | translate
                          }}<span *ngIf="ch.subscribers !== 1">s</span>
                        </span>
                      </span>
                      </ng-container>
                     
                    </td>
                    <td class="text-center">
                      <div class="action" [ngStyle]=" ch.threads_id && {'margin-bottom': '15%'}">
                        <button
                          (click)="
                            openModalDeleteOne(
                              deleteOneModal,
                              'facebook',
                              ch._id,
                              'facebook',
                              ch.name
                            )
                          "
                        >
                          <span class="btn-del"></span>
                        </button>

                        <!-- <ui-switch
                              class="d-flex align-self-center"
                              id="toggle"
                              (change)="toggleSocialAccount($event)"
                              [checked]="true"
                            >
                            </ui-switch> -->
                      </div>
                      <div class="action" *ngIf="ch.threads_id" >
                        <button
                          (click)="
                            openModalDeleteOne(
                              deleteOneModal,
                              'threads',
                              ch._id,
                              'threads',
                              ch.name,
                              ch.threads_id
                            )
                          "
                        >
                          <span class="btn-del"></span>
                        </button>

                        <!-- <ui-switch
                              class="d-flex align-self-center"
                              id="toggle"
                              (change)="toggleSocialAccount($event)"
                              [checked]="true"
                            >
                            </ui-switch> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-action pb-4">
            <button (click)="onReditectSocial('facebook')">
              + {{ 'social_networks.add_fb' | translate }}
            </button>
          </div>

          
        </div>
      </div>

      <!------------------------------------------link other netwok------------------------------------------>
    </div>

    <!------------------------------------------link other netwok------------------------------------------>
    
    <div class="other-network" *ngIf="percentSocial < 100 && percentSocial > 0">
      <hr />
      <p class="network-type">
        {{ 'social_networks.link_another_acc' | translate }}
      </p>
      <div class="row flex-column justify-content-center align-items-center">
        <button
          class="google-btn-cnx"
          (click)="onReditectSocial('youtube')"
          *ngIf="channelGoogle?.length === 0"
        >
          <img src="./assets/Images/youtube-white.png" />
          <span> {{ 'social_networks.add_youtube_ch' | translate }}</span>
        </button>

        <button
          class="fb-btn-cnx"
          (click)="onReditectSocial('facebook')"
          *ngIf="channelFacebook?.length === 0"
        >
          <img src="./assets/Images/f-white.svg" />
          <span> {{ 'social_networks.add_fb' | translate }}</span>
        </button>

        <button
          class="twitter-btn-cnx"
          (click)="onReditectSocial('twitter')"
          *ngIf="channelTwitter?.length === 0"
        >
          <img src="./assets/Images/Shape_twitter.svg" />
          <span> {{ 'social_networks.add_twitter' | translate }}</span>
        </button>

        <button
          class="linkedin-btn-cnx"
          (click)="onReditectSocial('linkedin')"
          *ngIf="channelLinkedin?.length === 0"
        >
          <img src="./assets/Images/linkedin-white.png" width="24px" />
          <span> {{ 'social_networks.add_linkedin' | translate }}</span>
        </button>
        <button
          class="tiktok-btn-cnx"
          (click)="onReditectSocial('tiktok')"
          *ngIf="channelTiktok?.length === 0"
        >
          <img src="./assets/Images/tiktok-white.svg" width="20px" />
          <span> {{ 'social_networks.add_tiktok' | translate }}</span>
        </button>
        <button
          class="tiktok-btn-cnx"
          [className]="isLoading ? 'center-div' : 'tiktok-btn-cnx'"
          (click)="addThreadsAccount()"
          *ngIf="!checkThreadsExist"
        >
          <ng-container *ngIf="!isLoading">
            <img src="./assets/Images/threads-logo.svg" width="24px" />
            <span > {{ 'social_networks.add_threads' | translate }}</span>
          </ng-container>
          <div *ngIf="isLoading"
                class="spinner-border text-light"
                role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <ng-template #deleteAllModal>
    <div class="">
      <div class="modal-body modal-customm">
        <div class="row d-flex justify-content-center">
          <img src="/assets/Images/deletePop.svg" class="deleteImg img-fluid" />
        </div>
        <div class="d-flex justify-content-center text-center mt-2">
          <h6 class="textTitle">
            {{ 'delete_text1' | translate: { network: networkName } }}
          </h6>
        </div>
        <div class="d-flex justify-content-center text-center mt-3">
          <p class="text-paragraph">
            {{ 'delete_text2' | translate: { network: networkName } }}
          </p>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center mt-2"
        >
          <div class="d-flex align-items-center">
            <button
              type="button"
              class="btn delete"
              (click)="deleteList(deleteAllModal, networkName)"
              data-dismiss="modal"
            >
              {{ 'delete_button1' | translate }}
            </button>
          </div>
          <div class="d-flex align-items-center mt-2">
            <button
              (click)="closeModal(deleteAllModal)"
              type="button"
              class="btn cancel"
              data-dismiss="modal"
            >
              {{ 'delete_button2' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #deleteOneModal>
    <div class="">
      <div class="modal-body modal-customm">
        <div class="d-flex justify-content-center">
          <img src="/assets/Images/iconLink.svg" class="deleteImg img-fluid" />
        </div>
        <div class="col justify-content-center mt-2">
          <h6 class="textTitle" *ngIf="networkName === 'google'">
            {{ 'delete_text3' | translate: { title: channelTitle } }} "{{
              channelName
            }}"
          </h6>
          <h6
            class="textTitle"
            *ngIf="
              networkName === 'twitter' ||
              networkName === 'facebook' ||
              networkName === 'linkedin'
            "
          >
            {{ 'delete_text5' | translate: { title: channelTitle } }} "{{
              channelName
            }}"
          </h6>
        </div>
        <div class="col d-flex justify-content-center mt-3">
          <p class="text-paragraph">{{ 'delete_text4' | translate }}</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-12 justify-content-center mb-2">
            <button
              (click)="
                deleteAccount(this.channelId, networkName, this.channelName)
              "
              type="button"
              class="btn delete"
              data-dismiss="modal"
            >
              {{ 'delete_button1' | translate }}
            </button>
          </div>
          <div class="col-lg-12 justify-content-center">
            <button
              (click)="closeModal(deleteOneModal)"
              type="button"
              class="btn cancel"
              data-dismiss="modal"
            >
              {{ 'delete_button2' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!--------------------------->
