:host {
  display: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.span-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #4048ff;
}

:host-context(.fromWallet) {
  @media (max-width: 960px) {
    display: block !important;
    background: white;
    // flex-direction: row;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    box-shadow: 0px -4px 15px 0px #00000040;
    z-index: 999;
  }
}

@media (max-width: 1024px) {
  :host {
    background: white;
    // flex-direction: row;
    display: block !important;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    box-shadow: 0px -4px 15px 0px #00000040;
    z-index: 999;
  }
}

.div-wallet {
  // margin-bottom: 20px;
  margin-bottom: 17px;
  background: white;
  border-radius: 63px;
  position: relative;
}

.half-circle {
  height: 85px;
  background: #d8daff;
  width: 155px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom: 0;
  display: none;
  z-index: -6;
  bottom: 63px;
  position: absolute;
  padding: 5px 10px 10px 11px;
}

.half-circle-block {
  display: block !important;
}

.half-circle-button {
  // width: 40px;
  // height: 40px;
  width: 40px;
  height: 40px;
  color: #4048ff;
  background-color: white;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  // font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
}

.icon-ins:hover,
.icon-arrow-1:hover,
.icon-arrow1:hover {
  font-size: 20px;
}

// .div-wallet:hover {
//   .div-pic-wallet {
//     background: white;
//     .span-icon {
//       color: #4048ff;
//     }
//   }
// }
.blue-bg {
  background: #4048ff !important;
  .span-icon {
    color: white !important;
  }
}

.pic-wallet-curvy {
  height: 35px;
  width: 58px;
  background-color: white;
  -webkit-clip-path: polygon(50% 57%, -22% 119%, 99% 100%);
  clip-path: polygon(50% 57%, -22% 119%, 99% 100%);
  position: absolute;
  top: -18px;
}

.div-pic-wallet {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #4048ff;
  border-radius: 30px;
  width: 53.94px;
  height: 53.94px;
  margin-top: 6px;
  z-index: 1;
  span {
    color: white;
    font-size: 32px;
  }
}

.div-adPool,
.div-wallet,
.div-home,
.div-farm,
.div-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

img {
  width: 34px;
  height: 34px;
  padding: 2px;
}

.div-adPool:hover,
.div-home:hover,
.div-farm:hover,
.div-help:hover,
.div-adPool:focus,
.div-home:focus,
.div-farm:focus,
.div-help:focus {
  img {
    background: #d8daff;
    border-radius: 30px;
  }
}

.div-menu {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.checked-icon {
  color: white;
  background: transparent;
}

.half-circle-button:disabled {
  background: #f6f6ff;
  cursor: auto;
  color: #adadc8;
}
