<div class="row justify-content-center flex-row p-2">
  <div class="d-flex justify-content-end col-6 p-0 pe-2">
    <div
      class="dropdown"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <button class="btn btntoggle dropdown-toggle btn-dropdown" type="button">
        <i class="chevron2 fa fa-fw"></i>

        <img
          class="width_icon_selectednetwork"
          src="assets/Images/networks-icon/network-black-{{
            selectedNetworkValue
          }}.svg"
        />

        <span class="dropdown-text ps-2">
          {{ selectedNetworkValue }}
        </span>
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        id="dropdownButtonUl2"
      >
        <ng-container *ngFor="let n of networkList; trackBy: trackById2">
          <li
            class="li-select"
            *ngIf="n.network !== selectedNetworkValue"
            (click)="selectNetworkValue(n.network)"
            [ngClass]="{
              hide: n.network === 'BTC' && router.url.startsWith('/campaign')
            }"
          >
            <img
              src="assets/Images/networks-icon/network-black-{{
                n.network
              }}.svg"
              class="width_icon_network"
            />
            <span class="li-select-text"
              >{{ n.network }}

              <!-- <span  *ngIf="n.network==='ERC20'" class="icon-ethereum-lg mt-1 blokchIcon displayed"></span>
                        <span *ngIf="n.network==='BEP20'" class="icon-binance-lg blokchIcon2 displayed"></span>
                        <span *ngIf="n.network==='BTC'" class="icon-figma-1 mt-2 ms-3 displayed"></span> -->
            </span>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="d-flex col-6 p-0">
    <div
      class="dropdown"
      id="dropdown-ul"
      data-flip="false"
      type="button"
      id="dropdownButton2"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      *ngIf="!router.url.startsWith('/campaign')"
    >
      <button
        [disabled]="selectedNetworkValue === 'BTC'"
        (click)="selectToken(selectTokenModal)"
        class="btn btntoggle dropdown-toggle btn-dropdown"
      >
        <i class="chevron fa fa-fw" *ngIf="selectedNetworkValue !== 'BTC'"></i>
        <img
          class="crypto-image"
          src="assets/Images/symbol_crypto/{{ cryptoSymbol }}.svg"
          *ngIf="!this.token"
        />
        <img
          class="crypto-image"
          src="assets/Images/symbol_crypto/{{ cryptoSymbol }}.svg"
          *ngIf="this.addedTokenNopic"
        />
        <img
          class="crypto-image"
          src="{{ cryptoSymbol }}"
          *ngIf="this.token && !this.addedTokenNopic"
        />
        <span class="dropdown-text ps-3">{{ cryptoSymbol | translate }} </span>
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="dropdownButton2"
        id="dropdownButtonUl"
        *ngIf="!router.url.startsWith('/campaign')"
      >
        <ng-container *ngFor="let crypto of dataList; trackBy: trackById">
          <li
            class="li-select"
            *ngIf="
              crypto.type === selectedNetworkValue &&
              crypto.symbol !== cryptoSymbol
            "
            (click)="
              selectCryptoValue(
                crypto.name,
                crypto.undername2,
                crypto.symbol,
                crypto.AddedToken,
                crypto
              )
            "
          >
            <span class="li-select-text">{{ crypto.symbol | translate }}</span>

            <img
              *ngIf="!crypto.picUrl"
              src="assets/Images/symbol_crypto/{{ crypto.undername2 }}.svg"
              class="width_icon_crypto"
            />
            <img
              class="width_icon_crypto"
              *ngIf="crypto.picUrl"
              [src]="crypto.picUrl"
              alt=""
            />
          </li>
        </ng-container>
      </ul>
    </div>
    <div
      class="dropdown"
      id="dropdown-ul"
      data-flip="false"
      type="button"
      id="dropdownButton2"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      *ngIf="router.url.startsWith('/campaign')"
    >
      <button
        (click)="selectToken(selectTokenModal)"
        class="btn btntoggle dropdown-toggle btn-dropdown"
      >
        <i class="chevron fa fa-fw"></i>
        <img
          class="crypto-image"
          style="border-radius: 50%;"
          src="{{ cryptoImageCamapign }}"
          onerror="this.src='/assets/Images/symbol_crypto/indispo.svg'"
        />
        <span class="dropdown-text ps-3">{{ cryptoSymbolCampaign === 'SATTBEP20' ? 'SATT' : cryptoSymbolCampaign }} </span>
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="dropdownButton2"
        id="dropdownButtonUl"
        *ngIf="!router.url.startsWith('/campaign')"
      >
        <ng-container *ngFor="let crypto of dataList; trackBy: trackById">
          <li
            class="li-select"
            *ngIf="
              crypto.type === selectedNetworkValue &&
              crypto.symbol !== cryptoSymbol
            "
            (click)="
              selectCryptoValue(
                crypto.name,
                crypto.undername2,
                crypto.symbol,
                crypto.AddedToken,
                crypto
              )
            "
          >
            <span class="li-select-text">{{ crypto.symbol | translate }}</span>

            <img
              *ngIf="!crypto.picUrl"
              src="assets/Images/symbol_crypto/{{ crypto.undername2 }}.svg"
              class="width_icon_crypto"
            />
            <img
              class="width_icon_crypto"
              *ngIf="crypto.picUrl"
              [src]="crypto.picUrl"
              alt=""
            />
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<ng-template #selectTokenModal>
  <div class="modal_container">
    <button
      class="mobile_bt_tokenModal"
      (click)="closeTokenModal(selectTokenModal)"
    >
      <i class="bi bi-x-lg"></i>
    </button>
    <h3 class="modal_title w-fit mx-auto">{{'addToken.select_token' | translate }}</h3>
    <p class="modal_subtitle">
      {{'addToken.your_network' | translate }}
      <span class="network_selected">{{ selectedNetworkValue }}</span>
    </p>
    <div class="input_search_token_container">
      <i id="search_logo" class="bi bi-search"></i>
      <input
        class="input_search_token"
        (input)="searchToken($event)"
        type="text"
        [formControl]="tokenSearch"
        placeholder="{{'addToken.search' | translate}}"
      />
    </div>
    <div class="container">
      <!-- Your content for each crypto element here -->
      <div class="row">
        <div
          class="col-sm-4 col-4"
          *ngFor="let crypto of resultfilterList; let i = index"
          (click)="tokenToSelect(crypto)"
        >
          <div class="tokens_preview d-flex p-2 mb-2">
            <img
              [ngClass]="'i_preview'"
              class="img_token"
              src="{{ crypto.value.logo }}"
              alt="logo"
            />
            <p [ngClass]="'n_preview'" class="name_token">
              {{ crypto.key }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <ng-container *ngIf="tokenNotFound && showWarning">
        <div class="warning_div">
          <p>{{ 'addToken.search_no_available' | translate}}</p>
          <p
            class="warning_message"
            *ngIf="!showSearchNewTokenContainer && filterList.length === 0"
            (click)="searchPersonalizedToken()"
          >
           {{'addToken.add-personnaliszed-token' | translate}} >
          </p>
          <!-- Futur Button for add token  -->
        </div>
      </ng-container>
      <ng-container
        *ngIf="showSearchNewTokenContainer && filterList.length === 0"
      >
        <div class="form-group">
          <label class="label_title" for="contractAddress">
            {{ 'addToken.token-address' | translate | uppercase }}
          </label>
          <input
            id="contractAddress"
            class="input_search_token_container"
            type="text"
            placeholder="0x"
            (input)="searchCustomToken($event)"
          />

          <label class="label_title" for="tokenSymbol">
            {{ 'addToken.token-symbol' | translate }}
          </label>
          <input
            [disabled]="true"
            id="tokenSymbol"
            class="input_search_token_container"
            type="text"
            [value]="tokenSymbol"
          />

          <label class="label_title" for="decimals">
            {{ 'addToken.decimals' | translate  | uppercase  }}
          </label>
          <input
            [disabled]="true"
            id="decimals"
            class="input_search_token_container"
            type="text"
            [value]="tokenDecimal"
          />
        </div>
        <div *ngIf="customTokenNotFound">{{'addToken.token-or-network-invalid'| translate}}</div>
        <button class="add-btn" [disabled]="true">
          <div
            *ngIf="loadingCustomToken"
            class="spinner-border text-light"
            role="status"
          >
            <span class="sr-only">{{'addToken.Loading' | translate}}...</span>
          </div>
          <div *ngIf="!loadingCustomToken">+ {{'addToken.add-new-token' | translate}}</div>
        </button>
      </ng-container>
      <ng-container *ngIf="!tokenNotFound">
        <div class="list_crypto_container">
          <p class="modal_subtitle">{{'addToken.token_list' | translate}}</p>
          <div
            *ngFor="let crypto of filterList"
            (click)="tokenToSelect(crypto)"
            class="list_token d-flex"
          >
            <!-- selectCryptoValue(
              crypto?.name,
              crypto?.undername2,
              crypto?.symbol,
              crypto?.AddedToken,
              crypto
            ) -->
            <img class="img_token" src="{{ crypto.value.logo }}" alt="Logo" />
            <!-- <ul *ngFor='let item of tokens'></ul> -->
            <p class="name_token p-2">{{ crypto.value.name }}</p>
            <!-- justify-content-end -->
          </div>
        </div>
      </ng-container>
    </div>

    <!-- the token list will appear here  with an overflow cause there is more than 100 token-->
  </div>
</ng-template>
