<app-header-register></app-header-register>

    <main class="container auth-body">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="row title">

                <div class="">
                    <h2> {{"maintenance-title"| translate}}</h2>
                </div>
            </div>
            <div class="row lost_in_space_img">
                <img src="/assets/Images/maintenance-img.svg" class="server" alt="sever">
            </div>
            <div class="row err_desc ">
                <div class="col-lg-9 col-md-10 col-sm-12">
                    <h4> {{"maintenance-paragraph"|translate}}</h4>
                </div>
                <div class="col-lg-9 col-md-10 col-sm-12">
                    <h4>{{"maintenance-telegram"|translate}} </h4>
                </div>
                <div class="col-lg-9 col-md-10 col-sm-12">
                    <h4>
                        <img src="./assets/Images/maintenance-telegram.svg" 
                        class="telegram_icon tgm_img" 
                        width="30px" >
                    
                    </h4>
                </div>

            </div>
          
        </div>
    </main>
<app-footer></app-footer>