<div class="row d-flex justify-content-center">
  <form [formGroup]="formProfileNetworks">
    <div class="col-12 d-flex justify-content-center py-1">
      <span class="errorLink" *ngIf="errorMessage">{{
        errorMessage | translate
      }}</span>
      <span class="successLink" *ngIf="successMessage">{{
        successMessage | translate
      }}</span>
    </div>

    <div class="row d-flex margin-left">
      <div
        class="col-xl-4 col-lg-4 col-md-5 col-sm-8 div-bloc d-flex justify-content-center"
        *ngIf="!user?.idOnSn2"
      >
        <div class="div-connect div-connect-google" (click)="snlogin('google')">
          <img
            src="./assets/Images/vector-google.svg"
            class="goog_icon"
            width="20px"
            height="20px"
          />
          <span
            class="d-flex align-self-center gray-text-span"
            [ngClass]="{ grey_text_fr: this.frenchLang }"
          >
            {{ 'google_signup' | translate }}</span
          >
        </div>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-5 col-sm-8 div-bloc d-flex justify-content-center"
        *ngIf="user?.idOnSn2"
      >
        <div
          class="div-connect div-deconnect-social"
          (click)="logout('google')"
        >
          <img
            src="./assets/Images/google-disabled.svg"
            class="goog_icon"
            width="20px"
            height="20px"
          />
          <span
            class="d-flex align-self-center gray-text-span"
            [ngClass]="{ grey_text_fr: this.frenchLang }"
          >
            {{ 'Log_out_of' | translate }} Google</span
          >
        </div>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-5 col-sm-8 div-bloc d-flex justify-content-center"
        *ngIf="!user?.idOnSn"
      >
        <div
          class="div-connect div-connect-fb position-relative"
          (click)="snlogin('facebook')"
        >
          <img
            src="/assets/Images/f-white.svg"
            class="facebook_icon"
            width="12px"
            height="23px"
          />
          <span
            class="d-flex align-self-center white-text-span .facebook_text_en"
          >
            {{ 'facebook_signup' | translate }}</span
          >
        </div>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-5 col-sm-8 div-bloc d-flex justify-content-center"
        *ngIf="user?.idOnSn"
      >
        <div
          class="div-connect div-deconnect-social position-relative"
          (click)="logout('facebook')"
        >
          <img
            src="/assets/Images/fb-disabled.png"
            class="facebook_icon"
            width="12px"
            height="23px"
          />
          <span class="d-flex align-self-center gray-text-span">
            {{ 'Log_out_of' | translate }} Facebook</span
          >
        </div>
      </div>

      <!-- <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8 div-bloc" *ngIf="!user?.idOnSn3">
                <div class=" div-connect div-connect-telegram  position-relative" (click)="convertToScript()">
                    <div #script class="d-flex justify-content-center"  style="cursor: pointer; opacity:0">
                        <ng-content></ng-content>
                    </div>
                    <img src="./assets/Images/vector-telegram.svg" class="telegram_icon" width="30px" [ngClass]="{'tgm_img_fr':this.frenchLang}">

                    <span class="d-flex align-self-center white-text-span" [ngClass]="{'tgm_fr':this.frenchLang}">
                        {{'telegram_signup' | translate}}</span>
                </div>
            </div> -->

      <div
        class="col-xl-4 col-lg-4 col-md-5 col-sm-8 div-bloc d-flex justify-content-center"
        *ngIf="!user?.idOnSn3"
      >
        <div class="telegram_log" (click)="convertToScript()">
          <a [routerLink]="" class="m-width">
            <span class="tgm2"> {{ 'continuer_avec_tgm' | translate }}</span>
            <div class="d-flex justify-content-center m-width">
              <div
                #script
                class="d-flex justify-content-center"
                style="
                  cursor: pointer;
                  opacity: 0;
                  z-index: 3;

                  height: 40px;
                  width: 219px !important;
                "
              >
                <ng-content></ng-content>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-5 col-sm-8 div-bloc d-flex justify-content-center"
        *ngIf="user?.idOnSn3"
      >
        <div
          class="div-connect div-deconnect-social position-relative"
          (click)="logout('telegram')"
        >
          <img
            src="./assets/Images/vector-telegram-2.svg"
            class="pt-1 tgmImg"
            width="30px"
            [ngClass]="{ tgm_img_fr: this.frenchLang }"
          />
          <span
            class="d-flex align-self-center white-text"
            [ngClass]="{ tgm_fr: this.frenchLang }"
          >
            {{ 'Log_out_of' | translate }} Telegram</span
          >
        </div>
      </div>
    </div>
  </form>
</div>
