.title-section {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  color: #1f2337;
}

.label-type {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #75758f;
  text-transform: uppercase;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar {
  display: none !important;
}

::ng-deep .drag-scroll-content {
  display: flex !important;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

// grgg
::ng-deep image-cropper div {
  // height: 100% !important;
  // width: 100% !important;
  // margin-left: 0 !important;
  // left: 0 !important;
  cursor: pointer;
}

.fileInput2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0px;
  left: 0px;
  z-index: 1;
  cursor: pointer;
}


.img-cropper {
  width: 100% !important;
  height: 100% !important;
}

.danger_pic {
  vertical-align: middle;
  background: rgba(245, 32, 121, 0.2);
  border-radius: 30px;
  color: #f52079;
  border: none;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
}

.success_pic {
  background: rgba(0, 204, 158, 0.2);
  border-radius: 30px;
  color: #00cc9e;
  border: none;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
}

.small-label-type {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  /* line-height: 125.9%; */
  text-align: center;
  letter-spacing: 0.03em;
  color: #75758f;
}

.btn-white {
  background: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  display: flex;
  letter-spacing: 0.03em;
  border-radius: 30px;
  color: #4048ff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 48px;
  width: 350px;
  justify-content: center;
  cursor: pointer;
}

.btn-white:hover {
  border: 2px solid #0009d3;
  box-shadow: none;
}

.btn-white:focus {
  border: 2px solid #d6d6e8;
  box-shadow: none;
}

.upload-logo-bg {
  background-color: #f6f6ff;
  border: 1px solid #adadc8;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.label-type-italic {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #75758f;
}

* :focus {
  outline: none;
  box-shadow: none;
}

.horizontal-line {
  border: 1px solid #d6d6e8;
  height: 0px;
  width: 100% !important;
}

.btn-zoom1 {
  top: 70px;
  z-index: 1;
}

.btn-zoom2 {
  bottom: 0px;
  z-index: 1;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

.btn-edit {
  width: 47px;
  height: 47px;
  background-color: white;
  border-radius: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* position: absolute; 
right: 25px;
top: -65px;*/
}

.btn-edit-logo {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-edit:hover {
  border: 2px solid #0009d3;
  box-shadow: none;
}

.btn-edit:focus {
  border: 2px solid #d6d6e8;
  box-shadow: none;
}

.logo {
  border-radius: 50%;
  object-fit: cover;
}

.justify-content {
  justify-content: space-between;
}

.error {
  text-align: center;
  color: #f52079;
  position: absolute;
  font-size: 13px;
  line-height: 13px;
}

.cropArea {
  /* width: 212px; */
  height: 100%;
  /* max-width: 396px; */
  /* max-width: 100%;
height: 209.48px; */
  align-items: center;
  min-width: 300px;
}

#icon-fa-search {
  width: 25px;
  font-size: 21px;
  cursor: pointer;
  display: flex;
  align-self: center;
  color: #4048ff;
  font-weight: normal;
  font-style: normal;
}

.pic-cover {
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .div-drag-file {
    height: 215px;
  }
  .div-drag-file-mobile {
    height: 241px;
  }
}

@media (max-width: 575.98px) {
  .div-drag-file {
    height: 200px !important;
  }
  // .div-drag-file-mobile {
  //     height: 192px !important;
  // }
}

.div-drag-file {
  width: 100%;
  border: 1px dashed #adadc8;
  border-radius: 20px;
  overflow: hidden;
  height: 385px;
  background: #f6f6ff;
}

.div-drag-file-mobile {
  width: 100%;
  max-width: 448px;
  border: 1px dashed #adadc8;
  border-radius: 20px;
  overflow: hidden;
  height: 256px;
  background: #f6f6ff;
}

.cropArea {
  height: 210px;
  max-width: 396px;
  align-items: center;
}

.btn-white:hover {
  border: 2px solid #0009d3;
  box-shadow: none;
}

.btn-white:focus {
  border: 2px solid #d6d6e8;
  box-shadow: none;
}

.btn-green {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #00cc9e;
  color: #f6f6ff;
  border-radius: 30px;
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.btn-green:disabled {
  background: #d6d6e8;
  color: #adadc8;
  cursor: auto;
}

.btn-green:hover:enabled {
  background: #009775;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.btn-green:focus {
  background: #009775;
  /* border: 6px solid rgb(243 243 243 / 70%); */
  border-radius: 30px;
  /* box-sizing: content-box;
opacity: 88%; */
}

.btn-modal {
  width: 100% !important;
  height: 50px !important;
}

.input_logo {
  opacity: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
