<app-header-register></app-header-register>

    <main class="container auth-body">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="row title">

                <div class="">
                    <h2> {{"lost_in_space_title"| translate}}</h2>
                </div>
            </div>
            <div class="row lost_in_space_img">
                <img src="/assets/Images/Error404_img.svg" class="server" alt="sever">
            </div>
            <div class="row err_desc ">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <h4> {{"lost_in_space_paragraph"|translate}}</h4>
                </div>
            </div>
            <div class="row list d-flex justify-content-center no-mobile">
                <div class="col-md-4">
                    <span class="list_title">
                        {{'how_to'|translate}}
                    </span>
                    <ul>
                         <li> <a href="https://satt-token.com/#faq" target="_blank">  {{'create_wallet'|translate}} </a> </li>
                         <li> <a href="https://satt-token.com/#faq" target="_blank"> {{'Create_a_campaign'|translate}} </a></li>
                        <li>  <a href="https://satt-token.com/#faq" target="_blank">  {{'Earn_Crypto'|translate}} </a> </li>
                    </ul>
                </div>
                <!-- <div class="col-md-4 BorderList"> 
                    <span class="list_title"> 
                        {{'Last_news'|translate}}
                    </span>
                    <ul>
                        <li> <a href="https://satt-token.com/blog/fr/2021/05/18/resultats-jeu-concours-cointribune-x-satt-token/"> {{'Crypto_Highlights_Week_#30'|translate}} </a> </li>
                        <li> <a href="https://satt-token.com/blog/fr/2021/03/24/hitbtc-tutoriel-dinscription-dachat-et-dechange-de-satt/">  {{'Crypto_Highlights_Week_#29'|translate}}</a></li>
                        <li> <a href="https://satt-token.com/blog/fr/2021/03/11/airdrop-holder-satt/"> {{'Crypto_Highlights_Week_#28'|translate}}</a> </li>
                    </ul>
                  </div> -->
                <div class="col-md-4 BorderList">  
                    <span class="list_title">
                        {{'Our_tools'|translate}}
                    </span>
                    <ul>
                        <li> <a href="https://satt-token.com/blog/fr/" target="_blank"> {{'Satt_wallet'|translate}} </a></li>
                        <li> <a href="https://iframe-apps.com/fr/" target="_blank"> Iframe-apps  </a> </li>
                        <li> <a href="https://when-moon.io/" target="_blank"> {{'When_moon'|translate}} </a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </main>
<app-footer></app-footer>