/* sk */
@media only screen and (max-width: 375px) {

  .div1 {
  padding-top: 1vh;
}
}
@media only screen and (min-width:376px) and (max-width: 768px) {
  .div1 {
    padding-top: 2vh !important;
}
}

@media only screen and (max-width: 768px) {
  .div1 {
    padding: 3px;
    display: flex;
    background-color: #f6f6ff;
    position: fixed;
    z-index: 101;
  }

  .div2 {
    /* font-size: 0em; */
    padding: 14px;
    padding-left: 20px;
    margin-top: auto;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-top: 0 !important;
    font-size: 0 !important;
  }
  .cross {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    justify-content: center;
  }
  .cross-mobile {
    margin: auto;
    height: 50%;
    justify-content: center;
  }
}

.center-content2 {
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 65px); */
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 8vh;
}
.div1 {
  padding-bottom: 3px;
  height: 10vh;
  background-color: #f6f6ff;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 101;
  padding-top: 1vh;
}

.div2 {
  margin-top: 0.5em;
  padding: 14px;
  width: fit-content;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  height: 57px;
  display: inline-block;
  padding-top: 2vh;
}

.title-modal {
  width: 752px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 110%;
}

.title-modal.warning {
  font-weight: 700;
  text-transform: uppercase;
  color: #f52079;
}
.welcome-body2 {
  overflow-y: auto;

}

.title-modal.warning-bold {
  font-weight: 700;
}

.box-size {
  width: 15px;
}

#cross {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 3.5vh;
  margin-right: 3%;
}

.cross-mobile {
  margin: auto;
  height: 50%;
  justify-content: center;
}

#img-moon-warning {
  margin-top: -5px;
}

/* sk */
:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-content {
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 65px); */
  overflow-y: auto;
  overflow-x: hidden;
}
.center-content-2 {
  height: 100vh;
}
::-webkit-scrollbar {
  display: none !important;
}

@supports (-moz-appearance: none) {
  .center-content {
    width: 100%;
    /* height: calc(100vh - 63px) !important; */
    /* height: calc(100vh - 82px); */
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scrollbar-width: none !important;
    ms-overflow-style: none !important;
  }
}
@media (max-width: 280px) {
  .center-content {
    transform: scaleX(0.9);
    margin-left: -1rem;
  }
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  .container-main {
    display: flex;
    flex-direction: row;
    width: auto;
    column-gap: 5px;
  }
} */

/* .container-main.margin60 {
  margin-top: 60px !important;
} */

.container-main {
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: 320px;
}

@media (max-width: 767px) and (min-width: 200px) {
  .container-main {
    max-width: 100vw;
    display: block;
  }
}
