<img src="/assets/Images/Password_modal_logo.svg" alt="" class="key-image" />

<h3 class="title">{{ 'campaign_password.title' | translate }}</h3>

<p class="confirmation-info">
  {{ 'campaign_password.description2' | translate }}
</p>
<ng-container *ngIf="!!network">
  <p style="font-family: 'Poppins';font-weight: 400; text-align: center;">
    <ng-container *ngIf="network.toString().toUpperCase() === 'BEP20' && !!bepGaz">
      Fees : {{ (bepGaz / bnb).toFixed(8) }} BNB ( ≈ ${{bepGaz}} )
    </ng-container>
    <ng-container *ngIf="network.toString().toUpperCase() === 'ERC20' && !!erc20Gaz">
      Fees : {{ (erc20Gaz / eth).toFixed(8) }} ETH ( ≈ ${{erc20Gaz}} )
    </ng-container>
    <ng-container *ngIf="network.toString().toUpperCase() === 'POLYGON' && !!polygonGaz">
      Fees : {{ (polygonGaz / matic).toFixed(8) }} MATIC ( ≈ ${{polygonGaz}} )
    </ng-container>
    <ng-container *ngIf="network.toString().toUpperCase() === 'BTT' && !!bttGaz">
      Fees : {{ (bttGaz / btt).toFixed(8) }} BTT ( ≈ ${{bttGaz}} )
    </ng-container>
    
   
  </p>
</ng-container>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="confirm-form">
  <div
    class="div_input_add position-relative"
    [ngClass]="{ 'error-input': password.invalid && form.touched }"
  >
    <img src="/assets/Images/input_password_logo.svg" width="46px" alt="" />
    <input
      autocomplete="off"
      type="password"
      name="password"
      formControlName="password"
      class="input_oeil pass-hide"
      [readonly]="isLoading"
      #password_field
    />
  </div>

  <div class="errors">
    <span class="error-message" [hidden]="!errorMessage">
      {{ errorMessage | translate | capitalizePhrase }}</span
    >
    <span class="error-message" [hidden]="password.valid || !form.touched">
      {{ 'field_required' | translate | capitalizePhrase }}</span
    >
  </div>

  <div class="confirm-button-wrapper">
    <button type="submit" class="change_btn">
      <span *ngIf="!isLoading" class="btn-text"
        >{{ 'campaign_password.confirm' | translate | capitalizePhrase }}
      </span>
      <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin fa-sm fa-fw"></i>
    </button>
  </div>
</form>
