<header class="header-set-lang">
  <div class="row">
    <img
      src="/assets/Images/satt_logo_white.svg"
      class="logo_satt logo_satt_show"
      alt="logo"
    />
    <img
      src="/assets/Images/satt_logo_white.svg"
      class="logo_satt logo_satt_showMob"
      alt="logo"
    />
    <button
      class="btn_signOut logo_satt_show"
      (click)="signOut()"
      *ngIf="
        router.url === '/completeProfile' || router.url === '/password_wallet'
      "
      [ngClass]="{
        btn_signOut_english: this.english && this.languageSelected == 'en'
      }"
    >
      <img class="logout_icon" src="/assets/Images/logout_icon.svg" />
      <span class="logout_span"> {{ 'Header.logout' | translate }} </span>
    </button>

    <img
      class="logo_satt_showMob logout_mobile_icon"
      *ngIf="
        router.url === '/completeProfile' || router.url === '/password_wallet'
      "
      (click)="signOut()"
      src="/assets/Images/logout_icon.svg"
    />
    <div class="dropdown">
      <button
        class="btn btntoggle btn_create"
        (click)="refresh()"
        *ngIf="
          router.url !== '/completeProfile' &&
          router.url !== '/activePass' &&
          router.url !== '/404' &&
          router.url === '/error'
        "
      >
        {{ 'Réessayer' | translate }}
      </button>
      <button
        class="btn btntoggle btn_create"
        routerLink="/auth/login"
        *ngIf="
          router.url !== '/completeProfile' &&
          router.url !== '/activePass' &&
          router.url !== '/404' &&
          router.url !== '/error' &&
          router.url !== '/maintenance' &&
          router.url !== '/password_wallet'
        "
      >
        {{ 'deja_un_compte' | translate }}
      </button>
      <!--data-toggle="dropdown"-->
      <button
        class="btn btntoggle dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span *ngIf="languageSelected === 'en'"> En </span>
        <span *ngIf="languageSelected === 'fr'"> Fr</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li
          class="lang-select"
          (click)="switchLang(language)"
          *ngFor="let language of translate.getLangs()"
        >
          <a *ngIf="language === 'en'" class="lang-en">En</a>
          <a *ngIf="language === 'fr'" class="lang-fr">Fr</a>
        </li>
      </ul>
    </div>
  </div>
</header>
