.image {
  width: 33px;
  height: 33px;
  position: relative;
  margin-left: -10px;
}
.logoCypto {
  display: flex;
  cursor: pointer;
}


.migratebtn {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: 4px 16px;
  gap: 8px;
  /* position: absolute; */
  left: 17.57%;
  right: 16.83%;
  top: 33.74%;
  bottom: 60.34%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 30px;
  /* width: 174px; */
  /* height: 27px; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #ffa318;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: thin;
}

.textecenter{
  height: 37px;

  top: 181px;
  
  /* DESKTOP/Titles/H3 */
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* or 127% */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  
  color: #323754;

}

.qrcode-desktop {
  display: block;
  padding-bottom: 100px;
}

.qrcode-mobile {
  display: none;
}
@media (max-width: 768px) {
  .qrcode-mobile {
    display: block;
  }
  .qrcode-desktop {
    display: none;
  }
}

.bc {
  width: 100%;
  height: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  order: 1;
  flex-grow: 0;
  padding-top: 8px;
  padding-left: 20px;
}
.centreButton {
  padding: 4px !important;
}

.container-QR-code {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px 2em;
  gap: 16px;
  width: 85%;
  background: #ffffff;
  // border: 1px solid #CDCFFF;
  box-shadow: 0px 8px 12px rgba(31, 35, 55, 0.3);
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 636px;
}

.FourButton {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container-QR-code:hover {
  box-shadow: 0px 1px 11px #79a9ff;
}

.globale {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
.wallet-title {
  /* DESKTOP/Body/SMALLCAPS */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* 02.GREYS/hard grey */

  color: #75758f;
}
.wallet-address-wraaper {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  /* 01.COLORS/blue */

  color: #4048ff;
}

.copy {
  cursor: pointer;
}
.black-dialog {
  width: 73px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: -29px;
  left: 50%;
  opacity: 1;
  margin-left: -39px;
}
.dialog-point {
  width: 0;
  height: 0;
  border-left: 16px solid black;
  border-right: 0px solid transparent;
  border-top: 17px solid transparent;
  position: absolute;
  bottom: -12px;
  right: 4px;
}

.btn-nav {
  cursor: pointer;
  background: #ffffff;
  display: flex;
  // justify-content: center;
  box-shadow: 0px 2px 6px rgb(50 55 84 / 40%);
  border-radius: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  margin: auto;
  color: #4048ff;
  text-align: center;
  /* padding: 1rem 2rem; */
  margin-top: 1rem;
  /* width: 85%; */

  width: 212px;
  height: 40px;
  // padding: 7px 20px;
}

.wallet-address {
  text-overflow: ellipsis;
  overflow: hidden;
}
