.title-section {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #1f2337;
}

.label-type {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #75758f;
    text-transform: uppercase;
}

.input-type {
    width: 100%;
    height: 48px;
    padding: 6px 15px;
    line-height: 1.57142857;
    border: 1px solid #d6d6e8;
    font-size: 16px;
    background-color: white;
    font-style: normal;
    font-weight: normal;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px
}

.type-textarea {
    overflow: hidden;
    resize: none; 
    width: 100%;
    height: 92px;
     padding: 10px 15px; 
    line-height: 1.57142857;
    overflow: auto;
    border: 1px solid #d6d6e8;
    font-size: 16px;
    background-color: white;
    color: #323754;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}


/* ::ng-deep .cropper .resize{
    display: none !important;
  } */

::ng-deep .drag-scroll-content::-webkit-scrollbar {
    display: none !important;
}

::ng-deep .drag-scroll-content {
    display: flex !important;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

::ng-deep image-cropper div {
    cursor: pointer;
}


/* drag-scroll {
    width:1000px; 
    height: 300px;
  } */

.drop-box {
    border: 3px dashed #75758f;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    /* height: 150px; */
    text-align: center;
    padding: 0px;
    /* margin: 0% 13%; */
    color: #8c8c8c;
    font-size: 18px;
    clear: both;
    overflow: hidden;
}

.fileInput2 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    z-index: 1;
    cursor: pointer;
}

.img-cropper {
    width: 100% !important;
}

.danger_pic {
    vertical-align: middle;
    background: rgba(245, 32, 121, 0.2);
    border-radius: 30px;
    color: #f52079;
    border: none;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
}

.success_pic {
    background: rgba(0, 204, 158, 0.2);
    border-radius: 30px;
    color: #00cc9e;
    border: none;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
}

.small-label-type {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    /* line-height: 125.9%; */
    text-align: center;
    letter-spacing: 0.03em;
    color: #75758f;
}

.btn-white {
    background: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 30px;
    color: #4048ff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 35%;
    cursor: pointer;
}

.btn-white:hover {
    border: 2px solid #0009d3;
    box-shadow: none;
}

.btn-white:focus {
    border: 2px solid #d6d6e8;
    box-shadow: none;
}

.upload-logo-bg {
    background-color: #d6d6e8;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.label-type-italic {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #75758f;
    text-transform: none;
}

* :focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 767.98px) {
    /* .label-type {
        display: flex;
        justify-content: center;
    } */
    .drop-box {
        height: 200px;
    }
    .justify-content {
        justify-content: center !important;
    }
    .btn-edit {
        width: 46px !important;
        height: 46px !important;
    }
}

@media (max-width: 575.98px) {

    .pt-3-mobile {
        padding-top: 1rem !important;
    }
}

.horizontal-line {
    border: 1px solid #d6d6e8;
    height: 0px;
    width: 100% !important;
}

.modal-body.modal-custom{
 margin-top: 0 !important; 
 margin-bottom: 3em !important;  
}

.btn-close{
    z-index: 2;
}

.btn-zoom1 {
    top: 70px;
    z-index: 1;
}

.btn-zoom2 {
    bottom: 0px;
    z-index: 1;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none !important;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

.btn-edit {
    width: 47px;
    height: 47px;
    background-color: white;
    border-radius: 56px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; 
    right: 25px;
    top: -65px;*/
}

.btn-edit-logo {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-edit:hover {
    border: 2px solid #0009d3;
    box-shadow: none;
}

.btn-edit:focus {
    border: 2px solid #d6d6e8;
    box-shadow: none;
}

.logo {
    border-radius: 50%;
    object-fit: cover;
}

.justify-content {
    justify-content: space-between;
}

.error {
    text-align: center;
    color: #f52079;
    position: absolute;
    font-size: 13px;
    line-height: 13px;
}

/*.cropArea {
    /* width: 212px; 
    height: 210px;
    /* max-width: 396px; */
    /* max-width: 100%;
     height: 209.48px; 
    align-items: center;
    min-width: 300px;
}*/

#icon-fa-search {
    width: 25px;
    font-size: 21px;
    cursor: pointer;
    display: flex;
    align-self: center;
    color: #4048ff;
    font-weight: normal;
    font-style: normal;
}

.pic-cover {
    width: 100%;
    height: 100%;
}

.div-drag-file {
    width: 100%;
    border: 4px dashed gray;
    border-radius: 20px;
    overflow: hidden;
}


/* 



/*
::ng-deep .cropper {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    color: white;
    left: 0 !important;
    margin-left: 0 !important;
    /* visibility: hidden !important; 
}

*/


/* ::ng-deep .cropper .resize,
ng-deep .cropper .resize-bar {
    display: none !important;
} */

.cropArea {
    height: 210px;
    max-width: 396px;
    align-items: center;
   
    min-width: 300px;
}

.btn-green {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #00cc9e;
    color: #f6f6ff;
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.btn-green:disabled {
    background: #d6d6e8;
    color: #adadc8;
    cursor: auto;
}

.btn-green:hover:enabled {
    background: #009775;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.btn-green:focus {
    background: #009775;
    /* border: 6px solid rgb(243 243 243 / 70%); */
    border-radius: 30px;
    /* box-sizing: content-box;
      opacity: 88%; */
}

.btn-modal {
    width: 100% !important;
    height: 50px !important;
}

.input_logo {
    opacity: 0;
    position: absolute;
    display: flex;
    top: 30px;
    left: 10px;
    max-width: 68px;
}

.NgxEditor__Wrappe {
    
    border: 2px solid #d6d6e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
   
    

}

::ng-deep.NgxEditor__MenuBar {
    border-bottom: 1px solid #d6d6e8;
    flex-wrap: wrap;
}

::ng-deep.NgxEditor {
    border: none !important;
}

::ng-deep.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;
}

::ng-deep.CodeMirror pre {
    white-space: pre !important;
}
.btn-blue {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48.4px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: #ffff;
    background: #4048ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    height: 48px;
}

.btn-blue:hover:enabled {
    background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.generator{
    width: fit-content !important;
    padding: 1em 4em !important;
    margin: 1em auto !important;
    /* background: #4048ff !important; */
    
    }
    
.generator:hover:enabled{
    background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff !important;
}