<div class="col-12 px-3 padding-small-version">
  <form [formGroup]="form">
  <div
  class="col-md-12 col-lg-12 col-xs-12 d-flex justify-content-center pt-4"
  >
  <label class="title-section">{{
  'campaign_details.presentation' | translate
  }}</label>
  </div>
  
  <div class="row d-flex justify-content-center pt-3 mb-1">
  <div class="col-xl-5 col-md-6 col-lg-5 col-sm-6 col-12">
  <label
  class="label-type d-flex justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-center"
  >{{ 'campaign_name' | translate }}</label
  >
  <input type="text" name="" formControlName="title" class="input-type" />
  <div class="error">
  <span
  *ngIf="
  this.form.get('title')?.errors?.required &&
  notValidPresentation
  "
  >{{ 'Profil.field_required' | translate }}</span
  >
  </div>
  </div>
  <div class="col-md-6 col-md-6 col-lg-5 col-sm-6 col-12 pt-3-mobile">
  <label
  class="label-type d-flex justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-center">
  {{ 'campaign_Ai' | translate }}</label>
  <ng-template #iaModal>
  <div class="modal-header modal-custom">
  <button
  type="button"
  class="btn-close pull-right close"
  (click)="closeModalAi()"
  [disabled]="isGenerating"
  data-dismiss="modal"
  aria-label="Close"
  ></button>
  </div>
  <div
  class="modal-body modal-custom flex-column"
  style="padding: 20px 4em !important"
  >
  <div>
  <img
  class="alert-supp"
  src="../../../../assets/Images/AiGradIcon.png"
  alt=""
  />
  </div>
  <div class="d-flex justify-content-center">
  <h3 class="delete-token-modal-title">
  {{ 'campaign_Ai' | translate }}
  </h3>
  </div>
  <div class="d-flex justify-content-center">
  <h5 class="delete-token-modal-title mb-4">
  {{ 'campaign_Ai_generate' | translate }}
  </h5>
  </div>
  <div class="row">
  <input type="text" name="" formControlName="titles" class="input-type" />
  <button
  type="button"
  (click)="generateBrief()"
  [disabled]="form.get('titles')?.value.length === 0 || isGenerating"
  class="generator">
  
  <div *ngIf="!isGenerating">
  <!-- Show the button label when not generating -->
  {{'campaign_Ai_generator' | translate}} 
  </div>
  
  <div *ngIf="isGenerating"
  
  class="spinner-border text-primary"
  role="status"
  >
  <span class="sr-only">Loading...</span>
  </div>
  </button>
  </div>
  </div>
  </ng-template>
  <button
  type="button"
  class="btn-blue"
  
  (click)="openModalAi()"
  >
  {{ 'generator_campaign_Ai' | translate }}
  </button>
  </div>
  </div>
  
  <div class="row d-flex justify-content-center pt-3 mb-1">
  <div class="col-xl-5 col-md-6 col-lg-5 col-sm-6 col-12">
  <label
  class="label-type d-flex justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-center"
  >{{ 'create_campaign_form.your_brand' | translate }}
  </label>
  <input type="text" name="" formControlName="brand" class="input-type" />
  <div class="error">
  <span
  *ngIf="
  !this.form.get('brand')?.value && 
  notValidPresentation
  "
  >{{ 'Profil.field_required' | translate }}</span
  >
  </div>
  </div>
  <div class="col-xl-5 col-md-6 col-lg-5 col-sm-6 col-12 pt-3-mobile">
  <label
  class="label-type d-flex justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-center"
  >{{ 'create_campaign_form.reference' | translate }}
  <span class="label-type">{{ 'optional' | translate }}</span>
  </label>
  <input
  type="text"
  name=""
  formControlName="reference"
  class="input-type"
  />
  </div>
  </div>
  
  <div class="row d-flex justify-content-center pt-3 mb-1">
  <div class="col-xl-10 col-md-12 col-lg-10 col-sm-12">
  <label
  class="label-type align-items-center d-flex justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-center"
  >{{ 'create_campaign_form.summary' | translate }}
  <span class="label-type-italic">{{
  'create_campaign_form.150_characters' | translate
  }}</span>
  </label>
  <textarea formControlName="summary" class="type-textarea"></textarea>
  <div class="error">
  <span
  *ngIf="
  this.form.get('summary')?.errors?.required &&
  notValidPresentation
  "
  >{{ 'Profil.field_required' | translate }}</span
  >
  <span
  *ngIf="
  this.form.get('summary')?.errors &&
  !this.form.get('summary')?.errors?.required && notValidPresentation
  "
  >{{ 'create_campaign_form.summary_maxlength' | translate }}</span
  >
  </div>
  </div>
  </div>
  
  <div class="row d-flex justify-content-center pt-3 mb-1">
  <div class="col-xl-10 col-md-12 col-lg-10 col-sm-12">
  <label
  class="label-type d-flex justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-center"
  >
  {{ 'create_campaign_form.give_description' | translate }}
  </label>
  
  <div class="NgxEditor__Wrappe" height="400" minheight="200" width="400" minWidth="400">
  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
  <ngx-editor [editor]="editor" editable="true" formControlName="description"></ngx-editor>
  </div>
  
  </div>
  </div>
  <div class="row d-flex justify-content-center">
  <div
  class="col-xl-10 col-md-12 col-lg-10 col-sm-12 d-flex justify-content-start mb-2"
  >
  <div class="error">
  <span
  *ngIf="
  !descriptionPattern(this.form.get('description')?.value)
  &&
  notValidPresentation
  "
  >{{ 'Profil.field_required' | translate }}</span
  >
  </div>
  </div>
  </div>
  </form>
  </div>
  
  