:host {
  // padding: 2vw;
  display: block;
  // .content {
  //   padding: 2em 0;
  //   text-align: -webkit-center;
  // }
}

@media (max-width: 786.98px) {
  :host {
    padding-bottom: 100px !important;
  }
}
.background {
  background-color: white;
  padding: 40px 0px;
}
.separator {
  height: 65px;
}

// $small-width: 480px;
// $medium-width: 768px;
// $large-width: 1024px;

// @mixin extra-small {
//   @media (max-width: #{$small-width - 1px}) {
//     @content;
//   }
// }

// @mixin small-down {
//   @media (max-width: #{$medium-width - 1px}) {
//     @content;
//   }
// }

// @mixin small-only {
//   @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
//     @content;
//   }
// }

// @mixin small-up {
//   @media (min-width: #{$small-width}) {
//     @content;
//   }
// }

// @mixin medium-only {
//   @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
//     @content;
//   }
// }

// @mixin medium-up {
//   @media (min-width: #{$medium-width}) {
//     @content;
//   }
// }

// @mixin large {
//   @media (min-width: #{$large-width}) {
//     @content;
//   }
// }
