<div class="col-12 background pt-5" *ngIf="title.startsWith('ad-pools')">
  <div class="d-flex justify-content-center">
    <!-- <img
      class="d-block d-sm-none"
      src="../../../assets/Images/bgAddPool320.png"
      style="object-fit: cover; width: 100%; margin-top: -3rem !important"
    />
    <img
      class="d-none d-sm-block d-md-none"
      src="../../../assets/Images/bgAddPool320.png"
      style="object-fit: cover; width: 100%; margin-top: -3rem !important"
    />

    <img
      class="d-none d-md-block d-lg-none"
      src="../../../assets/Images/bgAddPool576.png"
      style="object-fit: cover; width: 100%; margin-top: -3rem !important"
    />

    <img
      class="d-none d-lg-block d-xl-none"
      src="../../../assets/Images/bgAddPool1200.png"
      style="object-fit: cover; width: 100%; margin-top: -3rem !important"
    />
    <img
      class="d-none d-xl-block"
      src="../../../assets/Images/bgAddPool.png"
      style="object-fit: cover; width: 100%; margin-top: -3rem !important"
    /> -->
    <div class="bg-imag-cover">
      <div class="bloc-cover">
        <div class="title-cover">Wallet updated</div>
        <div class="description-cover">
          For security reasons, we invite you to migrate your tokens to a new
          wallet.
        </div>
        <div>
          <button class="button-cover" routerLink="wallet">Migrate now</button>
        </div>
      </div>
    </div>
    <!--1400-->
    <!-- <p
      class="d-none d-xl-block"
      style="
        position: absolute;
        left: 0%;
        right: -5.96%;
        top: 34%;
        bottom: 34.33%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 3vw;
        line-height: 120%;

        display: flex;
        letter-spacing: 1px;

        padding-left: 3%;
        color: #ffffff;
      "
    >
      Smart Contract updated
    </p>
    <p
      class="d-none d-xl-block"
      style="
        position: absolute;
        left: 0%;
        right: -5.96%;
        top: 14vw;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.89vw;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Farm Your Social Networks & Earn <br />
      Crypto With Social Media
    </p>

    <button
      class="d-none d-xl-block"
      type="button"
      routerLink="wallet/buy-token"
      style="
        position: absolute;
        left: 3%;
        right: 0%;
        top: 19.8vw;
        bottom: 0%;
        color: white;
        width: 140px;
        height: 32px;
        background: #f52079;
        border-radius: 30px;
        letter-spacing: 0.01em;
        border: 0px;
      "
    >
      <span
        style="
          border: none;
          background-color: initial;
          display: flex;
          flex-direction: column;
          max-width: 200px;
          align-items: center;
          width: 100%;
          font-weight: 700;
        "
        >Buy SaTT</span
      >
    </button> -->

    <!--1200-->
    <!-- <p
      class="d-none d-lg-block d-xl-none"
      style="
        position: absolute;
        left: 0%;
        right: -5.96%;
        top: 9.9vw;
        bottom: 34.33%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 3.2vw;
        line-height: 120%;

        display: flex;
        letter-spacing: 1px;

        padding-left: 3%;
        color: #ffffff;
      "
    >
      Smart Contract updated
    </p>
    <p
      class="d-none d-lg-block d-xl-none"
      style="
        position: absolute;
        left: 0%;
        right: -5.96%;
        top: 14.1vw;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Farm Your Social Networks & Earn <br />
      Crypto With Social Media
    </p> -->

    <!-- <button
      class="d-none d-lg-block d-xl-none"
      type="button"
      routerLink="wallet/buy-token"
      style="
        position: absolute;
        left: 3%;
        right: 0%;
        top: 20vw;
        bottom: 0%;
        color: white;
        width: 140px;
        height: 32px;
        background: #f52079;
        border-radius: 30px;
        letter-spacing: 0.01em;
        border: 0px;
      "
    >
      <span
        style="
          border: none;
          background-color: initial;
          display: flex;
          flex-direction: column;
          max-width: 200px;
          align-items: center;
          width: 100%;
          font-weight: 700;
        "
        >Buy SaTT</span
      >
    </button> -->

    <!--576-->
    <!-- <p
      class="d-none d-md-block d-lg-none"
      style="
        position: absolute;
        left: 2%;
        right: -5.96%;
        top: 16vw;
        bottom: 34.33%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 4.8vw;
        line-height: 120%;

        display: flex;
        letter-spacing: 1px;

        padding-left: 3%;
        color: #ffffff;
      "
    >
      Smart Contract updated
    </p>

    <p
      class="d-none d-md-block d-lg-none"
      style="
        position: absolute;
        left: 2%;
        right: -5.96%;
        top: 50.18%;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Farm Your Social Networks & Earn
    </p>
    <p
      class="d-none d-md-block d-lg-none"
      style="
        position: absolute;
        left: 7%;
        right: -5.96%;
        top: 55.18%;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Crypto With Social Media
    </p>

    <button
      class="d-none d-md-block d-lg-none"
      type="button"
      routerLink="wallet/buy-token"
      style="
        position: absolute;
        left: 19%;
        right: 0%;
        top: 66%;
        bottom: 0%;
        color: white;
        width: 140px;
        height: 32px;
        background: #f52079;
        border-radius: 30px;
        letter-spacing: 0.01em;
        border: 0px;
      "
    >
      <span
        style="
          border: none;
          background-color: initial;
          display: flex;
          flex-direction: column;
          max-width: 200px;
          align-items: center;
          width: 100%;
          font-weight: 700;
        "
        >Buy SaTT</span
      >
    </button> -->

    <!--320-->
    <!-- <p
      class="d-none d-sm-block d-md-none"
      style="
        position: absolute;
        left: 1rem;
        right: -5.96%;
        top: 67%;
        bottom: 34.33%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 6.4vw;
        line-height: 120%;

        display: flex;
        letter-spacing: 1px;

        padding-left: 3%;
        color: #ffffff;
      "
    >
      Smart Contract updated
    </p>
    <p
      class="d-none d-sm-block d-md-none"
      style="
        position: absolute;
        left: 12%;
        right: -5.96%;
        top: 75.18%;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Farm Your Social Networks & Earn
    </p>
    <p
      class="d-none d-sm-block d-md-none"
      style="
        position: absolute;
        left: 20%;
        right: -5.96%;
        top: 79.5%;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Crypto With Social Media
    </p>

    <button
      class="d-none d-sm-block d-md-none"
      type="button"
      routerLink="wallet/buy-token"
      style="
        position: absolute;
        left: 37.3vw;
        right: 0%;
        top: 85%;
        bottom: 0%;
        color: white;
        width: 140px;
        height: 32px;
        background: #f52079;
        border-radius: 30px;
        letter-spacing: 0.01em;
        border: 0px;
      "
    >
      <span
        style="
          border: none;
          background-color: initial;
          display: flex;
          flex-direction: column;
          max-width: 200px;
          align-items: center;
          width: 100%;
          font-weight: 700;
        "
        >Buy SaTT</span
      >
    </button> -->

    <!--inf 320-->
    <!-- <p
      class="d-block d-sm-none"
      style="
        position: absolute;
        left: 2%;
        right: -5.96%;
        top: 60%;
        bottom: 34.33%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 6.2vw;
        line-height: 120%;

        display: flex;
        letter-spacing: 1px;

        padding-left: 3%;
        color: #ffffff;
      "
    >
      Smart Contract updated
    </p>
    <p
      class="d-block d-sm-none"
      style="
        position: absolute;
        left: 5%;
        right: -5.96%;
        top: 67.18%;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4.8vw;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Farm Your Social Networks & Earn
    </p>
    <p
      class="d-block d-sm-none"
      style="
        position: absolute;
        left: 16%;
        right: -5.96%;
        top: 72.18%;
        bottom: 30.91%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4.8vw;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: #ffffff;
      "
    >
      Crypto With Social Media
    </p>

    <button
      class="d-block d-sm-none"
      type="button"
      routerLink="wallet/buy-token"
      style="
        position: absolute;
        left: 29vw;
        right: 0%;
        top: 80%;
        bottom: 0%;
        color: white;
        width: 140px;
        height: 32px;
        background: #f52079;
        border-radius: 30px;
        letter-spacing: 0.01em;
        border: 0px;
      "
    >
      <span
        style="
          border: none;
          background-color: initial;
          display: flex;
          flex-direction: column;
          max-width: 200px;
          align-items: center;
          width: 100%;
          font-weight: 700;
        "
        >Buy SaTT</span
      >
    </button> -->
  </div>
</div>
<div class="separator" *ngIf="title.startsWith('farm-posts')"></div>
<div class="container-fluid page-content">
  <header>
    <app-dashboard-header [title]="title"></app-dashboard-header>
  </header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

