:host {
  // padding: 2vw;
  display: block;
  // .content {
  //   padding: 2em 0;
  //   text-align: -webkit-center;
  // }
}

@media (max-width: 786.98px) {
  :host {
    padding-bottom: 100px !important;
  }
}
.background {
  background-color: #f6f6ff;
  padding: 40px 0px;
}
.separator {
  height: 65px;
}
