:host {
  // padding: 2vw;
  display: block;
  // .content {
  //   padding: 2em 0;
  //   text-align: -webkit-center;
  // }
}
.bg-imag-cover {
  background-image: url('/assets/Images/bgAddPool.svg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 426px;
  margin-top: -5vh;
}

.bg-imag-newUser {
  background-image: url('/assets/Images/bgAddPoolNewUser.svg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 426px;
  margin-top: -7vh;
}
.bloc-cover-new-user {
  margin-top: 14vh;
  right: 40%;
}
.bloc-cover {
  margin-top: 14vh;
  right: 40%;
}
.title-cover {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;

  display: flex;
  letter-spacing: 1px;
  padding-left: 3%;
  margin-bottom: 1%;
  color: #ffffff;
}
.description-cover {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-right: 66%;
  padding-left: 3%;
  color: #ffffff;
  margin-bottom: 1%;
}
.button-cover {
  color: white;

  position: relative;

  left: 3%;
  right: 4.4%;
  font-size: 14px;
  bottom: 0%;
  width: 160px;
  height: 32px;
  background: #f52079;
  border-radius: 30px;
  letter-spacing: 0.01em;
  align-items: center;
  text-align: center;
  border: 0px;
}
@media (min-width: 1900px) {
  .description-cover {
    padding-right: 73%;
  }
}
@media screen and (max-width: 1800px) and (min-width: 320px) {
  .bg-imag-cover {
    margin-top: -12vh;
  }
  #new_user_title {
    width: 100% !important;
  }
}
@media (max-width: 992px) {
  .bloc-cover {
    margin-top: 15vh;
  }
  .bloc-cover-new-user {
    margin-top: 15vh;
  }
  .bg-imag-cover {
    background-image: url('/assets/Images/bgAddPool992.png');
    margin-top: -6vh;
  }

  .bg-imag-newUser {
    background-image: url('/assets/Images/bgAddPoolNewUser922.png');
  }
  #new_user_desc {
    padding-right: 21em !important;
  }
  #new_user_title {
    width: 70% !important;
  }
}
@media (max-width: 786.98px) {
  :host {
    padding-bottom: 100px !important;
  }
  .bloc-cover {
    margin-top: 15vh;
  }
  .bloc-cover-new-user {
    margin-top: 15vh;
  }
  .bg-imag-cover {
    background-image: url('/assets/Images/bgAddPool576.png');
  }

  .bg-imag-newUser {
    background-image: url('/assets/Images/bgAddPoolNewUser576.svg');
  }
  #new_user_desc {
    padding-right: 14em !important;
  }
}
@media (max-width: 576px) {
  .bloc-cover {
    margin-top: 15vh;
  }
  .bloc-cover-new-user {
    margin-top: 15vh;
  }
  .bg-imag-cover {
    background-image: url('/assets/Images/bgAddPool576.png');
  }

  .bg-imag-newUser {
    background-image: url('/assets/Images/bgAddPoolNewUser576.svg');
  }

  .title-cover {
    font-size: 28px;
  }
  .description-cover {
    font-size: 21px;
  }
  #new_user_desc {
    padding-right: 13em !important;
  }
}
@media (max-width: 375px) {
  .bloc-cover {
    margin-top: 48vh !important;
  }
}
@media (max-width: 500px) {
  .bg-imag-cover {
    background-image: url('/assets/Images/bgAddPool320.png');
    height: 468px;
    margin-top: -8vh;
  }

  .bg-imag-newUser {
    background-image: url('/assets/Images/bgAddPoolNewUser320.svg');

    height: 468px;
    margin-top: -8vh;
  }
  .bloc-cover-new-user {
    margin-top: 30vh;
    margin-left: 10%;
  }
  .bloc-cover {
    margin-top: 40vh;
    margin-left: 5%;
  }
  .title-cover {
    // width: 14em;
    // left: 5%;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    align-items: center;
  }
  .description-cover {
    font-weight: 400;
    padding-right: 40%;
    font-size: 14px;
    line-height: 130%;
    padding-right: 10%;
  }
  .button_container {
    width: fit-content;
    margin: auto;
  }
  .button-cover {
    // margin: auto;
    width: fit-content;
    float: right;
    margin-right: 6em !important;
  }

  @media only screen {
    .bloc-cover-new-user {
      margin-left: 4% !important;
    }

    #new_user_desc {
      padding-right: 2em !important;
    }
    #new_user_title {
      margin-top: 15em;
      width: 100vh !important;
      font-size: 22px;
    }
  }
  // .btn_cover_container {
  //   width: fit-content !important;
  //   margin: auto;
  // }

  // #new_user_desc{
  //   padding-right: 0em !important;
  // }

  // // #new_user_title{
  // //   width: 100% !important;
  // // }
}
.background {
  background-color: white;
  padding: 40px 0px;
}
.separator {
  height: 65px;
}
@media (min-height: 780px) and (max-height: 950px) and (max-width: 450px) {
  .bloc-cover {
    margin-top: 38vh;
  }
  .bloc-cover-new-user {
    margin-top: 38vh;
  }
}
// $small-width: 480px;
// $medium-width: 768px;
// $large-width: 1024px;

// @mixin extra-small {
//   @media (max-width: #{$small-width - 1px}) {
//     @content;
//   }
// }

// @mixin small-down {
//   @media (max-width: #{$medium-width - 1px}) {
//     @content;
//   }
// }

// @mixin small-only {
//   @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
//     @content;
//   }
// }

// @mixin small-up {
//   @media (min-width: #{$small-width}) {
//     @content;
//   }
// }

// @mixin medium-only {
//   @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
//     @content;
//   }
// }

// @mixin medium-up {
//   @media (min-width: #{$medium-width}) {
//     @content;
//   }
// }

// @mixin large {
//   @media (min-width: #{$large-width}) {
//     @content;
//   }
// }
