<div class="style-grid mt-4" *ngIf="this.tokenStorageService.getIsAuth()">
  <div class="block-create-campaign">
    <div class="block-title-create-campaign text-center">
      <h2 class="title-budget">
        {{ 'AllCampains.budget' | translate }}
      </h2>
      <h2 class="title-budget">
        {{ (totalBudgetInvested$ | async) || '0' | fromWeiTo: 'SATT' }} SaTT
      </h2>
      <h5>
        ( {{ 'AllCampains.soit' | translate }}
        {{ (totalBudgetInvestedInUSD$ | async) || '0' }} $ )
      </h5>
    </div>
    <div class="" (click)="createNewDraftCampaign()">
      <img
        src="/assets/Images/newImages/Mask-Group.svg"
        width="70px"
        class="pic-btn-create-campaign"
      />
      <button type="button" class="btn-create-campaign">
        <span class="text-btn-create-campaign">{{
          'confirm_btc' | translate
        }}</span>
      </button>
    </div>
  </div>
</div>
<div class="row filter-container">
  <!-- <app-ad-pool-filter
    (isFormatGrid)="listenForStyleHost($event)"
    class="w-100"
    (cryptoFilter)="filterCampaignsBySelectedCryptos($event)"
  >
  </app-ad-pool-filter> -->
</div>
<div *ngIf="!isFormatGrid" class="row justify-content-center">
  <app-ad-pool-grid
    [campaigns]="campaignsList"
    class="mt-3"
    *ngIf="!!campaignsList.length"
  ></app-ad-pool-grid>
  <!-- <ng-container *ngIf="isLoading">
    <app-campaigns-list-item-placeholder-ui
    *ngFor="let card of [1, 2, 3]"
  ></app-campaigns-list-item-placeholder-ui>
  </ng-container> -->
  <app-loading-logo class="SpinnerAuth" *ngIf="isLoading"></app-loading-logo>
</div>
<div class="style-grid mt-4" *ngIf="isFormatGrid">
  <app-list-items
    [infiniteScrollContainer]="'.center-content'"
    [fromRoot]="true"
    (onEndPageScroll)="onScroll()"
  >
    <ng-template appItemsList>
      <app-campaigns-list-item
        *ngFor="
          let campaign of campaignsList;
          trackBy: trackByCampaignId;
          let i = index
        "
        [campaign]="campaign"
      ></app-campaigns-list-item>

      <ng-container *ngIf="isLoading">
        <app-campaigns-list-item-placeholder-ui
          *ngFor="let card of [1, 2, 3]"
        ></app-campaigns-list-item-placeholder-ui>
      </ng-container>
    </ng-template>
  </app-list-items>
</div>
<div
  class="col-12 background pt-0.25 fixed-bottom position-relative"
  style="
    display: contents;
    box-shadow: 0px -16px 135px rgb(0 0 0 / 18%);
    width: 100%;
    left: 0%;
  "
>
 
  <div >
    <img
      class="d-block d-sm-none"
      src="../../../assets/Images/footerAdPoool320.png"
      style="object-fit: cover; "
    />
    <img
      class="d-none d-sm-block d-md-none"
      src="../../../assets/Images/footerAdPoool320.png"
      style="object-fit: cover; width: 100%"
    />

    <img
      class="d-none d-md-block d-lg-none"
      src="../../../assets/Images/footerAdPoool576.png"
      style="object-fit: cover; width: 100%"
    />

    <img
      class="d-none d-lg-block d-xl-none"
      src="../../../assets/Images/footerAdPoool1200.png"
      style="object-fit: cover; width: 100%"
    />
    <img
      class="d-none d-xl-block"
      src="../../../assets/Images/footerAdPoool.png"
      style="object-fit: cover; width: 100%"
    />
<div class="position-relative">
    <p
      class="d-none d-xl-block"
      style="
        position: absolute;
        left: 3%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
        display: flex;
        align-items: center;
        color: #f52079;
        bottom: 164px;
      "
    >
      Lunch your AdPool Now !
    </p>
    <p
      class="d-none d-xl-block"
      style="
        position: absolute;
        left: 3%;
        right: 34.5%;
        bottom: 25.21%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #1f2337;
      "
    >
      Adpool SaTT is an innovative tool that allows you to maximize the impact
      of their marketing campaigns. It allows you to advertise influencers to
      talk about your brand or product, using blockchain technology. By
      requesting the creation of an Adpool, our experienced team will contact
      you and help you set up your campaign. Trust SaTT for a successful
      marketing campaign!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScmtK5oh0fWi_S-yG2LGtUFZ_pQPESd2rgcBbtgXLV830H7pQ/viewform"
    >
      <button
        class="d-none d-xl-block"
        type="button"
        style="
          position: absolute;
          left: 3%;
          right: 0%;
     
          color: white;
          width: 133.87px;
          height: 32px;
          background: #f52079;
          border-radius: 30px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.01em;
          border: 0px;
        "
      >
        Apply to lunch
      </button>
    </a>
    <p
      class="d-none d-lg-block d-xl-none"
      style="
        position: absolute;
        left: 3%;
        bottom: 212px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #f52079;
      "
    >
      Lunch your AdPool Now !
    </p>
    <p
      class="d-none d-lg-block d-xl-none"
      style="
        position: absolute;
        left: 3%;
        right: 28.08%;
   
        bottom: 85.25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 120%;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: balck;
      "
    >
      Adpool SaTT is an innovative tool that allows you to maximize the impact
      of their marketing campaigns. It allows you to advertise influencers to
      talk about your brand or product, using blockchain technology. By
      requesting the creation of an Adpool, our experienced team will contact
      you and help you set up your campaign. Trust SaTT for a successful
      marketing campaign!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScmtK5oh0fWi_S-yG2LGtUFZ_pQPESd2rgcBbtgXLV830H7pQ/viewform"
    >
      <button
        class="d-none d-lg-block d-xl-none"
        type="button"
        style="
          position: absolute;
          left: 3%;
          right: 0%;

          color: white;
          width: 133.87px;
          height: 32px;
          background: #f52079;
          border-radius: 30px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.01em;
          border: 0px;
          bottom: 39px;
        "
      >
        Apply to lunch
      </button>
    </a>
    
    <p
      class="d-none d-md-block d-lg-none"
      style="
        position: absolute;
        left: 4.4%;

        bottom: 486px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        display: flex;
        letter-spacing: 1px;
        color: #f52079;
      "
    >
      Lunch your AdPool Now !
    </p>

    <p
      class="d-none d-md-block d-lg-none"
      style="
        position: absolute;
        left: 5.38%;
        right: 42.36%;
        bottom: 311.98px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        /* or 18px */
        display: flex;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: balck;
      "
    >
      Adpool SaTT is an innovative tool that allows you to maximize the impact
      of their marketing campaigns. It allows you to advertise influencers to
      talk about your brand or product, using blockchain technology. By
      requesting the creation of an Adpool, our experienced team will contact
      you and help you set up your campaign. Trust SaTT for a successful
      marketing campaign!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScmtK5oh0fWi_S-yG2LGtUFZ_pQPESd2rgcBbtgXLV830H7pQ/viewform"
    >
      <button
        class="d-none d-md-block d-lg-none"
        type="button"
        style="
          position: absolute;
          left: 4.4%;
          right: 4.4%;
      bottom: 252px;
          color: white;
          width: 133.87px;
          height: 32px;
          background: #f52079;
          border-radius: 30px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.01em;
          border: 0px;
        "
      >
        Apply to lunch
      </button>
    </a>
    <p
      class="d-none d-sm-block d-md-none"
      style="
        position: absolute;
        width: 376px;
        height: 34px;
        left: 25px;
        bottom: 907px;
        /* MOBILE/Titles/H2 */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        /* identical to box height, or 34px */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;
        color: #f52079;
      "
    >
      Lunch your AdPool Now !
    </p>
    <p
      class="d-none d-sm-block d-md-none"
      style="
        position: absolute;
        width: 400px;
        height: 195px;
        left: 15px;
        bottom: 654px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 130%;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: balck;
      "
    >
      Adpool SaTT is an innovative tool that allows you to maximize the impact
      of their marketing campaigns. It allows you to advertise influencers to
      talk about your brand or product, using blockchain technology. By
      requesting the creation of an Adpool, our experienced team will contact
      you and help you set up your campaign. Trust SaTT for a successful
      marketing campaign!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScmtK5oh0fWi_S-yG2LGtUFZ_pQPESd2rgcBbtgXLV830H7pQ/viewform"
    >
      <button
        class="d-none d-sm-block d-md-none"
        type="button"
        style="
        position: absolute;
          left: 33%;
          right: 0%;
          color: white;
          width: 133.87px;
          bottom: 617px;
          height: 32px;
          background: #f52079;
          border-radius: 30px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.01em;
          border: 0px;
        "
      >
        Apply to lunch
      </button>
    </a>
    <p
      class="d-block d-sm-none"
      style="
        position: absolute;

        height: 68px;
 
        bottom: 515px;
        /* MOBILE/Titles/H2 */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        /* identical to box height, or 34px */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;
        color: #f52079;
      "
    >
      Lunch your AdPool Now !
    </p>
    <p
      class="d-block d-sm-none"
      style="
        position: absolute;
        width: 357px;

        left: 4, 4%;
        bottom: 333px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        padding-left: 3%;
        color: balck;
      "
    >
      Adpool SaTT is an innovative tool that allows you to maximize the impact
      of their marketing campaigns. It allows you to advertise influencers to
      talk about your brand or product, using blockchain technology. By
      requesting the creation of an Adpool, our experienced team will contact
      you and help you set up your campaign. Trust SaTT for a successful
      marketing campaign!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScmtK5oh0fWi_S-yG2LGtUFZ_pQPESd2rgcBbtgXLV830H7pQ/viewform"
    >
      <button
        class="d-block d-sm-none"
        type="button"
        style="
          position: absolute;
          left: 33%;
          right: 0%;
          bottom: 311.87px;
          color: white;
          width: 133.87px;
          height: 32px;
          background: #f52079;
          border-radius: 30px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.01em;
          border: 0px;
        "
      >
        Apply to lunch
      </button>
    </a></div>
  </div>

</div>
<div class="mt-2">
  <div
    *ngIf="!isLoading && campaignsList.length === 0"
    class="row d-flex make-center"
  >
    <!-- <img class="not-found" src="/assets/Images/not-found.svg " /> -->

    <p class="result-found mt-3">
      <!-- {{ 'No result found' | translate }} -->
    </p>
  </div>
</div>

<ng-template #welcomeModal>
  <div class="modal-header modal-customm">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="closeModal(welcomeModal)"
    ></button>
  </div>
  <div class="modal-body modal-custom welcome-body modal-customm">
    <div class="row d-flex justify-content-center">
      <circle-progress
        class="prog"
        [percent]="this.percentProfil"
      ></circle-progress>
      <img
        [src]="user?.userPicture"
        (error)="onImgError($event)"
        class="pic-profile"
      />
      <span class="cercle">{{ percentProfil }}%</span>
    </div>
    <h3 class="textpwd">{{ 'Welcome_title' | translate }}</h3>
    <div class="d-flex justify-content-center welcome-paragraph">
      <p>{{ 'welcome_parag' | translate }}</p>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div
        class="d-flex align-items-center justify-content-center col-xl-6 col-lg-8 col-md-8 col-sm-8"
      >
        <button
          class="btnModalError btn_fill_profile"
          (click)="goToProfile(modalService)"
        >
          {{ 'fill_profile' | translate }}
        </button>
      </div>
      <div
        class="col-xl-6 col-lg-8 col-md-8 col-sm-8 d-flex flex-column justify-content-center align-items-center"
      >
        <button
          class="btnModalError btn_later"
          (click)="closeModal(welcomeModal)"
        >
          {{ 'later' | translate }}
        </button>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-start">
      <div class="col-12">
        <input type="checkbox" id="confirm" (click)="dontShowAgain()" />
        <label class="dont_show ms-2">{{
          "don't_show_again" | translate
        }}</label>
      </div>
    </div>
  </div>
</ng-template>
