*,
*:focus {
    outline: none;
}

:host {
    background: transparent;
    width: 100%;
    display: block;
}

.header-set-lang {
    position: relative;
    top: 0;
    right: 0px;
    padding: 20px;
}

.header-set-lang .dropdown {
    width: fit-content;
    margin-left: auto;
}

.btntoggle {
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    padding: 19px 26px;
    color: black;
    cursor: pointer;
    min-width: 84px;
}

.btntoggle:focus,
.btntoggle:active,
.btntoggle.active {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
}

.dropdown-menu {
    margin-top: 4px;
    text-align: center;
    min-width: 4rem;
    width: 84px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
    border-radius: 20px;
    padding: 3px;
}

li {
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #47526a;
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background: #f6f6ff;
    cursor: pointer;
}

.btn_create {
    background-color: #ffffff;
    color: #4048ff;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    margin-right: 15px;
    width: 253px;
    border-color: #4048ff;
    padding: 19px;
}

a {
    padding: 0px;
    text-decoration: none;
}

.lang-select a {
    color: #47526a;
}

.logo_satt {
    /* width: 187.35px; */
    height: 60px;
    cursor: pointer;
}

.logo_satt_show {
    width: 188px;
    height: 60px;
    margin-top: -6px;
    /* display: block; */
}

.logo_satt_showMob {
    width: 188px;
    height: 60px;
    /* display: block; */
}

.lang-fr {
    margin-left: -5%;
}

.lang-en {
    margin-left: -9%;
}

.header-set-lang {
    position: relative;
    top: 0;
    right: 0px;
    padding: 20px;
}

.header-set-lang .dropdown {
    width: fit-content;
    margin-left: auto;
}

@media (min-width: 767.99px) {
    .logo_satt_showMob {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .btntoggle {
        padding: 15px 15px !important;
        background-color: transparent !important;
        color: #ffffff;
        border-color: #ffffff;
    }
    .btntoggle {
        margin-top: 10px;
        min-width: 0px;
        min-width: 65px;
    }
    .btn_create {
        display: none;
    }
    .icon_pc {
        display: none;
    }
    .logo_satt {
        width: 162.35px !important;
    }
    .dropdown-menu {
        width: 60px !important;
    }
    .logo_satt_show {
        display: none !important;
    }
    .logo_satt_showMob {
        display: block !important;
        width: 162.35px !important;
    }
}

@media (max-width: 921.99px) {
    .btntoggle {
        padding: 15px 15px !important;
    }
    .btn_create {
        font-size: 16px !important;
        margin-right: 8px !important;
        width: auto !important;
        border-color: #4048ff !important;
        padding: 15px !important;
    }
    .dropdown-menu {
        margin-left: 3px;
        min-width: 3rem;
        width: 60px !important;
        padding: 0px !important;
    }
}