:host {
  display: block;
  max-width: 100%;
}

.picture-moonboy {
  max-width: 100%;
}

.text-popup {
  background: #ffffff;
  box-shadow: 0px 30px 50px rgba(214, 214, 232, 0.3);
  border-radius: 50px;
  width: 50%;
  height: 97.57px;
  border: 1px solid;
  padding: 1em;
  position: relative;
}

span,
a {
  white-space: nowrap;
}

.img-wrapper {
  margin-top: -50px;
  margin-left: 55px;
}
