<app-header-social-registartion> </app-header-social-registartion>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5">
      <app-left-component></app-left-component>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding-top margin-bottom">
      <div class="row d-flex justify-content-center">
        <div
          class="
            col-xl-8 col-lg-10 col-md-11 col-sm-8
            d-flex
            justify-content-start
          "
        >
          <app-monetize-steps></app-monetize-steps>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div
          class="
            col-xl-8 col-lg-10 col-md-11 col-sm-8
            make-center
            mt-2
            d-flex
            flex-column
          "
        >
          <span class="title_page">{{ 'congrats' | translate }}</span>
          <!-- <span class="title_page ">{{ "success_passwordActivation_title" | translate }}</span>-->
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3">
        <div
          class="
            col-xl-8 col-lg-10 col-md-11 col-sm-8
            make-center
            drak-gray_text
          "
        >
          <p>
            {{ 'firstparagA' | translate }}
            <span class="blue_email"> {{ 'votreProfil' | translate }} </span>
            {{ 'firstparagB' | translate }}
          </p>
          <!-- <p>
            {{ 'votreKWC_particular' | translate }}
            <span class="blue_email"> {{ 'votreKWC' | translate }} </span>
            {{ 'secondparag' | translate }}
          </p> -->
          <p>
            <span> {{ 'complete_ur_profile1' | translate }}</span>
            <span class="blue_email">
              {{ 'complete_ur_profile' | translate }}
            </span>
            <span> {{ 'complete_ur_profile3' | translate }}</span>
            <span class="mb-4"> {{ 'dont-forget-activPass' | translate }}</span>
          </p>
        </div>
      </div>

      <div class="row d-flex justify-content-center mb-1">
        <div
          class="
            col-xl-8 col-lg-10 col-md-11 col-sm-8
            top-10
            d-flex
            flex-column
            display-flex
          "
        >
        
        <button class="btn-blue" (click)="goToBuyBEP20_Simplex()">
          {{ 'buy_satt' | translate }}
        </button>
        <button class="btn-blue mt-2" (click)="goToEditProfile()">
          {{ 'Profil.edit_butt' | translate }}
        </button>
          <button class="btn-white mt-2" (click)="goToWallet()">
            {{ 'Go_to_the_wallet' | translate }}
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-social-registartion></app-footer-social-registartion>
