/* :host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.margin-bottom {
    margin-bottom: 70px;
}

:host {
    background-color: #ffffff;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    position: relative;
}

.padding-top {
    /* padding-top: 55px; */
    padding-top: 70px;
}

@media (max-width: 767.98px) {
    .top-10 {
        margin-top: 0 !important;
    }
    .margin-bottom {
        margin-bottom: 0 !important;
    }
     :host {
        background: linear-gradient(180deg, #4048ff -3.11%, #00cc9e 84.15%);
        /* background-image: url('assets/Images/backgrounds/bgdGreenBlue.svg'); 
         background-repeat: no-repeat; 
        background-size: cover; */
        min-height: 100vh;
        max-width: 100vw;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
    .padding-top {
        padding-top: 80px !important;
    }
    .btn-blue,
    .btn-white {
        width: 300px !important;
        height: 48px !important;
    }
    .drak-gray_text,
    .title_page {
        color: white !important;
    }
    .show-mobile {
        display: block !important;
    }
    .make-center {
        text-align: center !important;
    }
    .display-flex {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .show-mobile {
        display: block !important;
    }
    .show-desktop {
        display: none !important;
    }
    .blue_email {
        color: white !important;
    }
}

@media (max-width: 575.98px) {
    .title_page {
        font-size: 25px !important;
        line-height: 30px !important;
    }
}

.show-mobile {
    display: none;
}

.show-desktop {
    display: block;
}

.title_page {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.03em;
    color: #1f2337;
}

.drak-gray_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #323754;
}

.login_img {
    cursor: pointer;
}

.btn-blue {
    background: #4048ff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 30px;
    color: #f6f6ff;
    border: none;
    height: 52px;
    width: 396px;
    cursor: pointer;
}

.btn-white {
    background: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 30px;
    color: #4048ff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 52px;
    width: 396px;
    cursor: pointer;
}

.btn-blue:hover {
    background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-white:hover:enabled {
    border: 2px solid #0009d3;
    box-shadow: none;
}

.btn-white:focus,
.btn-blue:focus {
    border: 2px solid #d6d6e8;
    box-shadow: none;
}

.white-text-span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
}

.top-10 {
    margin-top: 10vh;
}

.show-mobile {
    display: none;
}


/****/

.blue_email {
    color: #4048ff;
}

.link_paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #323754;
    /* margin: 0 auto;
  padding: 3vh 1em; */
}