<div class="separator"></div>
<div class="container_perso">
  <!-- class="container-fluid page-content" -->
  <div class="row" *ngIf="!(showSpinner && showSpinner2)">
    <div class="col-md-3 mobile_gen_notif">
      <div class="div_notifications" *ngIf="showNotification">
        <!-- ///////////////////////////////// -->

        <div class="d-flex align-items-center position-relative pb-3">
          <div
            class="row d-flex justify-content-center"
            *ngIf="showNotifcationMessage === 'showing-complete-profile'"
          >
            <circle-progress class="prog" [percent]="this.percentProf">
              ></circle-progress
            >
            <img
              [src]="user.userPicture"
              (error)="onImgError($event)"
              class="pic-profile"
            />
          </div>
          <div
            class="flex-shrink-0"
            *ngIf="showNotifcationMessage !== 'showing-complete-profile'"
          >
            <img class="img-md rounded-circle" [src]="getNotificationIcon()" />
          </div>
          <div class="flex-grow-1 ms-3 itext">
            <div
              class="d-flex align-items-start justify-content-between xbutton"
            >
              <h5 *ngIf="showNotifcationMessage != 'showing-complete-profile'">
                {{ getNotificationTitle() | translate }}
              </h5>

              <h5 *ngIf="showNotifcationMessage === 'showing-complete-profile'">
                <span>{{ 'notif_complete_profile_1' | translate }}</span>
                {{ percentProf }}%<span>{{
                  'notif_complete_profile_2' | translate
                }}</span>
              </h5>
              <div class="close-button coltext" (click)="hideNotification()">
                X
              </div>
            </div>
            <p class="coltext formttxt m-0">
              {{ getNotificationBody() | translate }}
            </p>
          </div>
        </div>

        <div
          class="d-flex justify-content-center"
          *ngIf="showNotifcationMessage === 'showing-campaign'"
        >
          <img
            [src]="'https://cloudflare-ipfs.com/ipfs/' + campaignCover"
            width="305.5"
            height="163.85"
          />
        </div>
        <div
          class="d-flex justify-content-center"
          *ngIf="
            !(
              showNotifcationMessage === 'showing-random-number' &&
              notificationRandomNumber === 2
            )
          "
        >
          <button [class]="getButtonClass()" (click)="navigateTo()">
            {{ getNotificationButtonTitle() | translate }}
          </button>
        </div>
        <div
          class="d-flex justify-content-center"
          *ngIf="
            showNotifcationMessage === 'showing-random-number' &&
            notificationRandomNumber === 2
          "
        >
          <div>
            <img src="./assets/Images/notif-facebook.svg" />
            <img src="./assets/Images/notif-twitter.svg" />
            <img src="./assets/Images/notif-telegram.svg" />
            <img src="./assets/Images/notif-btc.svg" />
          </div>
        </div>
        <!-- //////////////////////////////// -->
      </div>

      <div class="div_notifications-filter">
        <div class="lines line">
          <p class="ptext">{{ 'filtre_My Cryptos' | translate }}</p>
          <div class="d-flex align-items-start">
            <button
              *ngFor="let button of buttonData1; let i = index"
              class="button-crypto"
              (click)="enableDisableRule(button)"
              [ngClass]="{
                'button-crypto': button.toggle,
                'button-cryptock': !button.toggle
              }"
            >
              {{ button.text | translate }}
            </button>
          </div>
        </div>
        <div class="lines line">
          <p class="ptext">AdPools</p>
          <div class="form-check" *ngFor="let checkbox of checkboxData1">
            <input
              class="form-check-input"
              type="checkbox"
              [ngClass]="{
                checkbck: checkbox.toggle,
                checkb: !checkbox.toggle
              }"
              [checked]="checkbox.toggle"
              (click)="enableDisableRulecheck(checkbox)"
            />
            <label class="checkb">{{ checkbox.label | translate }}</label>
          </div>

          <p class="ptext">{{ 'filtre_Choose_statue' | translate }}</p>
          <div class="d-flex align-items-start">
            <button
              *ngFor="let button of buttonData2; let i = index"
              class="button-crypto"
              (click)="enableDisableRule(button)"
              [ngClass]="{
                'button-crypto': button.toggle,
                'button-cryptock': !button.toggle
              }"
            >
              {{ button.text | translate }}
            </button>
          </div>
        </div>
        <div class="lines line">
          <p class="ptext">{{ 'filre_My_links' | translate }}</p>
          <div class="d-flex align-items-start">
            <button
              *ngFor="let button of buttonData3; let i = index"
              class="button-crypto"
              (click)="enableDisableRule(button)"
              [ngClass]="{
                'button-crypto': button.toggle,
                'button-cryptock': !button.toggle
              }"
            >
              {{ button.text | translate }}
            </button>
          </div>
        </div>
        <div class="line">
          <p class="ptext">{{ 'filtre_Select_Social_media' | translate }}</p>

          <div class="form-check" *ngFor="let checkbox of checkboxData">
            <input
              class="form-check-input"
              type="checkbox"
              [ngClass]="{
                checkbck: checkbox.toggle,
                checkb: !checkbox.toggle
              }"
              [checked]="checkbox.toggle"
              (click)="enableDisableRulecheck(checkbox)"
            />
            <label class="checkb">{{ checkbox.label }}</label>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <button class="restfilter" (click)="resetFilter()">
          {{ 'filtre_button' | translate }}
        </button>
      </div>
    </div>
    <!-- <div class="row mb-4">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="">
                <span class="title-Notif ms-2  "> Notifications </span>
            </div>
        </div>
    </div> -->
    <!------------------------------------------------------------------------------------------------>
    <div class="col-md-9">
      <!-- <div class="div_filter"> -->
      <!-- <div class="d-flex justify-content-end" style="z-index: 1"> -->
      <!-- <div class="form-group"> -->
      <!-- <div class="search-filter-wrapper"> -->
      <!-- <input
                type="search"
                class="input_search mb-2"
                [(ngModel)]="term"
                (focus)="onFocus()"
                (focusout)="focusOutFunction()"
              /> -->
      <!-- <button class="filtre_button"> </button>-->
      <!-- <div id="dropdown-menu" class="dropdown-menu p-4">
                        <form [formGroup]="form">
                            <div class="col-md-12 d-flex justify-content-end "><i class="fa fa-chevron-up arrow"></i></div>
                            <div class="row ">
                                <div class="col-md-7 ">
                                    <h1 class="tiltle_dropdown-menu ">{{'notification_type' |translate}}</h1>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <select class="select" formControlName="type_notification" (click)="$event.stopPropagation()">
                                        <option class="options" *ngFor="let t of arrayTypeNotification" [value]="t.type">
                                             {{t.type_notif|translate}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <h1 class="tiltle_dropdown-menu  pt-3">{{ 'select_contact' | translate}}</h1>
                            <div class="row ">
                                <div class="col-md-12">
                                    <select class="select" formControlName="contact" (click)="$event.stopPropagation()">
                                        <option class="options" *ngIf="arrayContact?.length == 0 "> {{ 'no_contact'| translate}} </option>
                                        <option class="options" *ngFor="let c of arrayContact" [value]="c">{{c}}</option>
                                    </select>
                                </div>
                            </div>
                            <h1 class="tiltle_dropdown-menu pt-4">{{ 'select_date' | translate}}</h1>
                            <div class="row ">
                                <div class="col-md-5">
                                    <label class="placeholder_select_date"> {{ 'start_date' | translate}}</label>
                                    <input type="date" class="input_date" formControlName="date_debut" (click)="$event.stopPropagation()">
                                </div>
                                <div class="col-md-1 justify-content-center pt-4"> <img src="/assets/Images/-.png" style="margin-top: 20px; margin-left: 18px;" /></div>
                                <div class="col-md-5">
                                    <label class="placeholder_select_date"> {{ 'end_date' | translate}}</label>
                                    <input type="date" class="input_date" formControlName="date_fin" (click)="$event.stopPropagation()">
                                </div>
                            </div>
                            <div class="row justify-content-md-center pt-4">
                                <div class="col-md-7 ">
                                    <button class="btn_filter_dropdown-menu" (click)="filtrer()">
                                {{'campaign_list.bouton_filtre' |translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
      <!--===================================dropdown menu end ========================================================-->
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
      <!------------------------------------------------------------------------------------------------>
      <div
        class="search-results mt-5"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
      >
        <div
          class="row card_notif"
          [ngClass]="{
            notif_creation_down: isfocused,
            notif_creation_up: !isfocused
          }"
          *ngFor="
            let notification of dataNotificationFilter | filter: term;
            let last = last
          "
        >

          <ng-container *ngIf="!last">
            <div class="col-md-12" *ngIf="notification.value.length > 0">
              <div class="div_notification">
                <ng-container *ngIf="notification.value.length > 0">
                  <div
                    class="div_notif d-flex flex-row align-items-center p-3"
                    *ngFor="let i of notification.value"
                    (click)="redirect(i, shareSocial)"
                  >
                    <div
                      class="div_notif_child"
                      style="display: 'block'"
                      *ngIf="
                        !(
                          i.type === 'buy_some_gas' ||
                          i.type === 'invite_friends' ||
                          i.type === 'join_on_social'
                        )
                      "
                    >
                      <div style="display: 'block'">
                        <div style="display: 'flex'">
                          <div class="p-2 h-50 my-auto" id="{{ i._id }}  ">
                            <img
                              src="{{ getLinkIconValidate(i.label.cmp_link) }}"
                              alt="avtar"
                              class="pic_avatar_notif"
                              *ngIf="i.type === 'cmp_candidate_accept_link'"
                            />
                            <ng-container
                              *ngIf="
                                i.type === 'cmp_candidate_insert_link' &&
                                i.label.linkExist
                              "
                            >
                              <img
                                src="{{
                                  i.label.link.type === 'waiting_for_validation'
                                    ? getLinkIconWaitingValidation(i.label.link)
                                    : getLinkIconValidate(i.label.link.oracle)
                                }}"
                                alt="avtar"
                                class="pic_avatar_notif"
                              />
                            </ng-container>

                            <img
                              src="{{
                                getLinkIconWaitingValidation(i.label.prom)
                              }}"
                              *ngIf="
                                i.type === 'apply_campaign' && !!i.label.prom
                              "
                            />
                              <img 
                                alt="avtar"
                                class="pic_avatar_notif"
                                *ngIf="i.type === 'create_campaign'"
                                [src]="'data:image/png;base64,'+i.label.cmp_update.logo"
                                width="30px"
                              />
                            <img
                              src="{{ i.img }}"
                              alt="avtar"
                              class="pic_avatar_notif"
                              *ngIf="
                                i.type != 'cmp_candidate_accept_link' &&
                                !(
                                  i.type === 'apply_campaign' && !!i.label.prom
                                ) &&
                                !(
                                  i.type === 'cmp_candidate_insert_link' &&
                                  i.label.linkExist
                                ) && !(i.type === 'create_campaign')
                              "
                            />
                          </div>
                          <div class="col-md-11 col-lg-11 col-9 col-sm-9">
                            <p
                              class="label_avatar_notif p-0 m-0"
                              *ngIf="i.content"
                              [translate]="i.content"
                            ></p>
                            <p class="label_time_notif">
                              {{ i.createdFormated }}
                            </p>
                            <p
                              [ngClass]="'label_avatar_notif p-0 m-0'"
                              *ngIf="
                                i.type !== 'transfer_event' &&
                                i.type !== 'apply_campaign' &&
                                i.type !== 'cmp_candidate_accept_link' &&
                                i.type !== 'receive_transfer_event' &&
                                i.type !== 'create_campaign'
                              "
                              [translate]="i._label"
                              [translateParams]="i._params"
                            ></p>
                            <p
                              class="label_avatar_notif p-0 m-0"
                              *ngIf="
                                i.type === 'transfer_event' ||
                                i.type === 'receive_transfer_event' ||
                                i.type === 'apply_campaign' ||
                                i.type === 'cmp_candidate_accept_link' ||
                                i.type === 'create_campaign'
                              "
                            >
                              <span
                                *ngIf="i.type != 'create_campaign'"
                                [translate]="i._label"
                                [translateParams]="i._params"
                              ></span>
                              <span
                                *ngIf="i.type === 'cmp_candidate_accept_link'"
                                class="link"
                                [translate]="'cmp_candidate_accept_link_hash'"
                                [translateParams]="i._params"
                              ></span>
                              <span
                                *ngIf="i.type === 'apply_campaign'"
                                class="link"
                              ></span>
                              <span
                                *ngIf="i.type === 'transfer_event'"
                                class="link"
                                [translate]="'transfer_event_link'"
                                [translateParams]="i._params"
                              ></span>
                              <span
                                *ngIf="i.type === 'receive_transfer_event'"
                                class="link"
                                [translate]="'receive_event_link'"
                                [translateParams]="{ from: i._params.from }"
                              ></span>
                              <span *ngIf="i.type === 'create_campaign'">
                                {{

                                  getCampaignTitle(i.label.cmp_update)

                                 }}
                              </span>
                            </p>
                            <!-- <p class="label_avatar_notif p-0 m-0" *ngIf="i.type === 'apply_campaign'">

                              <span  [translate]="i._label" [translateParams]="i._params" ></span>
                              <span  class="link" [translate]="'apply_campaign_hash'" [translateParams]="i._params" ></span>
                             </p> -->
                          </div>
                        </div>

                        <div>
                          <div class="imgcent">
                            <ng-container *ngIf="i.img1">
                              <img
                                class="imgcentwh"
                                src="{{ i.img1 }}"
                                style="margin: center"
                                alt="avatar"
                              />
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <!-- LINKS -->
                      <div *ngIf="i.type === 'cmp_candidate_insert_link'">
                        <ng-container *ngIf="i.label.linkExist">
                          <div class="">
                            <img
                              class=""
                              alt=""
                              *ngIf="i.label.link.typeSN === 2"
                              [src]="generatePostThumbnail(i.label.link)"
                              loading="lazy"
                              class="cmp-img2"
                            />
                            <img
                              *ngIf="i.label.link.typeSN === 4"
                              [src]="i.label.link.media_url"
                              onerror="this.src='/assets/Images/campagne/twitter_cover.svg'"
                              class="cmp-img2"
                            />
                            <img
                              *ngIf="i.label.link.typeSN === 1"
                              [src]="i.label.link.media_url"
                              onerror="this.src='/assets/Images/cover-fb-gain.png'"
                              class="cmp-img2"
                            />

                            <ng-container
                              *ngIf="
                                i.label.link.typeSN === 3 &&
                                i.label.link.media_url.includes('mp4')
                              "
                            >
                              <video
                                [src]="i.label.link.media_url"
                                autoplay
                                loop
                                [muted]="true"
                              ></video>
                            </ng-container>

                            <ng-container
                              *ngIf="
                                i.label.link.typeSN === 3 &&
                                !i.label.link.media_url.includes('mp4')
                              "
                            >
                              <img
                                [src]="i.label.link.media_url"
                                onerror="this.src='/assets/Images/campagne/instagramm.svg'"
                                class="cmp-img2"
                              />
                            </ng-container>

                            <img
                              *ngIf="i.label.link.typeSN === 5"
                              [src]="i.label.link.media_url"
                              onerror="this.src='/assets/Images/linkedin-card.svg'"
                              class="cmp-img2"
                            />

                            <img
                              *ngIf="i.label.link.typeSN === 6"
                              [src]="i.label.link.media_url"
                              onerror="this.src='/assets/Images/tiktoksign.svg'"
                              class="cmp-img2"
                            />

                            <img
                              *ngIf="i.label.link.typeSN === 7"
                              [src]="
                                i.label.link.media_url
                                  .toString()
                                  .startsWith('https')
                                  ? i.label.link.mediaUrl
                                  : safeImageUrl(i.label.link.media_url)
                              "
                              onerror="this.src='/assets/Images/tiktoksign.svg'"
                              class="cmp-img2"
                            />
                          </div>

                          <div
                            *ngIf="
                              i.label.link.type === 'waiting_for_validation'
                            "
                          >
                            <button
                              class="btn_status"
                              (click)="linkAction('accept', i.label)"
                            >
                              <i class="bi bi-check2"></i>
                            </button>
                            <button
                              [ngClass]="'reject'"
                              class="btn_status"
                              (click)="linkAction('reject', i.label)"
                            >
                              <i class="bi bi-x"></i>
                            </button>
                          </div>
                        </ng-container>
                      </div>


                      <!-- CAMPAIGNS -->
                      <div *ngIf="i.type === 'create_campaign'">
                        <img 
                          [src]="'https://cloudflare-ipfs.com/ipfs/'+getCampaignCover(i.label.cmp_update.coverMobile)" 
                          height="350px"
                          width="700px"
                          style="pointer-events: none; border-top-left-radius: 30px 30px ; border-top-right-radius: 30px 30px;"
                        />
                        <div class="containerLogoTime">
                          <img 
                          alt="avtar"
                          class="pic_avatar_notif"
                          *ngIf="i.type === 'create_campaign'"
                          [src]="'data:image/png;base64,'+i.label.cmp_update.logo"
                          width="30px"
                          style="top: 0.5em !important; float: left;"
                        />
                        <div style="display: block; padding-top: 0.5em; padding-left: 3.5em; margin-top: 0.5em;">
                          <p style="margin-bottom: 0 !important; color: #1D2337; font-weight: 600; font-family: 'poppins';">{{ i.label.cmp_update.title }}</p>
                          <p style="margin-bottom: 0; color: #75758F">{{ getCampaignStartDate(i.label.cmp_update) }}</p>
                        </div>
                       
                        </div>
                        <p class="description_createCampaign">{{ i.label.cmp_update.resume }}</p>
                        
                        <button class="budget_button" *ngIf="i.label.cmp_update.type === 'finished'" [disabled]="disableRetrieveButtonAction(i.label.cmp_update)" (click)="redirectToCampaign(i.label.cmp_update)"> <span> <img class="svg_icons_budget" src="/assets/Images/Request1.svg" alt="down"/></span> Retrieve Budget</button>
                        <button [ngClass]= "'increase'" class="budget_button" *ngIf="i.label.cmp_update.type === 'apply'" (click)="redirectToCampaign(i.label.cmp_update)"> <span>  <img class="svg_icons_budget" src="/assets/Images/icon_coins.svg" alt="up"/> </span> Increase Budget</button>
                        
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------------------------------>
    <!--div spinner -->

    <!-- End div spinner -->

    <div
      *ngIf="this.errorMessagecode === 'No notifications found'"
      class="row pb-5"
    >
      <div
        class="d-flex justify-content-center text-center align-items-center flex-column"
      >
        <img class="not-found" src="/assets/Images/not-found.svg " />

        <p class="result-found">
          {{ 'No_result_found' | translate }}
        </p>
      </div>
      <!-- <div class="col-md-12 d-flex justify-content-center">
      <div class="text-muted h6 alert alert-secondary p-2 mt-4">
        {{ 'campaign_list.no_campaign' | translate }}
      </div>
    </div> -->
    </div>
    <!--  <div class="loading "  *ngIf="isloading"></div> -->
  </div>
  <div class="spinner-wrapper">
    <app-loading-logo
      *ngIf="showSpinner && showSpinner2"
      class="spinner"
    ></app-loading-logo>
  </div>
</div>
<ng-template #shareSocial>
  <div
    style="border-radius: 5px; padding: 2em 4em"
    class="d-flex flex-column justify-content-center align-content-center"
  >
    <a (click)="this.modalReference.close()"
      ><i
        class="fa fa-window-close"
        aria-hidden="true"
        style="position: absolute; top: 15px; right: 15px"
      ></i
    ></a>
    <h4>Share our website on social networks</h4>
    <div class="w-100 d-flex justify-content-center">
      <share-buttons
        theme="circles-dark"
        [include]="['copy', 'facebook', 'linkedin', 'twitter']"
        [showIcon]="true"
        [showText]="false"
        url="https://dapp.satt.io/welcome"
        description="Farm your social networks with SaTT"
      >
      </share-buttons>
    </div>
  </div>
</ng-template>

<ng-template #rejectLinkModal>
  <div class="">
    <div class="modal-header modal-customm">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        (click)="closeModal(rejectLinkModal)"
      ></button>
    </div>
    <div class="modal-body modal-customm mx-3">
      <div class="d-flex justify-content-center">
        <img class="" src="assets/Images/moonboy/MoonBoy-reject.png" />
      </div>
      <div class="d-flex justify-content-center mt-3">
        <h3 class="title-reject-prom">{{ 'reject-post' | translate }}</h3>
      </div>
      <div
        class="row d-flex justify-content-center mt-2"
        style="max-width: 95%; margin: 0 auto"
      >
        <div class="col-12">
          <p class="gray-dark-text">{{ 'rejectLink-text' | translate }}</p>
        </div>
      </div>

      <div class="col-12 mb-2">
        <form
          [formGroup]="reasonForm"
          class="d-flex align-items-center flex-column"
        >
          <div class="row w-75">
            <div class="row mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value="Irrelevant, illegible, or inaudible content"
                id="flexCheckDefault1"
                formControlName="reason1"
                name="reason1"
                (change)="onCheckboxChange($event, 'reason1')"
              />
              <label
                class="form-check-label gray-dark-text text-align-start ms-3"
                for="flexCheckDefault1"
              >
                {{ 'Irrelevant,_illegible,_or_inaudible_content' | translate }}
              </label>
            </div>

            <div class="row mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value="Inappropriate or offensive content"
                id="flexCheckDefault2"
                formControlName="reason2"
                name="reason2"
                (change)="onCheckboxChange($event, 'reason2')"
              />
              <label
                class="form-check-label gray-dark-text text-align-start ms-3"
                for="flexCheckDefault2"
              >
                {{ 'Inappropriate_or_offensive_content' | translate }}
              </label>
            </div>

            <div class="row mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value="Controversial content"
                id="flexCheckDefault3"
                formControlName="reason3"
                name="reason3"
                (change)="onCheckboxChange($event, 'reason3')"
              />
              <label
                class="form-check-label gray-dark-text text-align-start ms-3"
                for="flexCheckDefault3"
              >
                {{ 'Controversial_content' | translate }}
              </label>
            </div>

            <div class="row mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value="Something else"
                id="flexCheckDefault4"
                formControlName="reason4"
                name="reason4"
                (change)="onCheckboxChange($event, 'reason4')"
              />
              <label
                class="form-check-label gray-dark-text text-align-start ms-3"
                for="flexCheckDefault4"
              >
                <span> {{ 'Something_else' | translate }}</span>
                <small *ngIf="reasonForm.controls.reason4.value !== null">
                  {{ 'specify-the-reason' | translate }}</small
                >
              </label>
            </div>
          </div>
          <div
            class="row w-100 mt-2 mb-2"
            *ngIf="reasonForm.controls.reason4.value !== null"
          >
            <textarea
              class="type-textarea"
              formControlName="description"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="row d-flex justify-content-center">
        <button
          (click)="rejectLink(rejectLinkModal)"
          type="button"
          class="btn btn-reject"
          [disabled]="
            reasonForm.errors?.requireCheckboxes ||
            reasonForm.errors?.requiredElseReason
          "
          data-dismiss="modal"
        >
          <span *ngIf="!this.showLoadingSpinner">
            {{ 'Reject-now' | translate }}</span
          >
          <div
            *ngIf="this.showLoadingSpinner"
            class="spinner-border loading-spinner"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</ng-template>
