<div class="separator"></div>
<div style="margin-right: 70px !important">
  <!-- class="container-fluid page-content" -->
  <div class="row" *ngIf="!(showSpinner && showSpinner2)">
    <div class="col-md-3">
      <div class="div_notifications" *ngIf="showNotification">
        <!-- ///////////////////////////////// -->

        <div class="d-flex align-items-center position-relative pb-3">
          <div class="row d-flex justify-content-center" *ngIf="showNotifcationMessage === 'showing-complete-profile'">
            <circle-progress class="prog" [percent]="this.percentProf">
              ></circle-progress
            >
            <img
              [src]="user.userPicture"
              (error)="onImgError($event)"
              class="pic-profile"
            />
          
          </div>
          <div class="flex-shrink-0" *ngIf="showNotifcationMessage !== 'showing-complete-profile'">
            <img
              class="img-md rounded-circle"
              [src]="
              getNotificationIcon()"
              
             
            />
          </div>
          <div class="flex-grow-1 ms-3 itext" >
            <div
              class="d-flex align-items-start justify-content-between xbutton"
            >
              <h5 *ngIf="showNotifcationMessage != 'showing-complete-profile'">
                

                {{


                  getNotificationTitle() | translate
    
                }}

                
                
               
              
              
              
              </h5>

              <h5  *ngIf="showNotifcationMessage === 'showing-complete-profile'">
                <span>{{ "notif_complete_profile_1"  |translate}}</span> {{percentProf}}%<span>{{ 'notif_complete_profile_2'  | translate }}</span>
              </h5>
              <div class="close-button coltext" (click)="hideNotification()">X</div>
            </div>
            <p class="coltext formttxt m-0">
              {{ 
                getNotificationBody()
                
                | translate }}
              
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="showNotifcationMessage === 'showing-campaign'">
          <img
            [src]=" 'https://cloudflare-ipfs.com/ipfs/'+campaignCover"
            width="305.5"
            height="163.85"
          />
        </div>
        <div class="d-flex justify-content-center" *ngIf="!(showNotifcationMessage === 'showing-random-number' && notificationRandomNumber === 2)">
          <button class="button-rounded" (click)="navigateTo()">

            {{


              getNotificationButtonTitle() | translate

            }}


          </button>
        </div>
        <div class="d-flex justify-content-center" *ngIf="(showNotifcationMessage === 'showing-random-number' && notificationRandomNumber === 2)">
         <div>
          <img src="./assets/Images/notif-facebook.svg"/>
          <img src="./assets/Images/notif-twitter.svg"/>
          <img src="./assets/Images/notif-telegram.svg"/>
          <img src="./assets/Images/notif-btc.svg"/>
         </div>
        </div>
        <!-- //////////////////////////////// -->
      </div>

      <div class="div_notifications-filter">
        <div class="lines line">
          <p class="ptext">{{ 'filtre_My Cryptos' | translate }}</p>
          <div class="d-flex align-items-start">
            <button
              *ngFor="let button of buttonData1; let i = index"
              class="button-crypto"
              (click)="enableDisableRule(button)"
              [ngClass]="{
                'button-crypto': button.toggle,
                'button-cryptock': !button.toggle
              }"
            >
              {{ button.text | translate }}
            </button>
          </div>
        </div>
        <div class="lines line">
          <p class="ptext">AdPools</p>
          <div class="form-check" *ngFor="let checkbox of checkboxData1">
            <input
              class="form-check-input"
              type="checkbox"
              [ngClass]="{
                checkbck: checkbox.toggle,
                checkb: !checkbox.toggle
              }"
              (click)="enableDisableRulecheck(checkbox)"
            />
            <label class="checkb">{{ checkbox.label | translate }}</label>
          </div>

          <p class="ptext">{{ 'filtre_Choose_statue' | translate }}</p>
          <div class="d-flex align-items-start">
            <button
              *ngFor="let button of buttonData2; let i =index"
              class="button-crypto"
              (click)="enableDisableRule(button)"
              [ngClass]="{
                'button-crypto': button.toggle,
                'button-cryptock': !button.toggle
              }"
            >
              {{ button.text | translate }}
            </button>
          </div>
        </div>
        <div class="lines line">
          <p class="ptext">{{ 'filre_My_links' | translate }}</p>
          <div class="d-flex align-items-start">
            <button
              *ngFor="let button of buttonData3; let i = index"
              class="button-crypto"
              (click)="enableDisableRule(button)"
              [ngClass]="{
                'button-crypto': button.toggle,
                'button-cryptock': !button.toggle
              }"
            >

              {{ button.text  | translate }}
            </button>
          </div>
        </div>
        <div class="line">
          <p class="ptext">{{ 'filtre_Select_Social_media' | translate }}</p>

          <div class="form-check" *ngFor="let checkbox of checkboxData">
            <input
              class="form-check-input"
              type="checkbox"
              [ngClass]="{
                checkbck: checkbox.toggle,
                checkb: !checkbox.toggle
              }"
              (click)="enableDisableRulecheck(checkbox)"
            />
            <label class="checkb">{{ checkbox.label }}</label>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <button class="restfilter">
          {{ 'filtre_button' | translate }}
        </button>
      </div>
    </div>
    <!-- <div class="row mb-4">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="">
                <span class="title-Notif ms-2  "> Notifications </span>
            </div>
        </div>
    </div> -->
    <!------------------------------------------------------------------------------------------------>
    <div class="col-md-9">
      <!-- <div class="div_filter"> -->
        <!-- <div class="d-flex justify-content-end" style="z-index: 1"> -->
          <!-- <div class="form-group"> -->
            <!-- <div class="search-filter-wrapper"> -->
              <!-- <input
                type="search"
                class="input_search mb-2"
                [(ngModel)]="term"
                (focus)="onFocus()"
                (focusout)="focusOutFunction()"
              /> -->
              <!-- <button class="filtre_button"> </button>-->
              <!-- <div id="dropdown-menu" class="dropdown-menu p-4">
                        <form [formGroup]="form">
                            <div class="col-md-12 d-flex justify-content-end "><i class="fa fa-chevron-up arrow"></i></div>
                            <div class="row ">
                                <div class="col-md-7 ">
                                    <h1 class="tiltle_dropdown-menu ">{{'notification_type' |translate}}</h1>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <select class="select" formControlName="type_notification" (click)="$event.stopPropagation()">
                                        <option class="options" *ngFor="let t of arrayTypeNotification" [value]="t.type">
                                             {{t.type_notif|translate}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <h1 class="tiltle_dropdown-menu  pt-3">{{ 'select_contact' | translate}}</h1>
                            <div class="row ">
                                <div class="col-md-12">
                                    <select class="select" formControlName="contact" (click)="$event.stopPropagation()">
                                        <option class="options" *ngIf="arrayContact?.length == 0 "> {{ 'no_contact'| translate}} </option>
                                        <option class="options" *ngFor="let c of arrayContact" [value]="c">{{c}}</option>
                                    </select>
                                </div>
                            </div>
                            <h1 class="tiltle_dropdown-menu pt-4">{{ 'select_date' | translate}}</h1>
                            <div class="row ">
                                <div class="col-md-5">
                                    <label class="placeholder_select_date"> {{ 'start_date' | translate}}</label>
                                    <input type="date" class="input_date" formControlName="date_debut" (click)="$event.stopPropagation()">
                                </div>
                                <div class="col-md-1 justify-content-center pt-4"> <img src="/assets/Images/-.png" style="margin-top: 20px; margin-left: 18px;" /></div>
                                <div class="col-md-5">
                                    <label class="placeholder_select_date"> {{ 'end_date' | translate}}</label>
                                    <input type="date" class="input_date" formControlName="date_fin" (click)="$event.stopPropagation()">
                                </div>
                            </div>
                            <div class="row justify-content-md-center pt-4">
                                <div class="col-md-7 ">
                                    <button class="btn_filter_dropdown-menu" (click)="filtrer()">
                                {{'campaign_list.bouton_filtre' |translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
              <!--===================================dropdown menu end ========================================================-->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
      <!------------------------------------------------------------------------------------------------>
      <div
        class="search-results mt-5"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
      >
      <div
          class="row card_notif"
          [ngClass]="{
            notif_creation_down: isfocused,
            notif_creation_up: !isfocused
          }"

        *ngFor="let notification of dataNotification | filter: term; let last = last">
            <ng-container *ngIf="!last">
       
        
          <div class="col-md-12">
            <div class="div_notification">
              <div
                class="div_notif d-flex flex-row align-items-center p-3"
                *ngFor="let i of notification.value "
                (click)="redirect(i, shareSocial)"
              >
              <div style="display: 'block';" *ngIf="!(i.type === 'buy_some_gas' || i.type === 'invite_friends' || i.type === 'join_on_social')">

             
              <div style="display: 'block';">
                <div style="display: 'flex';">
                  <div class="p-2" id="{{ i._id }}  ">
                    
                      <img src="{{ getLinkIconValidate(i.label.cmp_link) }}" alt="avtar" class="pic_avatar_notif" *ngIf="i.type === 'cmp_candidate_accept_link' "/>

                      <img src="{{ getLinkIconWaitingValidation(i.label.prom)}}" *ngIf="i.type === 'apply_campaign' && !!i.label.prom"/>
                    
                      <img src="{{ i.img }}" alt="avtar" class="pic_avatar_notif" *ngIf="i.type != 'cmp_candidate_accept_link' && !(i.type === 'apply_campaign' && !!i.label.prom)"/>
                  </div>
                  <div class="col-md-11 col-lg-11 col-9 col-sm-9">
                   
                    <p
                      class="label_avatar_notif p-0 m-0"
                      *ngIf="i.content"
                      [translate]="i.content"
                    ></p>
                    <p class="label_time_notif">{{ i.createdFormated }}</p>
                    <p
                    [ngClass]="
                      'label_avatar_notif p-0 m-0'
                    "
                    *ngIf="
                      i.type !== 'transfer_event' &&
                      i.type !== 'apply_campaign' &&
                      i.type !== 'cmp_candidate_accept_link' &&
                      i.type !== 'receive_transfer_event'
                    "
                    [translate]="i._label"
                    [translateParams]="i._params"
                  ></p>
                    <p
                      class="label_avatar_notif p-0 m-0"
                      *ngIf="
                        i.type === 'transfer_event' ||
                        i.type === 'receive_transfer_event' ||
                        i.type === 'apply_campaign' ||
                        i.type === 'cmp_candidate_accept_link'
                      "
                    >
                      <span
                        [translate]="i._label"
                        [translateParams]="i._params"
                      ></span>
                      <span
                        *ngIf="i.type === 'cmp_candidate_accept_link'"
                        class="link"
                        [translate]="'cmp_candidate_accept_link_hash'"
                        [translateParams]="i._params"
                      ></span>
                      <span
                        *ngIf="i.type === 'apply_campaign'"
                        class="link"
                      ></span>
                      <span
                        *ngIf="i.type === 'transfer_event'"
                        class="link"
                        [translate]="'transfer_event_link'"
                        [translateParams]="i._params"
                      ></span>
                      <span
                        *ngIf="i.type === 'receive_transfer_event'"
                        class="link"
                        [translate]="'receive_event_link'"
                        [translateParams]="{ from: i._params.from }"
                      ></span>
                      <span *ngIf="i.type === 'cmp_candidate_insert_link'">
                        {{i | json}}
                      </span>
                    </p>
                    <!-- <p class="label_avatar_notif p-0 m-0" *ngIf="i.type === 'apply_campaign'">
                              <span  [translate]="i._label" [translateParams]="i._params" ></span>
                              <span  class="link" [translate]="'apply_campaign_hash'" [translateParams]="i._params" ></span>
                             </p> -->
                  </div>
                  
                </div>

                <div>
                  <div  class="imgcent">
                    <ng-container *ngIf="i.img1">
                      <img class="imgcentwh" src="{{ i.img1 }}" style="margin: center;" alt="avatar" />
                    </ng-container>
                  </div>
                </div>
                
              </div>
               
                
              </div>

             
            
            </div>
          </div>
          </div>
        </ng-container>
        </div>
      </div>
      
    </div>
    <!------------------------------------------------------------------------------------------------>
    <!--div spinner -->
   
    <!-- End div spinner -->

    <div
      *ngIf="this.errorMessagecode === 'No notifications found'"
      class="row pb-5"
    >
      <div
        class="d-flex justify-content-center text-center align-items-center flex-column"
      >
        <img class="not-found" src="/assets/Images/not-found.svg " />

        <p class="result-found">
          {{ 'No_result_found' | translate }}
        </p>
      </div>
      <!-- <div class="col-md-12 d-flex justify-content-center">
      <div class="text-muted h6 alert alert-secondary p-2 mt-4">
        {{ 'campaign_list.no_campaign' | translate }}
      </div>
    </div> -->
    </div>
    <!--  <div class="loading "  *ngIf="isloading"></div> -->
  </div>
  <div class="spinner-wrapper">
    <app-loading-logo *ngIf="showSpinner && showSpinner2" class="spinner"></app-loading-logo>
  </div>
</div>
<ng-template #shareSocial>
  <div
    style="border-radius: 5px; padding: 2em 4em"
    class="d-flex flex-column justify-content-center align-content-center"
  >
    <a (click)="this.modalReference.close()"
      ><i
        class="fa fa-window-close"
        aria-hidden="true"
        style="position: absolute; top: 15px; right: 15px"
      ></i
    ></a>
    <h4>Share our website on social networks</h4>
    <div class="w-100 d-flex justify-content-center">
      <share-buttons
        theme="circles-dark"
        [include]="['copy', 'facebook', 'linkedin', 'twitter']"
        [showIcon]="true"
        [showText]="false"
        url="https://dapp.satt.io/welcome"
        description="Farm your social networks with SaTT"
      >
      </share-buttons>
    </div>
  </div>
</ng-template>
