<!-- <head>
  <meta property="og:title" content="{{ 'campaign?.title' }}" />
  <meta property="og:description" content="{{ 'campaign?.summary' }}" />
  <meta property="og:image" content="{{ 'ogImageUrl' }}" />
 <meta property="og:title" [attr.content]="campaign?.title" />
  <meta property="og:description" [attr.content]="limitDescription(campaign?.summary)" />
  <meta property="og:image" [attr.content]="ogImageUrl" /> 
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
</head> -->

<ng-container *ngIf="campaign?.id === campaignId; else loading">
  <div class="content" style="min-height: 50vh">
    <router-outlet></router-outlet>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading-logo> </app-loading-logo>
</ng-template>
<!-- <div
  *ngIf="this.showmoonboy"
  class="d-block d-xl-block d-lg-block d-md-block div-footer"
  style="position: absolute; bottom: 1px; right: 0; z-index: 99"
>
  <app-footer-send-receive-buy
    [pageName]="'apply in '"
  ></app-footer-send-receive-buy>
</div> -->

<!-- <div
*ngIf="this.showmoonboy === true"
class="div-pic-text"
style="position: absolute; bottom: 1px; right: 0; z-index: 99"
>
  <div class="">
    <p class="text-moonboy d-flex flex-column">
      <span>{{ 'you-need-help' | translate }}</span>
      <span>{{ 'Read-our-FAQ-about' | translate }}</span
      ><a class="router-text" routerLink="/FAQ">
        {{ 'How-to-Tokens' | translate: { action: 'apply in ' } }} ></a
      >
    </p>
  </div>
  <img src="assets/Images/moonboy/moonboy-help.svg" class="picture-moonboy" />
</div> -->

<!--------------------footer mobile moonboy-------------------------------->
<!-- <div
  *ngIf="this.showmoonboy === true"
  class="showMobile div-footer-mobile d-none d-xl-none d-lg-none d-md-none d-sm-block d-xs-block p-0"
>
  <div class="div-pic-text">
    <div class="">
      <p class="text-moonboy d-flex flex-column">
        <span>{{ 'you-need-help' | translate }}</span>
        <span>{{ 'Read-our-FAQ-about' | translate }}</span
        ><a class="router-text" [routerLink]="['/FAQ']">
          {{ 'How-to-Tokens' | translate: { action: 'apply in ' } }} ></a
        >
      </p>
    </div>
    <img src="assets/Images/moonboy/moonboy-help.svg" class="picture-moonboy" />
  </div>
</div> -->
