<!--////////////********************************cryptoliste***********////////////////////////////////-->
<div class="container-login100 d-none d-md-block d-lg-block">
  <div class="col-12 d-flex justify-content-end">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6">
        <span class="Text7 me-1 mt-2 mb-4 d-flex">{{
          "13 Medias (3 en attente)" | translate
        }}</span>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6">
        <input
          id="key"
          class="key input_filed d-none d-sm-block d-flex"
          type="text"
          name="search"
          autocomplete="on"
        />
      
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6">
        <button
                _ngcontent-dxk-c203=""
                class="btn-blue"
                tabindex="0"
                ng-reflect-router-link=""
              >
                Rechercher
              </button>
      </div>
      <div class="col-md-6 col-lg-1 col-sm-6">

      <img _ngcontent-sir-c126="" src="/assets/Images/extra.svg" alt="" class="img-filter-icon">
      </div>

      <div class="search_icon d-block d-sm-none">
          
        <button id="bt" class="butsearchstyle pb-5">
          <img class="searchimg" src="./assets/Images/search2.svg" />
        </button>



      
      </div>

      <table style="table-layout: fixed">
        <tr
          class="BottomBorder TableFont"
          colspan="1"
          style="border-bottom: 1px solid #f6f6ff"
        >
          <th class="thFont tight" style="position: relative; left: 7px">
            {{ "Media" | translate }}
          </th>
          <th class="thFont tight textalignCenter" colspan="1">{{ "Nb.Vues" | translate }}
            <i _ngcontent-nku-c115="" aria-hidden="true" class="fa fa-angle-down angledown angeStyle"></i>

          </th>
          <th class="thFont tight textalignCenter" colspan="1">{{ "Nb.Likes" | translate }}
            <i _ngcontent-nku-c115="" aria-hidden="true" class="fa fa-angle-down angledown angeStyle"></i>


          </th>
          <th class="thFont tight textalignCenter" colspan="1">
            {{ "Nb.Partages" | translate }}
            <i _ngcontent-nku-c115="" aria-hidden="true" class="fa fa-angle-down angledown angeStyle"></i>

          </th>
          <th class="thFont tight textalignCenter" colspan="1">
            {{ "Total gagné" | translate }}
          </th>
        </tr>
        <tr
          class="BottomBorder"
          style="border-bottom: 1px solid #f6f6ff; background-color: #f6f6ff"
        >
          <th style="display: flex">
            <div class="d-flex align-items-end flex-column">
              <div class="DisplayFlex p-2" style="display: flex">
                <img
                  class="Icons me-1 mt-2"
                  src="/assets/Images/facebook-icon.svg"
                  alt=""
                />
                <div class="d-flex align-items-end flex-column">
                  <div
                    class="cryptoprice mt-4"
                    style="
                      font-style: normal;
                      font-weight: normal;
                      font-size: 10px;
                      line-height: 16px;
                      /* identical to box height */

                      letter-spacing: 0.03em;

                      color: #4048ff;
                    "
                  >
                    Q4 2020 : BULLS ARE BACK
                    <img
                      class="Icons me-1"
                      src="/assets/Images/link2.svg"
                      alt=""
                      style="width: 8px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </th>

          <th></th>
          <th></th>
          <th
            class="cryptoQTEx textalignStart pb-1"
            style="font-weight: 400; font-size: 1vw; letter-spacing: 0.03em"
          >
            <div class="d-flex align-items-end flex-column">
              <button
                _ngcontent-dxk-c203=""
                class="btn-white"
                tabindex="0"
                ng-reflect-router-link=""
              >
                Refuser
              </button>
            </div>
          </th>

          <th class="textalignStart pb-1">
            <button _ngcontent-hmm-c203="" type="submit" class="btn-green">
              Valider le média
            </button>
          </th>
        </tr>
        <tr class="BottomBorder" style="border-bottom: 1px solid #f6f6ff ;">
          <th style="display: flex">
            <div class="d-flex align-items-end flex-column">
              <div class="DisplayFlex p-2" style="display: flex">
                <img
                  class="Icons me-1 mt-2"
                  src="/assets/Images/facebook-icon.svg"
                  alt=""
                />
                <div class="d-flex align-items-end flex-column">
                  <div
                    class="cryptoprice mt-4"
                    style="
                      font-style: normal;
                      font-weight: normal;
                      font-size: 10px;
                      line-height: 16px;
                      /* identical to box height */

                      letter-spacing: 0.03em;

                      color: #4048ff;
                    "
                  >
                    Q4 2020 : BULLS ARE BACK
                    <img
                      class="Icons me-1"
                      src="/assets/Images/link2.svg"
                      alt=""
                      style="width: 8px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </th>

          <th>
            <div class="d-flex align-items-end flex-column">
              <div class="cryptoprice">
                1,115,448
                <img
                  class="Icons me-1"
                  src="/assets/Images/nbvue.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="d-flex align-items-end flex-column">
              <div class="cryptoprice">
                203,750
                <img
                  class="Icons me-1"
                  src="/assets/Images/like.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>
          <th
            class="cryptoQTEx textalignStart pb-1"
            style="font-weight: 400; font-size: 1vw; letter-spacing: 0.03em"
          >
            <div class="d-flex align-items-end flex-column">
              <div class="cryptoprice">
                245
                <img
                  class="Icons me-1"
                  src="/assets/Images/share.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>

          <th class="textalignStart pb-1">
            <div class="d-flex align-items-end flex-column me-2">
              <div class="cryptoprice">
                1,334,544,88
                <img
                  class="Icons me-1"
                  src="/assets/Images/TotalG.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>
        </tr>
        <tr class="BottomBorder" style="border-bottom: 1px solid #f6f6ff ;">
          <th style="display: flex">
            <div class="d-flex align-items-end flex-column">
              <div class="DisplayFlex p-2" style="display: flex">
                <img
                  class="Icons me-1 mt-2"
                  src="/assets/Images/facebook-icon.svg"
                  alt=""
                />
                <div class="d-flex align-items-end flex-column">
                  <div
                    class="cryptoprice mt-4"
                    style="
                      font-style: normal;
                      font-weight: normal;
                      font-size: 10px;
                      line-height: 16px;
                      /* identical to box height */

                      letter-spacing: 0.03em;

                      color: #4048ff;
                    "
                  >
                    Q4 2020 : BULLS ARE BACK
                    <img
                      class="Icons me-1"
                      src="/assets/Images/link2.svg"
                      alt=""
                      style="width: 8px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </th>

          <th>
            <div class="d-flex align-items-end flex-column">
              <div class="cryptoprice">
                1,115,448
                <img
                  class="Icons me-1"
                  src="/assets/Images/nbvue.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="d-flex align-items-end flex-column">
              <div class="cryptoprice">
                203,750
                <img
                  class="Icons me-1"
                  src="/assets/Images/like.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>
          <th
            class="cryptoQTEx textalignStart pb-1"
            style="font-weight: 400; font-size: 1vw; letter-spacing: 0.03em"
          >
            <div class="d-flex align-items-end flex-column">
              <div class="cryptoprice">
                245
                <img
                  class="Icons me-1"
                  src="/assets/Images/share.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>

          <th class="textalignStart pb-1">
            <div class="d-flex align-items-end flex-column me-2">
              <div class="cryptoprice">
                1,334,544,88
                <img
                  class="Icons me-1"
                  src="/assets/Images/TotalG.svg"
                  alt=""
                  style="width: 16px"
                />
              </div>
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
