<div class="cover-placeholder rectangle"></div>

<div class="details-wrapper">
  <div class="oracles-wrapper">
    <span class="oracle-placeholder circle"></span>
    <span class="oracle-placeholder circle"></span>
    <span class="oracle-placeholder circle"></span>
    <span class="oracle-placeholder circle"></span>
  </div>
  <div class="title-placeholder rectangle"></div>
  <div class="budget-placeholder rectangle"></div>
  <div class="end-date-placeholder rectangle"></div>
</div>

<div class="button-placeholder rectangle"></div>
